<div class="bg-danger">WARNING</div>


<ng-container *ngIf="isDiscrete then discreteBlock else continuousBlock"></ng-container>

<ng-template #discreteBlock>

  <ng-container *ngIf="isNode">
    <!-- ND -->
    <span *ngFor="let mapping of dataService.networkSelected.mappings.nodesDiscrete; let mapIndex = index;">
      <span *ngFor="let style of mapping.styleMap; let propertyIndex = index;">
        <div *ngIf="mapping.classifier === propertyToMap.name && style.cssKey === styleProperty"
             class="alert alert-danger"
             role="alert">
          <h5>
            <button
              [routerLink]="['', { outlets: {primary: ['edit', dataService.networkSelected.id, 'nd' + mapIndex, propertyIndex ]} }]"
              class="btn btn-sm btn-outline-secondary mr-4 float-left" data-toggle="tooltip"
              ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_EDIT_INSTEAD' | translate}}"
              placement="right"
              type="button">
              <fa-icon [icon]="faRoute"></fa-icon>
            </button>
            {{'MAIN_MAPPINGS_NEW_ALREADY_EXISTS' | translate}}
          </h5>
          <p>{{'MAIN_MAPPINGS_NEW_EDIT_INSTEAD' | translate}}</p>
        </div>
      </span>
    </span>
  </ng-container>

  <ng-container *ngIf="!isNode">
    <!-- ED -->
    <span *ngFor="let mapping of dataService.networkSelected.mappings.edgesDiscrete; let mapIndex = index;">
      <span *ngFor="let style of mapping.styleMap; let propertyIndex = index;">
        <div *ngIf="mapping.classifier === propertyToMap.name && style.cssKey === styleProperty"
             class="alert alert-danger"
             role="alert">
          <h5>
            <button
              [routerLink]="['', { outlets: {primary: ['edit', dataService.networkSelected.id, 'ed' + mapIndex, propertyIndex ]} }]"
              class="btn btn-sm btn-outline-secondary mr-4 float-left" data-toggle="tooltip"
              ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_EDIT_INSTEAD' | translate}}"
              placement="right"
              type="button">
              <fa-icon [icon]="faRoute"></fa-icon>
            </button>
            {{'MAIN_MAPPINGS_NEW_ALREADY_EXISTS' | translate}}
          </h5>
          <p>{{'MAIN_MAPPINGS_NEW_EDIT_INSTEAD' | translate}}</p>
        </div>
      </span>
    </span>
  </ng-container>

</ng-template>

<ng-template #continuousBlock>
  <ng-container *ngIf="isNode">
    <!-- NC -->
    <span *ngFor="let nodeMap of dataService.networkSelected.mappings.nodesContinuous; let mapIndex = index;">
        <div *ngIf="nodeMap.title[1] === propertyToMap.name && nodeMap.title[0] == styleProperty"
             class="alert alert-danger"
             role="alert">
          <h5>
            <button
              [routerLink]="['', { outlets: {primary: ['edit', dataService.networkSelected.id, 'nc' + mapIndex ]} }]"
              class="btn btn-sm btn-outline-secondary mr-4 float-left" data-toggle="tooltip"
              ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_EDIT_INSTEAD' | translate}}"
              placement="right"
              type="button">
              <fa-icon [icon]="faRoute"></fa-icon>
            </button>
            {{'MAIN_MAPPINGS_NEW_ALREADY_EXISTS' | translate}}
          </h5>
          <p>{{'MAIN_MAPPINGS_NEW_EDIT_INSTEAD' | translate}}</p>
        </div>
      </span>

  </ng-container>

  <ng-container *ngIf="!isNode">
    <!-- EC -->
    <span *ngFor="let nodeMap of dataService.networkSelected.mappings.edgesContinuous; let mapIndex = index;">
        <div *ngIf="nodeMap.title[1] === propertyToMap.name && nodeMap.title[0] == styleProperty"
             class="alert alert-danger"
             role="alert">
          <h5>
            <button
              [routerLink]="['', { outlets: {primary: ['edit', dataService.networkSelected.id, 'ec' + mapIndex ]} }]"
              class="btn btn-sm btn-outline-secondary mr-4 float-left" data-toggle="tooltip"
              ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_EDIT_INSTEAD' | translate}}"
              placement="right"
              type="button">
              <fa-icon [icon]="faRoute"></fa-icon>
            </button>
            {{'MAIN_MAPPINGS_NEW_ALREADY_EXISTS' | translate}}
          </h5>
          <p>{{'MAIN_MAPPINGS_NEW_EDIT_INSTEAD' | translate}}</p>
        </div>
      </span>
  </ng-container>
</ng-template>
