<!-- ND -->
<span *ngIf="typeHint.nd">
  <span *ngFor="let mapping of dataService.selectedNetwork.mappings.nodesDiscrete; let mapIndex = index;">
    <div *ngIf="mapping.col === propertyToMap.name && mapping.styleProperty === styleProperty"
         class="alert alert-danger"
         role="alert">
      <h5>
        <button
          [routerLink]="['', { outlets: {primary: ['edit', 'nd' + mapIndex]} }]"
          class="btn btn-sm btn-outline-secondary mr-4 float-left" data-toggle="tooltip"
          ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_EDIT_INSTEAD' | translate}}"
          placement="right"
          type="button">
          <fa-icon [icon]="faRoute"></fa-icon>
        </button>
        {{'MAIN_MAPPINGS_NEW_ALREADY_EXISTS' | translate}}
      </h5>
      <p>{{'MAIN_MAPPINGS_NEW_EDIT_INSTEAD' | translate}}</p>
    </div>
  </span>
</span>

<!-- ED -->
<span *ngIf="typeHint.ed">
  <span *ngFor="let mapping of dataService.selectedNetwork.mappings.edgesDiscrete; let mapIndex = index;">
    <div *ngIf="mapping.col === propertyToMap.name && mapping.styleProperty === styleProperty"
         class="alert alert-danger"
         role="alert">
      <h5>
        <button
          [routerLink]="['', { outlets: {primary: ['edit', 'ed' + mapIndex]} }]"
          class="btn btn-sm btn-outline-secondary mr-4 float-left" data-toggle="tooltip"
          ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_EDIT_INSTEAD' | translate}}"
          placement="right"
          type="button">
          <fa-icon [icon]="faRoute"></fa-icon>
        </button>
        {{'MAIN_MAPPINGS_NEW_ALREADY_EXISTS' | translate}}
      </h5>
      <p>{{'MAIN_MAPPINGS_NEW_EDIT_INSTEAD' | translate}}</p>
    </div>
  </span>
</span>

<!-- NC -->
<span *ngIf="typeHint.nc">
  <span *ngFor="let nodeMap of dataService.selectedNetwork.mappings.nodesContinuous; let mapIndex = index;">
      <div *ngIf="nodeMap.col === propertyToMap.name && nodeMap.styleProperty == styleProperty"
           class="alert alert-danger"
           role="alert">
        <h5>
          <button
            [routerLink]="['', { outlets: {primary: ['edit', 'nc' + mapIndex]} }]"
            class="btn btn-sm btn-outline-secondary mr-4 float-left" data-toggle="tooltip"
            ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_EDIT_INSTEAD' | translate}}"
            placement="right"
            type="button">
            <fa-icon [icon]="faRoute"></fa-icon>
          </button>
          {{'MAIN_MAPPINGS_NEW_ALREADY_EXISTS' | translate}}
        </h5>
        <p>{{'MAIN_MAPPINGS_NEW_EDIT_INSTEAD' | translate}}</p>
      </div>
    </span>

</span>

<!-- EC -->
<span *ngIf="typeHint.ec">
  <span *ngFor="let edgeMap of dataService.selectedNetwork.mappings.edgesContinuous; let mapIndex = index;">
        <div *ngIf="edgeMap.col === propertyToMap.name && edgeMap.styleProperty == styleProperty"
             class="alert alert-danger"
             role="alert">
          <h5>
            <button
              [routerLink]="['', { outlets: {primary: ['edit', 'ec' + mapIndex]} }]"
              class="btn btn-sm btn-outline-secondary mr-4 float-left" data-toggle="tooltip"
              ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_EDIT_INSTEAD' | translate}}"
              placement="right"
              type="button">
              <fa-icon [icon]="faRoute"></fa-icon>
            </button>
            {{'MAIN_MAPPINGS_NEW_ALREADY_EXISTS' | translate}}
          </h5>
          <p>{{'MAIN_MAPPINGS_NEW_EDIT_INSTEAD' | translate}}</p>
        </div>
      </span>
</span>

<!-- NP -->
<span *ngIf="typeHint.np">
  <span *ngFor="let nodeMap of dataService.selectedNetwork.mappings.nodesPassthrough; let mapIndex = index;">
    <div *ngIf="nodeMap.styleProperty === styleProperty"
         class="alert alert-info"
         role="alert">
      <h5>
        <button
          [routerLink]="['', { outlets: {primary: ['mappings', 'np' + mapIndex ]} }]"
          class="btn btn-sm btn-outline-secondary mr-4 float-left" data-toggle="tooltip"
          ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_INSPECT_INSTEAD' | translate}}"
          placement="right"
          type="button">
          <fa-icon [icon]="faRoute"></fa-icon>
        </button>
        {{'MAIN_MAPPINGS_NEW_ALREADY_EXISTS' | translate}}
      </h5>
      <p>{{'MAIN_MAPPINGS_NEW_INSPECT_INSTEAD' | translate}}</p>
    </div>
  </span>
</span>

<!-- EP -->
<span *ngIf="typeHint.ep">
  <span *ngFor="let edgeMap of dataService.selectedNetwork.mappings.edgesPassthrough; let mapIndex = index;">
    <div *ngIf="edgeMap.styleProperty === styleProperty"
         class="alert alert-info"
         role="alert">
      <h5>
        <button
          [routerLink]="['', { outlets: {primary: ['mappings', 'ep' + mapIndex ]} }]"
          class="btn btn-sm btn-outline-secondary mr-4 float-left" data-toggle="tooltip"
          ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_INSPECT_INSTEAD' | translate}}"
          placement="right"
          type="button">
          <fa-icon [icon]="faRoute"></fa-icon>
        </button>
        {{'MAIN_MAPPINGS_NEW_ALREADY_EXISTS' | translate}}
      </h5>
      <p>{{'MAIN_MAPPINGS_NEW_INSPECT_INSTEAD' | translate}}</p>
    </div>
  </span>
</span>
