<h1 class="mx-3 mt-3">

  <span class="mr-5">{{'MAIN_GRAPH_TITLE' | translate}}</span>


  <div class="btn-group" role="group">

    <button (click)="graphService.fitGraph()"
            class="btn btn-outline-success"
            container="body"
            data-toggle="tooltip"
            ngbTooltip="{{'MAIN_GRAPH_TT_FIT' | translate}}"
            openDelay="1000"
            placement="{{layoutService.layout.main.tooltipDirection}}">
      {{'MAIN_GRAPH_BTN_FIT' | translate}}
    </button>

    <div class="btn-group" role="group">
      <button [disabled]="layoutInProcessing"
              aria-expanded="false"
              aria-haspopup="true"
              class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown"
              id="graph_layout" type="button">
        {{'MAIN_GRAPH_BTN_LAYOUT' | translate}}
      </button>
      <div class="dropdown-menu">
        <a (click)="layoutGraph(method)"
           *ngFor="let method of graphService.graphLayoutMethods"
           class="dropdown-item">
          {{method}}
        </a>
      </div>
    </div>

    <button (click)="graphService.toggleLabels(!dataService.getSelectedNetwork().showLabels)"
            [ngClass]="dataService.getSelectedNetwork().showLabels ? 'btn-success' : 'btn-outline-success'"
            class="btn">
      {{('SIDEBAR_EDIT_CB_LABELS' + (dataService.getSelectedNetwork().showLabels ? '_FALSE' : '')) | translate}}
    </button>

  </div>

  <span class="float-right">
    <a *ngIf="dataService.selectedNetwork.id === 0"
       class="mr-4 mb-1"
       href="https://www.uni-augsburg.de/de/fakultaet/fai/informatik/prof/misit/"
       target="_blank">
      <img [ngStyle]="{'width.px': 60}"
           src="../../../assets/img/unicorn.png">
    </a>
  </span>

</h1>

<hr>

<div #cy id="cy"></div>

