<h1>

  <span class="mr-5">{{'MAIN_GRAPH_TITLE' | translate}}</span>


  <div class="btn-group" role="group">

    <button (click)="graphService.fitGraph()"
            class="btn btn-outline-success"
            data-toggle="tooltip"
            container="body"
            openDelay="1000"
            ngbTooltip="{{'MAIN_GRAPH_TT_FIT' | translate}}"
            placement="{{layoutService.layout.main.tooltipDirection}}">
      {{'MAIN_GRAPH_BTN_FIT' | translate}}
    </button>


      <div class="btn-group" role="group">
        <button class="btn btn-outline-success dropdown-toggle"
                [disabled]="layoutInProcessing"
                type="button"
                id="graph_layout" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          {{'MAIN_GRAPH_BTN_LAYOUT' | translate}}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item"
             *ngFor="let method of graphService.graphLayoutMethods"
             (click)="layoutGraph(method)">
            {{method}}
          </a>
        </div>
      </div>
  </div>



  <span class="float-right">
    <a *ngIf="dataService.selectedNetwork.id === 0"
       href="https://www.uni-augsburg.de/de/fakultaet/fai/informatik/prof/misit/"
       target="_blank"
       class="mr-4 mb-1">
      <img src="assets/unicorn.png"
           [ngStyle]="{'width.px': 60}">
    </a>
  </span>

</h1>

<hr>

<div #cy id="cy"></div>

