<ng-container *ngIf="dataService.selectedNetwork && this.propertyToMap">

  <h1>
    <a [routerLink]="['', { outlets: {primary: ['graph', dataService.selectedNetwork.id]} }]" data-toggle="tooltip"
       ngbTooltip="{{'MAIN_MAPPINGS_GRAPH' | translate}}" placement="right"
       role="button">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>
    {{dataService.selectedNetwork.networkInformation.name}}
  </h1>

  <hr>

  <!-- NEW: NodesDiscrete -->
  <div *ngIf="typeHint.nd">

    <span *ngIf="isEdit then editHeadlineNd else newHeadlineNd"></span>
    <ng-template #editHeadlineNd><h3>{{'MAIN_MAPPINGS_EDIT_ND' | translate}}</h3></ng-template>
    <ng-template #newHeadlineNd><h3>{{'MAIN_MAPPINGS_NEW_ND' | translate}}</h3></ng-template>

    <p>{{'MAIN_MAPPINGS_NEW_INSTRUCTIONS' | translate}}</p>

    <!-- ALERT: mapping already exists -->
    <app-alert-mapping-already-exists *ngIf="!isEdit"
                                      [typeHint]="typeHint"
                                      [propertyToMap]="propertyToMap"
                                      [styleProperty]="getCurrentStyleProperty()"></app-alert-mapping-already-exists>

    <!-- ALERT: distribution -->
    <div class="alert alert-info" role="alert">
      <button (click)="toggleDistributionChart(!showDistribution)" class="btn btn-sm btn-outline-secondary mr-4"
              data-toggle="tooltip"
              ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_DISTRIBUTION' | translate}}"
              placement="right"
              type="button">
        <fa-icon [icon]="faChartBar"></fa-icon>
      </button>
      {{'MAIN_MAPPINGS_NEW_SELECTED_ATTRIBUTE' | translate}}: <b>{{propertyToMap.name}}</b>
    </div>

    <!-- distribution chart -->
    <app-chart *ngIf="showDistribution" [widthPercent]="100" [chartObject]="chartObject"></app-chart>

    <!-- FORM -->
    <app-main-mappings-new-form *ngIf="discreteMapping"
                                (stylePropertyEmitter)="setStyleProperty($event)"
                                [typeHint]="typeHint"
                                [mappingDiscrete]="discreteMapping"
                                [propertyToMap]="propertyToMap"
                                [isEdit]="isEdit"></app-main-mappings-new-form>

  </div>

  <!-- NEW: NodesContinuous -->
  <div *ngIf="typeHint.nc">
    <span *ngIf="isEdit then editHeadlineNc else newHeadlineNc"></span>
    <ng-template #editHeadlineNc><h3>{{'MAIN_MAPPINGS_EDIT_NC' | translate}}</h3></ng-template>
    <ng-template #newHeadlineNc><h3>{{'MAIN_MAPPINGS_NEW_NC' | translate}}</h3></ng-template>

    <!-- ALERT: mapping already exists -->
    <app-alert-mapping-already-exists *ngIf="!isEdit"
                                      [typeHint]="typeHint"
                                      [propertyToMap]="propertyToMap"
                                      [styleProperty]="styleProperty">
    </app-alert-mapping-already-exists>

    <!-- ALERT: distribution -->
    <div class="alert alert-info" role="alert">

      <button (click)="toggleDistributionChart(!showDistribution)" class="btn btn-sm btn-outline-secondary mr-4"
              data-toggle="tooltip"
              ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_DISTRIBUTION' | translate}}"
              placement="right"
              type="button">
        <fa-icon [icon]="faChartBar"></fa-icon>
      </button>
      {{'MAIN_MAPPINGS_NEW_SELECTED_ATTRIBUTE' | translate}}: <b>{{propertyToMap.name}}</b>
    </div>

    <!-- distribution chart -->
    <app-chart *ngIf="showDistribution" [chartObject]="chartObject"
               [widthPercent]="100" [numberOfBins]="binSize" (binSizeEmitter)="changeBinSize($event)"></app-chart>

    <!-- ALERT: minimum und maximum (if available) -->
    <div class="alert alert-info" role="alert">
      <button (click)="showHints = !showHints" class="btn btn-sm btn-outline-secondary mr-4"
              data-toggle="tooltip"
              ngbTooltip="{{(!showHints ? 'MAIN_MAPPINGS_NEW_TT_HINTS_SHOW' : 'MAIN_MAPPINGS_NEW_TT_HINTS_HIDE') | translate}}"
              placement="right"
              type="button">
        <fa-icon [icon]="faQuestionCircle"></fa-icon>
      </button>
      <b>{{'MAIN_MAPPINGS_NEW_DEFAULT_HINT_HEADING' | translate}}</b>

      <div *ngIf="showHints">
        <ul>
          <li>{{'MAIN_MAPPINGS_NEW_DEFAULT_HINT_1' | translate}}</li>
          <li>{{'MAIN_MAPPINGS_NEW_DEFAULT_HINT_2' | translate}}</li>
          <li>{{'MAIN_MAPPINGS_NEW_DEFAULT_HINT_3' | translate}}</li>
        </ul>
      </div>
    </div>

    <!-- FORM -->
    <app-main-mappings-new-form *ngIf="continuousMapping"
                                (stylePropertyEmitter)="setStyleProperty($event)"
                                [isEdit]="isEdit"
                                [typeHint]="typeHint"
                                [propertyToMap]="propertyToMap"
                                [mappingContinuous]="continuousMapping"></app-main-mappings-new-form>

  </div>

  <!-- NEW: NodesPassthrough -->
  <div *ngIf="typeHint.np">
    <span *ngIf="isEdit then editHeadlineNp else newHeadlineNp"></span>
    <ng-template #editHeadlineNp><h3>{{'MAIN_MAPPINGS_EDIT_NP' | translate}}</h3></ng-template>
    <ng-template #newHeadlineNp><h3>{{'MAIN_MAPPINGS_NEW_NP' | translate}}</h3></ng-template>

    <!-- ALERT: mapping already exists -->
    <app-alert-mapping-already-exists *ngIf="!isEdit"
                                      [typeHint]="typeHint"
                                      [propertyToMap]="propertyToMap"
                                      [styleProperty]="styleProperty">
    </app-alert-mapping-already-exists>

    <!-- ALERT: distribution -->
    <div class="alert alert-info" role="alert">

      <button (click)="toggleDistributionChart(!showDistribution)" class="btn btn-sm btn-outline-secondary mr-4"
              data-toggle="tooltip"
              ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_DISTRIBUTION' | translate}}"
              placement="right"
              type="button">
        <fa-icon [icon]="faChartBar"></fa-icon>
      </button>
      {{'MAIN_MAPPINGS_NEW_SELECTED_ATTRIBUTE' | translate}}: <b>{{propertyToMap.name}}</b>
    </div>

    <!-- distribution chart -->
    <app-chart *ngIf="showDistribution" [chartObject]="chartObject"
               [widthPercent]="100"></app-chart>

    <!-- FORM -->
    <app-main-mappings-new-form *ngIf="passthroughMapping"
                                (stylePropertyEmitter)="setStyleProperty($event)"
                                [isEdit]="isEdit"
                                [typeHint]="typeHint"
                                [propertyToMap]="propertyToMap"
                                [mappingPassthrough]="passthroughMapping"></app-main-mappings-new-form>

  </div>

  <!-- NEW: EdgesDiscrete -->
  <div *ngIf="typeHint.ed">
    <span *ngIf="isEdit then editHeadlineEd else newHeadlineEd"></span>
    <ng-template #editHeadlineEd><h3>{{'MAIN_MAPPINGS_EDIT_ED' | translate}}</h3></ng-template>
    <ng-template #newHeadlineEd><h3>{{'MAIN_MAPPINGS_NEW_ED' | translate}}</h3></ng-template>
    <p>{{'MAIN_MAPPINGS_NEW_INSTRUCTIONS' | translate}}</p>

    <!-- ALERT: mapping already exists -->
    <app-alert-mapping-already-exists *ngIf="!isEdit"
                                      [typeHint]="typeHint"
                                      [propertyToMap]="propertyToMap"
                                      [styleProperty]="styleProperty"></app-alert-mapping-already-exists>

    <!-- ALERT: distribution -->
    <div class="alert alert-info" role="alert">
      <button (click)="toggleDistributionChart(!showDistribution)" class="btn btn-sm btn-outline-secondary mr-4"
              data-toggle="tooltip"
              ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_DISTRIBUTION' | translate}}"
              placement="right"
              type="button">
        <fa-icon [icon]="faChartBar"></fa-icon>
      </button>
      {{'MAIN_MAPPINGS_NEW_SELECTED_ATTRIBUTE' | translate}}: <b>{{propertyToMap.name}}</b>
    </div>

    <!-- distribution chart -->
    <app-chart *ngIf="showDistribution" [widthPercent]="100" [chartObject]="chartObject"></app-chart>


    <!-- FORM -->
    <app-main-mappings-new-form *ngIf="discreteMapping"
                                (stylePropertyEmitter)="setStyleProperty($event)"
                                [typeHint]="typeHint"
                                [mappingDiscrete]="discreteMapping"
                                [propertyToMap]="propertyToMap"
                                [isEdit]="isEdit"></app-main-mappings-new-form>
  </div>

  <!-- NEW: EdgesContinuous -->
  <div *ngIf="typeHint.ec">

    <span *ngIf="isEdit then editHeadlineEc else newHeadlineEc"></span>
    <ng-template #editHeadlineEc><h3>{{'MAIN_MAPPINGS_EDIT_EC' | translate}}</h3></ng-template>
    <ng-template #newHeadlineEc><h3>{{'MAIN_MAPPINGS_NEW_EC' | translate}}</h3></ng-template>

    <!-- ALERT: mapping already exists -->
    <app-alert-mapping-already-exists *ngIf="!isEdit"
                                      [typeHint]="typeHint"
                                      [propertyToMap]="propertyToMap"
                                      [styleProperty]="styleProperty">
    </app-alert-mapping-already-exists>

    <!-- ALERT: distribution -->
    <div class="alert alert-info" role="alert">

      <button (click)="toggleDistributionChart(!showDistribution)" class="btn btn-sm btn-outline-secondary mr-4"
              data-toggle="tooltip"
              ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_DISTRIBUTION' | translate}}"
              placement="right"
              type="button">
        <fa-icon [icon]="faChartBar"></fa-icon>
      </button>
      {{'MAIN_MAPPINGS_NEW_SELECTED_ATTRIBUTE' | translate}}: <b>{{propertyToMap.name}}</b>
    </div>

    <!-- distribution chart -->
    <app-chart *ngIf="showDistribution" [chartObject]="chartObject"
               [widthPercent]="100" [numberOfBins]="binSize"
               (binSizeEmitter)="this.changeBinSize($event)"></app-chart>

    <!-- ALERT: minimum and maximum (if available) -->
    <div class="alert alert-info" role="alert">
      <button (click)="showHints = !showHints" class="btn btn-sm btn-outline-secondary mr-4"
              data-toggle="tooltip"
              ngbTooltip="{{(!showHints ? 'MAIN_MAPPINGS_NEW_TT_HINTS_SHOW' : 'MAIN_MAPPINGS_NEW_TT_HINTS_HIDE') | translate}}"
              placement="right"
              type="button">
        <fa-icon [icon]="faQuestionCircle"></fa-icon>
      </button>
      <b>{{'MAIN_MAPPINGS_NEW_DEFAULT_HINT_HEADING' | translate}}</b>

      <div *ngIf="showHints">
        <ul>
          <li>{{'MAIN_MAPPINGS_NEW_DEFAULT_HINT_1' | translate}}</li>
          <li>{{'MAIN_MAPPINGS_NEW_DEFAULT_HINT_2' | translate}}</li>
          <li>{{'MAIN_MAPPINGS_NEW_DEFAULT_HINT_3' | translate}}</li>
        </ul>
      </div>
    </div>

    <app-main-mappings-new-form *ngIf="continuousMapping"
                                (stylePropertyEmitter)="setStyleProperty($event)"
                                [isEdit]="isEdit"
                                [typeHint]="typeHint"
                                [propertyToMap]="propertyToMap"></app-main-mappings-new-form>
  </div>

  <!-- NEW: EdgesPassthrough -->
  <div *ngIf="typeHint.ep">
    <span *ngIf="isEdit then editHeadlineEp else newHeadlineEp"></span>
    <ng-template #editHeadlineEp><h3>{{'MAIN_MAPPINGS_EDIT_EP' | translate}}</h3></ng-template>
    <ng-template #newHeadlineEp><h3>{{'MAIN_MAPPINGS_NEW_EP' | translate}}</h3></ng-template>

    <!-- ALERT: mapping already exists -->
    <app-alert-mapping-already-exists *ngIf="!isEdit"
                                      [typeHint]="typeHint"
                                      [propertyToMap]="propertyToMap"
                                      [styleProperty]="styleProperty">
    </app-alert-mapping-already-exists>

    <!-- ALERT: distribution -->
    <div class="alert alert-info" role="alert">

      <button (click)="toggleDistributionChart(!showDistribution)" class="btn btn-sm btn-outline-secondary mr-4"
              data-toggle="tooltip"
              ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_DISTRIBUTION' | translate}}"
              placement="right"
              type="button">
        <fa-icon [icon]="faChartBar"></fa-icon>
      </button>
      {{'MAIN_MAPPINGS_NEW_SELECTED_ATTRIBUTE' | translate}}: <b>{{propertyToMap.name}}</b>
    </div>

    <!-- distribution chart -->
    <app-chart *ngIf="showDistribution" [chartObject]="chartObject"
               [widthPercent]="100"></app-chart>

    <!-- FORM -->
    <app-main-mappings-new-form *ngIf="passthroughMapping"
                                (stylePropertyEmitter)="setStyleProperty($event)"
                                [isEdit]="isEdit"
                                [typeHint]="typeHint"
                                [propertyToMap]="propertyToMap"
                                [mappingPassthrough]="passthroughMapping"></app-main-mappings-new-form>

  </div>

</ng-container>
