<ng-container *ngIf="selectedNetwork">

  <h1>
    <a role="button" [routerLink]="['', { outlets: {primary: ['graph', selectedNetwork.id]} }]"
       data-toggle="tooltip" placement="right"
       ngbTooltip="{{'MAIN_MAPPINGS_GRAPH' | translate}}">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>
    {{selectedNetwork.networkInformation.name}}
  </h1>

  <hr>

  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{active: mappingsType.nd, disabled: !mappingsType.nd}" id="newNd"
         data-toggle="pill" href="#newNdForm"
         role="tab"
         aria-controls="newNd" aria-selected="false">{{'MAIN_MAPPINGS_NEW_TYPE_ND' | translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{active: mappingsType.nc, disabled: !mappingsType.nc}" id="newNc"
         data-toggle="pill" href="#newNcForm"
         role="tab"
         aria-controls="newNc" aria-selected="false">{{'MAIN_MAPPINGS_NEW_TYPE_NC' | translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{active: mappingsType.ed, disabled: !mappingsType.ed}" id="newEd"
         data-toggle="pill" href="#newEdForm"
         role="tab"
         aria-controls="newEd" aria-selected="false">{{'MAIN_MAPPINGS_NEW_TYPE_ED' | translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{active: mappingsType.ec, disabled: !mappingsType.ec}" id="newEc"
         data-toggle="pill" href="#newEcForm"
         role="tab"
         aria-controls="newEc" aria-selected="false">{{'MAIN_MAPPINGS_NEW_TYPE_EC' | translate}}</a>
    </li>
  </ul>

  <div class="tab-content p-2">

    <!-- NEW: NodesDiscrete -->
    <div class="tab-pane fade show" id="newNdForm" role="tabpanel" aria-labelledby="newNd"
         [ngClass]="{active: mappingsType.nd}">
      <h3>{{'MAIN_MAPPINGS_NEW_ND' | translate}}</h3>
      <p>{{'MAIN_MAPPINGS_NEW_INSTRUCTIONS' | translate}}</p>

      <!-- ALERT: mapping already exists -->
      <span *ngFor="let nodeMap of selectedNetwork.mappings.nodesDiscrete; let mapIndex = index;">
        <span *ngFor="let style of nodeMap.styleMap; let propertyIndex = index;">
          <div class="alert alert-danger" role="alert"
               *ngIf="nodeMap.classifier === propertyToMap.name && style.cssKey === styleProperty && !isEdit">
            <h5>
              <button type="button" class="btn btn-sm btn-outline-secondary mr-4 float-left" data-toggle="tooltip"
                      placement="right"
                      ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_EDIT_INSTEAD' | translate}}"
                      [routerLink]="['', { outlets: {primary: ['edit', selectedNetwork.id, 'nd' + mapIndex, propertyIndex ]} }]">
                <fa-icon [icon]="faRoute"></fa-icon>
              </button>
              {{'MAIN_MAPPINGS_NEW_ALREADY_EXISTS' | translate}}
            </h5>
            <p>{{'MAIN_MAPPINGS_NEW_EDIT_INSTEAD' | translate}}</p>
          </div>
        </span>
      </span>

      <!-- ALERT: distribution -->
      <div class="alert alert-info" role="alert">
        <button type="button" class="btn btn-sm btn-outline-secondary mr-4" data-toggle="tooltip"
                placement="right"
                ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_DISTRIBUTION' | translate}}"
                (click)="toggleDistributionChart(!showDistribution)">
          <fa-icon [icon]="faChartBar"></fa-icon>
        </button>
        {{'MAIN_MAPPINGS_NEW_SELECTED_ATTRIBUTE' | translate}}: <b>{{propertyToMap.name}}</b>
      </div>

      <!-- distribution chart -->
      <div *ngIf="showDistribution" [ngStyle]="{'width.%': 100}">
        <canvas baseChart
                [chartType]="'bar'"
                [datasets]="barChartData"
                [labels]="barChartLabels"></canvas>
        <hr>
      </div>

      <!-- FORM -->
      <form *ngIf="discreteMapping">
        <div class="form-group row">
          <label for="ndCssProperty"
                 class="col-4 col-form-label">{{'MAIN_MAPPINGS_NEW_CSS_PROPERTY_LABEL' | translate}}</label>
          <div class="col-6">
            <input type="text" class="form-control" id="ndCssProperty" name="ndCssProperty"
                   [(ngModel)]="styleProperty" [readOnly]="isEdit">
            <small class="form-text text-muted">{{'MAIN_MAPPINGS_NEW_CSS_HINT' | translate}}</small>
            <small *ngIf="needsColorValidation(styleProperty)"
                   class="form-text text-muted">{{'MAIN_MAPPINGS_NEW_COLOR_HINT' | translate}}</small>
          </div>

          <div class="col-2 form-check">
            <input class="form-check-input" type="checkbox" [checked]="validateAsColor || needsColorValidation(styleProperty)" id="ndColorValidation"
                   (click)="colorValidation($event)">
            <label class="form-check-label" for="ndColorValidation">
              {{'MAIN_MAPPINGS_NEW_CB_COLORS' | translate}}
            </label>
          </div>

        </div>

        <hr>

        <!-- values and input fields for each value -->
        <div class="form-group row" *ngFor="let entry of discreteMapping; let index = index">
          <label for="nd{{index}}" class="col-4 col-form-label">{{entry.isHR}}</label>
          <div class="col-6">
            <input type="text" class="form-control" id="nd{{index}}"
                   value="{{'MAIN_MAPPINGS_NEW_PLACEHOLDER' | translate}}" name="nd{{index}}"
                   [(ngModel)]="entry.cssValue">
          </div>
          <span *ngIf="needsColorValidation(styleProperty) || validateAsColor" class="badge badge-pill border col-2"
                [ngStyle]="{'background-color': entry.cssValue}">
            &nbsp;
          </span>
        </div>

        <!-- SUBMIT/CLEAR/ABORT -->
        <div class="row">
          <div class="col-4">
            <button type="button" class="btn btn-block btn-outline-danger"
                    data-toggle="tooltip" placement="top"
                    ngbTooltip="{{'MAIN_MAPPINGS_NEW_ABORT' | translate}}"
                    [routerLink]="['', { outlets: {primary: ['graph', selectedNetwork.id ]} }]">
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-block btn-outline-warning"
                    data-toggle="tooltip" placement="top"
                    ngbTooltip="{{'MAIN_MAPPINGS_NEW_CLEAR' | translate}}"
                    (click)="clearAllInputs()">
              <fa-icon [icon]="faUndo"></fa-icon>
            </button>
          </div>
          <div class="col-4">
            <!-- create new mapping -->
            <button *ngIf="!isEdit" type="button" class="btn btn-block btn-outline-success"
                    data-toggle="tooltip" placement="top" ngbTooltip="{{'MAIN_MAPPINGS_NEW_SUBMIT' | translate}}"
                    (click)="submitNewDiscreteMapping()"
                    [routerLink]="['', { outlets: {primary: ['mappings', selectedNetwork.id, 'nd' + (getNextIdForMappingType('nd')) ]} }]">
              <fa-icon [icon]="faCheck"></fa-icon>
            </button>
            <!-- edit existing mapping -->
            <button *ngIf="isEdit" type="button" class="btn btn-block btn-outline-success"
                    data-toggle="tooltip" placement="top" ngbTooltip="{{'MAIN_MAPPINGS_NEW_SUBMIT' | translate}}"
                    (click)="editMapping()"
                    [routerLink]="['', { outlets: {primary: ['mappings', selectedNetwork.id, 'nd' +  currentMappingId]} }]">
              <fa-icon [icon]="faCheck"></fa-icon>
            </button>
          </div>
        </div>

      </form>

    </div>

    <!-- NEW: NodesContinuous -->
    <div class="tab-pane fade show" id="newNcForm" role="tabpanel" aria-labelledby="newNc"
         [ngClass]="{active: mappingsType.nc}">
      <h3>{{'MAIN_MAPPINGS_NEW_NC' | translate}}</h3>

      <!-- ALERT: mapping already exists -->
      <span *ngFor="let nodeMap of selectedNetwork.mappings.nodesContinuous; let mapIndex = index;">
        <div class="alert alert-danger" role="alert"
             *ngIf="nodeMap.title[1] === propertyToMap.name && nodeMap.title[0].includes(styleProperty) && !isEdit">
          <h5>
            <button type="button" class="btn btn-sm btn-outline-secondary mr-4 float-left" data-toggle="tooltip"
                    placement="right"
                    ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_EDIT_INSTEAD' | translate}}"
                    [routerLink]="['', { outlets: {primary: ['edit', selectedNetwork.id, 'nc' + mapIndex ]} }]">
              <fa-icon [icon]="faRoute"></fa-icon>
            </button>
            {{'MAIN_MAPPINGS_NEW_ALREADY_EXISTS' | translate}}
          </h5>
          <p>{{'MAIN_MAPPINGS_NEW_EDIT_INSTEAD' | translate}}</p>
        </div>
      </span>

      <!-- ALERT: distribution -->
      <div class="alert alert-info" role="alert">

        <button type="button" class="btn btn-sm btn-outline-secondary mr-4" data-toggle="tooltip"
                placement="right"
                ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_DISTRIBUTION' | translate}}"
                (click)="toggleDistributionChart(!showDistribution)">
          <fa-icon [icon]="faChartBar"></fa-icon>
        </button>
        {{'MAIN_MAPPINGS_NEW_SELECTED_ATTRIBUTE' | translate}}: <b>{{propertyToMap.name}}</b>
      </div>

      <!-- distribution chart -->
      <div *ngIf="showDistribution" [ngStyle]="{'width.%': 100}">
        <canvas baseChart
                [chartType]="'scatter'"
                [datasets]="scatterChartData"
                [labels]="scatterChartLabels"></canvas>
        <hr>
      </div>

      <!-- ALERT: minimum und maximum (if available) -->
      <div class="alert alert-info" role="alert" *ngIf="propertyToMap.min !== null && propertyToMap.max !== null">
        <h5>{{'MAIN_MAPPINGS_NEW_DEFAULT_HINT_HEADING' | translate}}</h5>
        <p>{{'MAIN_MAPPINGS_NEW_DEFAULT_HINT' | translate}}</p>
        <p>{{'MAIN_MAPPINGS_NEW_CURRENT_MIN' | translate}}: <b>{{propertyToMap.min}}</b></p>
        <p>{{'MAIN_MAPPINGS_NEW_CURRENT_MAX' | translate}}: <b>{{propertyToMap.max}}</b></p>
      </div>

      <!-- FORM -->
      <form *ngIf="continuousMapping">
        <div class="form-group row">
          <label for="ncCssProperty"
                 class="col-4 col-form-label">{{'MAIN_MAPPINGS_NEW_CSS_PROPERTY_LABEL' | translate}}</label>
          <div class="col-6">
            <input type="text" class="form-control" id="ncCssProperty" name="ecCssProperty"
                   [(ngModel)]="styleProperty" [readOnly]="isEdit">
            <small class="form-text text-muted">{{'MAIN_MAPPINGS_NEW_CSS_HINT' | translate}}</small>
            <small *ngIf="needsColorValidation(styleProperty) || validateAsColor"
                   class="form-text text-muted">{{'MAIN_MAPPINGS_NEW_COLOR_HINT' | translate}}</small>
          </div>
          <div class="col-2 form-check">
            <input class="form-check-input" type="checkbox" [checked]="validateAsColor || needsColorValidation(styleProperty)" id="ncColorValidation"
                   (click)="colorValidation(!validateAsColor)">
            <label class="form-check-label" for="ncColorValidation">
              {{'MAIN_MAPPINGS_NEW_CB_COLORS' | translate}}
            </label>
          </div>
        </div>

        <!-- default lower -->
        <div class="form-group row" *ngIf="continuousMapping">
          <label for="ncDefaultLower"
                 class="col-4 col-form-label">{{'MAIN_MAPPINGS_NEW_DEFAULT_LOW' | translate}}</label>
          <div class="col-6">
            <input type="text" class="form-control" id="ncDefaultLower"
                   value="{{'MAIN_MAPPINGS_NEW_PLACEHOLDER' | translate}}" name="ncDefaultLower"
                   [(ngModel)]="continuousMapping.defaultLower">
          </div>
          <span *ngIf="needsColorValidation(styleProperty) || validateAsColor" class="badge badge-pill border col-2"
                [ngStyle]="{'background-color': continuousMapping.defaultLower}">
            &nbsp;
          </span>
        </div>

        <!-- thresholds -->
        <div class="form-group row" *ngFor="let threshold of continuousThresholds; let index = index">
          <div class="col-4">
            <input type="number" class="form-control" id="ncThreshold{{index}}" name="ncThreshold{{index}}"
                   value="{{'MAIN_MAPPINGS_NEW_PLACEHOLDER' | translate}}"
                   [(ngModel)]="threshold.value">
          </div>
          <div class="col-6">
            <input type="text" class="form-control" id="ncValue{{index}}" name="ncValue{{index}}"
                   [(ngModel)]="threshold.propertyValue">
          </div>
          <span *ngIf="needsColorValidation(styleProperty) || validateAsColor" class="badge badge-pill border col-2"
                [ngStyle]="{'background-color': threshold.propertyValue}">
            &nbsp;
          </span>
        </div>

        <!-- button to add more thresholds -->
        <div class="form-group row">
          <div class="col-10">
            <button class="btn btn-block btn-outline-info" (click)="addNewThreshold()">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
          </div>
        </div>

        <!-- default greater -->
        <div class="form-group row">
          <label for="ncDefaultGreater"
                 class="col-4 col-form-label">{{'MAIN_MAPPINGS_NEW_DEFAULT_GREAT' | translate}}</label>
          <div class="col-6">
            <input type="text" class="form-control" id="ncDefaultGreater"
                   value="{{'MAIN_MAPPINGS_NEW_PLACEHOLDER' | translate}}" name="ncDefaultGreater"
                   [(ngModel)]="continuousMapping.defaultGreater">
          </div>
          <span *ngIf="needsColorValidation(styleProperty) || validateAsColor" class="badge badge-pill border col-2"
                [ngStyle]="{'background-color': continuousMapping.defaultGreater}">
            &nbsp;
          </span>
        </div>

        <!-- SUBMIT/CLEAR/ABORT -->
        <div class="row">
          <div class="col-4">
            <button type="button" class="btn btn-block btn-outline-danger"
                    data-toggle="tooltip" placement="top"
                    ngbTooltip="{{'MAIN_MAPPINGS_NEW_ABORT' | translate}}"
                    [routerLink]="['', { outlets: {primary: ['graph', selectedNetwork.id ]} }]">
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-block btn-outline-warning"
                    data-toggle="tooltip" placement="top"
                    ngbTooltip="{{'MAIN_MAPPINGS_NEW_CLEAR' | translate}}"
                    (click)="clearAllInputs()">
              <fa-icon [icon]="faUndo"></fa-icon>
            </button>
          </div>
          <div class="col-4">
            <!-- create new mapping -->
            <button *ngIf="!isEdit" type="button" class="btn btn-block btn-outline-success"
                    data-toggle="tooltip" placement="top" ngbTooltip="{{'MAIN_MAPPINGS_NEW_SUBMIT' | translate}}"
                    (click)="submitNewContinuousMapping()"
                    [routerLink]="['', { outlets: {primary: ['mappings', selectedNetwork.id, 'nc' + (getNextIdForMappingType('nc')) ]} }]">
              <fa-icon [icon]="faCheck"></fa-icon>
            </button>
            <!-- edit existing mapping -->
            <button *ngIf="isEdit" type="button" class="btn btn-block btn-outline-success"
                    data-toggle="tooltip" placement="top" ngbTooltip="{{'MAIN_MAPPINGS_NEW_SUBMIT' | translate}}"
                    (click)="editMapping()"
                    [routerLink]="['', { outlets: {primary: ['mappings', selectedNetwork.id, 'nc' + currentMappingId ]} }]">
              <fa-icon [icon]="faCheck"></fa-icon>
            </button>
          </div>
        </div>
      </form>

    </div>

    <!-- NEW: EdgesDiscrete -->
    <div class="tab-pane fade show" id="newEdForm" role="tabpanel" aria-labelledby="newEd"
         [ngClass]="{active: mappingsType.ed}">
      <h3>{{'MAIN_MAPPINGS_NEW_ED' | translate}}</h3>
      <p>{{'MAIN_MAPPINGS_NEW_INSTRUCTIONS' | translate}}</p>

      <!-- ALERT: mapping already exists -->
      <span *ngFor="let edgeMap of selectedNetwork.mappings.edgesDiscrete; let mapIndex = index">
        <span *ngFor="let style of edgeMap.styleMap; let propertyIndex = index">
          <div class="alert alert-danger" role="alert"
               *ngIf="edgeMap.classifier === propertyToMap.name && style.cssKey === styleProperty && !isEdit">
            <h5>
              <button type="button" class="btn btn-sm btn-outline-secondary mr-4 float-left" data-toggle="tooltip"
                      placement="right"
                      ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_EDIT_INSTEAD' | translate}}"
                      [routerLink]="['', { outlets: {primary: ['edit', selectedNetwork.id, 'ed' + mapIndex, propertyIndex ]} }]">
                <fa-icon [icon]="faRoute"></fa-icon>
              </button>
              {{'MAIN_MAPPINGS_NEW_ALREADY_EXISTS' | translate}}
            </h5>
            <p>{{'MAIN_MAPPINGS_NEW_EDIT_INSTEAD' | translate}}</p>
          </div>
        </span>
      </span>

      <!-- ALERT: distribution -->
      <div class="alert alert-info" role="alert">
        <button type="button" class="btn btn-sm btn-outline-secondary mr-4" data-toggle="tooltip"
                placement="right"
                ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_DISTRIBUTION' | translate}}"
                (click)="toggleDistributionChart(!showDistribution)">
          <fa-icon [icon]="faChartBar"></fa-icon>
        </button>
        {{'MAIN_MAPPINGS_NEW_SELECTED_ATTRIBUTE' | translate}}: <b>{{propertyToMap.name}}</b>
      </div>

      <!-- distribution chart -->
      <div *ngIf="showDistribution" [ngStyle]="{'width.%': 100}">
        <canvas baseChart [ngStyle]="{'width.%': 100}"
                [chartType]="'bar'"
                [datasets]="barChartData"
                [labels]="barChartLabels"></canvas>
        <hr>
      </div>

      <!-- FORM -->
      <form *ngIf="discreteMapping">
        <div class="form-group row">
          <label for="edCssProperty"
                 class="col-4 col-form-label">{{'MAIN_MAPPINGS_NEW_CSS_PROPERTY_LABEL' | translate}}</label>
          <div class="col-6">
            <input type="text" class="form-control" id="edCssProperty" name="edCssProperty"
                   [(ngModel)]="styleProperty" [readOnly]="isEdit">
            <small class="form-text text-muted">{{'MAIN_MAPPINGS_NEW_CSS_HINT' | translate}}</small>
            <small *ngIf="needsColorValidation(styleProperty)"
                   class="form-text text-muted">{{'MAIN_MAPPINGS_NEW_COLOR_HINT' | translate}}</small>
          </div>

          <div class="col-2 form-check">
            <input class="form-check-input" type="checkbox" [checked]="validateAsColor || needsColorValidation(styleProperty)" id="edColorValidation"
                   (click)="colorValidation(!validateAsColor)">
            <label class="form-check-label" for="edColorValidation">
              {{'MAIN_MAPPINGS_NEW_CB_COLORS' | translate}}
            </label>
          </div>

        </div>

        <hr>

        <!-- values and input fields for each value -->
        <div class="form-group row" *ngFor="let entry of discreteMapping; let index = index">
          <label for="ed{{index}}" class="col-4 col-form-label">{{entry.isHR}}</label>
          <div class="col-6">
            <input type="text" class="form-control" id="ed{{index}}"
                   value="{{'MAIN_MAPPINGS_NEW_PLACEHOLDER' | translate}}" name="ed{{index}}"
                   [(ngModel)]="discreteMapping[index].cssValue">
          </div>
          <span *ngIf="needsColorValidation(styleProperty) || validateAsColor" class="badge badge-pill border col-2"
                [ngStyle]="{'background-color': entry.cssValue}">
            &nbsp;
          </span>
        </div>

        <!-- SUBMIT/CLEAR/ABORT -->
        <div class="row">
          <div class="col-4">
            <button type="button" class="btn btn-block btn-outline-danger"
                    data-toggle="tooltip" placement="top"
                    ngbTooltip="{{'MAIN_MAPPINGS_NEW_ABORT' | translate}}"
                    [routerLink]="['', { outlets: {primary: ['graph', selectedNetwork.id ]} }]">
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-block btn-outline-warning"
                    data-toggle="tooltip" placement="top"
                    ngbTooltip="{{'MAIN_MAPPINGS_NEW_CLEAR' | translate}}"
                    (click)="clearAllInputs()">
              <fa-icon [icon]="faUndo"></fa-icon>
            </button>
          </div>
          <div class="col-4">
            <!-- create new mapping -->
            <button *ngIf="!isEdit" type="button" class="btn btn-block btn-outline-success"
                    data-toggle="tooltip" placement="top" ngbTooltip="{{'MAIN_MAPPINGS_NEW_SUBMIT' | translate}}"
                    (click)="submitNewDiscreteMapping()"
                    [routerLink]="['', { outlets: {primary: ['mappings', selectedNetwork.id, 'ed' + (getNextIdForMappingType('ed')) ]} }]">
              <fa-icon [icon]="faCheck"></fa-icon>
            </button>
            <!-- edit existing mapping -->
            <button *ngIf="isEdit" type="button" class="btn btn-block btn-outline-success"
                    data-toggle="tooltip" placement="top" ngbTooltip="{{'MAIN_MAPPINGS_NEW_SUBMIT' | translate}}"
                    (click)="editMapping()"
                    [routerLink]="['', { outlets: {primary: ['mappings', selectedNetwork.id, 'ed' + currentMappingId ]} }]">
              <fa-icon [icon]="faCheck"></fa-icon>
            </button>
          </div>
        </div>

      </form>

    </div>

    <!-- NEW: EdgesContinuous -->
    <div class="tab-pane fade show" id="newEcForm" role="tabpanel" aria-labelledby="newEc"
         [ngClass]="{active: mappingsType.ec}">
      <h3>{{'MAIN_MAPPINGS_NEW_EC' | translate}}</h3>

      <!-- ALERT: mapping already exists -->
      <span *ngFor="let edgeMap of selectedNetwork.mappings.edgesContinuous; let mapIndex = index;">
        <div class="alert alert-danger" role="alert"
             *ngIf="edgeMap.title[1] === propertyToMap.name && edgeMap.title[0].includes(styleProperty) && !isEdit">
          <h5>
            <button type="button" class="btn btn-sm btn-outline-secondary mr-4 float-left" data-toggle="tooltip"
                    placement="right"
                    ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_EDIT_INSTEAD' | translate}}"
                    [routerLink]="['', { outlets: {primary: ['edit', selectedNetwork.id, 'ec' + mapIndex ]} }]">
              <fa-icon [icon]="faRoute"></fa-icon>
            </button>
            {{'MAIN_MAPPINGS_NEW_ALREADY_EXISTS' | translate}}
          </h5>
          <p>{{'MAIN_MAPPINGS_NEW_EDIT_INSTEAD' | translate}}</p>
        </div>
      </span>

      <!-- ALERT: distribution -->
      <div class="alert alert-info" role="alert">

        <button type="button" class="btn btn-sm btn-outline-secondary mr-4" data-toggle="tooltip"
                placement="right"
                ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_DISTRIBUTION' | translate}}"
                (click)="toggleDistributionChart(!showDistribution)">
          <fa-icon [icon]="faChartBar"></fa-icon>
        </button>
        {{'MAIN_MAPPINGS_NEW_SELECTED_ATTRIBUTE' | translate}}: <b>{{propertyToMap.name}}</b>
      </div>

      <!-- distribution chart -->
      <div *ngIf="showDistribution" [ngStyle]="{'width.%': 100}">
        <canvas baseChart
                [chartType]="'scatter'"
                [datasets]="scatterChartData"
                [labels]="scatterChartLabels"></canvas>
        <hr>
      </div>

      <!-- ALERT: minimum and maximum (if available) -->
      <div class="alert alert-info" role="alert" *ngIf="propertyToMap.min !== null && propertyToMap.max !== null">
        <h5>{{'MAIN_MAPPINGS_NEW_DEFAULT_HINT_HEADING' | translate}}</h5>
        <p>{{'MAIN_MAPPINGS_NEW_DEFAULT_HINT' | translate}}</p>
        <p>{{'MAIN_MAPPINGS_NEW_CURRENT_MIN' | translate}}: <b>{{propertyToMap.min}}</b></p>
        <p>{{'MAIN_MAPPINGS_NEW_CURRENT_MAX' | translate}}: <b>{{propertyToMap.max}}</b></p>
      </div>

      <!-- FORM -->
      <form *ngIf="continuousMapping">
        <div class="form-group row">
          <label for="ecCssProperty"
                 class="col-4 col-form-label">{{'MAIN_MAPPINGS_NEW_CSS_PROPERTY_LABEL' | translate}}</label>
          <div class="col-6">
            <input type="text" class="form-control" id="ecCssProperty" name="ecCssProperty"
                   [(ngModel)]="styleProperty" [readOnly]="isEdit">
            <small class="form-text text-muted">{{'MAIN_MAPPINGS_NEW_CSS_HINT' | translate}}</small>
            <small *ngIf="needsColorValidation(styleProperty) || validateAsColor"
                   class="form-text text-muted">{{'MAIN_MAPPINGS_NEW_COLOR_HINT' | translate}}</small>
          </div>
          <div class="col-2 form-check">
            <input class="form-check-input" type="checkbox" [checked]="validateAsColor || needsColorValidation(styleProperty)" id="ecColorValidation"
                   (click)="colorValidation(!validateAsColor)">
            <label class="form-check-label" for="ecColorValidation">
              {{'MAIN_MAPPINGS_NEW_CB_COLORS' | translate}}
            </label>
          </div>
        </div>

        <!-- default lower -->
        <div class="form-group row" *ngIf="continuousMapping">
          <label for="ecDefaultLower"
                 class="col-4 col-form-label">{{'MAIN_MAPPINGS_NEW_DEFAULT_LOW' | translate}}</label>
          <div class="col-6">
            <input type="text" class="form-control" id="ecDefaultLower"
                   value="{{'MAIN_MAPPINGS_NEW_PLACEHOLDER' | translate}}" name="ecDefaultLower"
                   [(ngModel)]="continuousMapping.defaultLower">
          </div>
          <span *ngIf="needsColorValidation(styleProperty) || validateAsColor" class="badge badge-pill border col-1"
                [ngStyle]="{'background-color': continuousMapping.defaultLower}">
            &nbsp;
          </span>
        </div>

        <!-- thresholds -->
        <div class="form-group row" *ngFor="let threshold of continuousThresholds; let index = index">
          <div class="col-4">
            <input type="number" class="form-control" id="ecThreshold{{index}}" name="ecThreshold{{index}}"
                   value="{{'MAIN_MAPPINGS_NEW_PLACEHOLDER' | translate}}"
                   [(ngModel)]="threshold.value">
          </div>
          <div class="col-6">
            <input type="text" class="form-control" id="ecValue{{index}}" name="ecValue{{index}}"
                   [(ngModel)]="threshold.propertyValue">
          </div>
          <span *ngIf="needsColorValidation(styleProperty) || validateAsColor" class="badge badge-pill border col-2"
                [ngStyle]="{'background-color': threshold.propertyValue}">
            &nbsp;
          </span>
        </div>

        <!-- button to add more thresholds -->
        <div class="form-group row">
          <div class="col-10">
            <button class="btn btn-block btn-outline-info" (click)="addNewThreshold()">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
          </div>
        </div>

        <!-- default greater -->
        <div class="form-group row">
          <label for="ecDefaultGreater"
                 class="col-4 col-form-label">{{'MAIN_MAPPINGS_NEW_DEFAULT_GREAT' | translate}}</label>
          <div class="col-6">
            <input type="text" class="form-control" id="ecDefaultGreater"
                   value="{{'MAIN_MAPPINGS_NEW_PLACEHOLDER' | translate}}" name="ecDefaultGreater"
                   [(ngModel)]="continuousMapping.defaultGreater">
          </div>
          <span *ngIf="needsColorValidation(styleProperty) || validateAsColor" class="badge badge-pill border col-2"
                [ngStyle]="{'background-color': continuousMapping.defaultGreater}">
            &nbsp;
          </span>
        </div>

        <!-- SUBMIT/CLEAR/ABORT -->
        <div class="row">
          <div class="col-4">
            <button type="button" class="btn btn-block btn-outline-danger"
                    data-toggle="tooltip" placement="top"
                    ngbTooltip="{{'MAIN_MAPPINGS_NEW_ABORT' | translate}}"
                    [routerLink]="['', { outlets: {primary: ['graph', selectedNetwork.id ]} }]">
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-block btn-outline-warning"
                    data-toggle="tooltip" placement="top"
                    ngbTooltip="{{'MAIN_MAPPINGS_NEW_CLEAR' | translate}}"
                    (click)="clearAllInputs()">
              <fa-icon [icon]="faUndo"></fa-icon>
            </button>
          </div>
          <div class="col-4">
            <!-- create new mapping -->
            <button *ngIf="!isEdit" type="button" class="btn btn-block btn-outline-success"
                    data-toggle="tooltip" placement="top" ngbTooltip="{{'MAIN_MAPPINGS_NEW_SUBMIT' | translate}}"
                    (click)="submitNewContinuousMapping()"
                    [routerLink]="['', { outlets: {primary: ['mappings', selectedNetwork.id, 'ec' + (getNextIdForMappingType('ec')) ]} }]">
              <fa-icon [icon]="faCheck"></fa-icon>
            </button>
            <!-- edit existing mapping -->
            <button *ngIf="isEdit" type="button" class="btn btn-block btn-outline-success"
                    data-toggle="tooltip" placement="top" ngbTooltip="{{'MAIN_MAPPINGS_NEW_SUBMIT' | translate}}"
                    (click)="editMapping()"
                    [routerLink]="['', { outlets: {primary: ['mappings', selectedNetwork.id, 'ec' + currentMappingId ]} }]">
              <fa-icon [icon]="faCheck"></fa-icon>
            </button>
          </div>
        </div>

      </form>

    </div>
  </div>

</ng-container>
