<b>{{col}}</b>

<!-- OPTIONS -->
<div class="row">

  <!-- INSPECT -->
  <div class="col-4">
    <button (click)="toggleInspectionMode()"
            [disabled]="editMode"
            [ngClass]="editMode ? 'btn-outline-secondary' : 'btn-outline-info'"
            class="btn btn-sm btn-block"
            data-toggle="tooltip"
            ngbTooltip="{{'SIDEBAR_EDIT_TT_INSPECTION_MODE' | translate}}"
            openDelay="1000"
            placement="{{layoutService.layout.sidebar.tooltipDirection}}"
            type="button">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </div>

  <!-- EDIT -->
  <div class="col-4">
    <button (click)="toggleEditMode()"
            [disabled]="markedForDeletion || dataService.lockRouting"
            [ngClass]="editMode
                      ? 'btn-warning'
                      : markedForDeletion || dataService.lockRouting
                        ? 'btn-outline-secondary'
                        : 'btn-outline-warning'"
            class="btn btn-sm btn-block"
            data-toggle="tooltip"
            ngbTooltip="{{'SIDEBAR_EDIT_TT_EDIT_MODE' | translate}}"
            openDelay="1000"
            placement="{{layoutService.layout.sidebar.tooltipDirection}}"
            type="button">
      <fa-icon [icon]="faEdit"></fa-icon>
    </button>
  </div>

  <!-- DELETE -->
  <div class="col-4">
    <button (click)="markForDeletion()"
            [disabled]="editMode"
            [ngClass]="markedForDeletion
                      ? 'btn-danger'
                      : (editMode)
                        ? 'btn-outline-secondary'
                        : 'btn-outline-danger'"
            class="btn btn-sm btn-block"
            container="body"
            data-toggle="tooltip"
            ngbTooltip="{{'SIDEBAR_EDIT_TT_DELETE_ALL' | translate}}"
            openDelay="1000"
            placement="{{layoutService.layout.sidebar.tooltipDirection}}"
            type="button">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>
</div>

<app-chart (binSizeEmitter)="setBinSize($event, colProperty)"
           *ngIf="displayChart"
           [chartObject]="chart"
           [numberOfBins]="chartNumberOfBins"></app-chart>

<!-- INSPECT -->
<div *ngIf="inspectionMode" class="table-responsive mt-2">
  <table class="table table-borderless table-striped">

    <!-- STYLE PROPERTIES -->
    <tr class="border-bottom">
      <td class="border-right">
        <button (click)="toggleChart()"
                class="btn btn-outline-primary btn-block"
                type="button">
          {{col}}
        </button>
      </td>

      <!-- INSPECT: loop mappings which are already applied -->
      <td
        *ngFor="let styleProperty of discreteMapping|stylePropertiesByCol: col">
        <b>{{styleProperty}}</b>
      </td>

    </tr>
    <!-- Values when INSPECTING -->
    <ng-container *ngIf="inspectionMode">

      <tr *ngFor="let key of (discreteMapping|collectionDiscrete).keys; let index" class="border-bottom">

        <td class="border-right">{{key}}</td>

        <td *ngFor="let item of (discreteMapping|collectionDiscrete)[key]">

          {{item}}
          <span *ngIf="!!item"
                [ngClass]="item.toString().startsWith('#') ? 'badge badge-pill border' : 'd-none'"
                [ngStyle]="{'background-color': item}">
              &nbsp;
          </span>
        </td>

      </tr>

    </ng-container>

  </table>
</div>

<!-- EDIT -->
<form (ngSubmit)="onSubmitEdit()" *ngIf="editMode"
      [formGroup]="discreteMappingForm" class="table-responsive mt-2">
  <table class="table table-borderless">

    <!-- STYLE PROPERTIES -->
    <tr class="border-bottom">

      <!-- toggle chart -->
      <td class="border-right">
        <button (click)="toggleChart()"
                class="btn btn-outline-primary btn-block"
                type="button">
          {{col}}
        </button>
      </td>

      <!-- EDIT: loop mappings which are already applied -->
      <td *ngFor="let styleProperty of styleProperties.controls; let stylePropertyIndex = index"
          formArrayName="styleProperties">
        <b>{{styleProperty.value}}</b>

        <div class="row mt-3">
          <!-- Remove this mapping -->
          <div class="col-6">
            <button (click)="removeMapping(stylePropertyIndex)" [disabled]="flashMode"
                    class="btn btn-block btn-outline-danger"
                    type="button">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>

          <!-- Reset this mapping -->
          <div class="col-6">
            <button (click)="resetMapping(styleProperty.value, stylePropertyIndex)" [disabled]="flashMode"
                    class="btn btn-block btn-outline-warning"
                    type="button">
              <fa-icon [icon]="faRedo"></fa-icon>
            </button>
          </div>
        </div>
      </td>

      <!-- ADD NEW STYLEPROPERTY TO THIS MAPPING -->
      <td>
        <button (click)="showNewMappingForm = !showNewMappingForm"
                *ngIf="!showNewMappingForm"
                [disabled]="flashMode"
                class="btn btn-outline-success">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>

        <!-- NEW STYLE FORM -->
        <form (ngSubmit)="onSubmitNewMappingStyleProperty()"
              *ngIf="showNewMappingForm"
              [formGroup]="newMappingForm">

          <div class="form-row form-add-mapping">
            <div class="col-8">
              <input [ngClass]="newMappingForm.get('styleProperty').errors !== null
                          && (newMappingForm.get('styleProperty').touched
                              || newMappingForm.get('styleProperty').dirty)
                          ? 'border border-danger'
                          : newMappingForm.get('styleProperty').errors === null ? 'border border-success' : ''" [ngbTypeahead]="suggestStyleProperties" class="form-control" container="body"
                     formControlName="styleProperty"
                     id="styleProperty"
                     name="styleProperty"
                     type="text">

            </div>

            <div class="col-2">
              <button (click)="resetNewMappingForm()"
                      class="btn btn-outline-secondary"
                      type="button">
                <fa-icon [icon]="faTimes"></fa-icon>
              </button>
            </div>

            <div class="col-2">
              <button [disabled]="newMappingForm.invalid"
                      class="btn btn-outline-success"
                      type="submit">
                <fa-icon [icon]="faCheck"></fa-icon>
              </button>
            </div>

          </div>

          <small [innerHTML]="'SIDEBAR_EDIT_TT_PROPERTY_HINT' | translate"
                 class="form-row mt-1 text-muted"></small>

          <div class="form-row mt-1">
            <small *ngIf="(newMappingForm.get('styleProperty').touched || newMappingForm.get('styleProperty').dirty)
                                                  && newMappingForm.get('styleProperty').errors !== null">

              <fa-icon [icon]="faExclamationTriangle"
                       class="text-danger">
              </fa-icon>

              <ng-container *ngIf="newMappingForm.get('styleProperty').errors['required'];
                                                      then errRequired
                                                      else errStylePropertyName"></ng-container>

              <ng-template #errRequired>
                {{'SIDEBAR_EDIT_STYLE_PROP_VALIDATION_ERROR_REQUIRED' | translate}}
              </ng-template>

              <ng-template #errStylePropertyName>
                {{'SIDEBAR_EDIT_STYLE_PROP_VALIDATION_ERROR_INPUT' | translate}}
              </ng-template>

            </small>

            <small *ngIf="(newMappingForm.get('styleProperty').touched || newMappingForm.get('styleProperty').dirty)
                                                  && newMappingForm.get('styleProperty').errors === null">
              <fa-icon [icon]="faCheckCircle"
                       class="text-success">
              </fa-icon>
              {{'SIDEBAR_EDIT_VALIDATION_OK' | translate}}
            </small>
          </div>
        </form>

      </td>
    </tr>

    <!-- VALUES -->
    <tr *ngFor="let cv of this.colValues.controls; let cvIndex = index"
        class="border-bottom" formArrayName="colValues">

      <ng-container [formGroupName]="cvIndex">

        <ng-container
          *ngFor="let assignedCollection of cv.get('assignedValues')['controls']; let assignedCollectionIndex = index"
          class="form-control" formArrayName="assignedValues">

          <td *ngIf="assignedCollectionIndex === 0" class="border-right">
            {{cv.get('colValue').value}}
          </td>

          <td class="deletable">

            <!-- Add cell -->
            <button (click)="addValue(cvIndex, assignedCollectionIndex)" *ngIf="!cv.get('useValues')['controls'][assignedCollectionIndex].value" [disabled]="flashMode"
                    class="btn btn-block btn-light"
                    type="button">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>

            <!-- Cell value -->
            <table *ngIf="cv.get('useValues')['controls'][assignedCollectionIndex].value"
                   class="table table-borderless">
              <tr>

                <!-- VALUES -->
                <td class="slim wide">

                  <!-- COLOR -->
                  <input *ngIf="cv.get('attributes')['controls'][assignedCollectionIndex].value === utilityService.attributeType.color"
                         [defaultValue]="'#000000'"
                         [formControlName]="assignedCollectionIndex"
                         class="form-control"
                         type="color">

                  <!-- NUMERIC -->
                  <input *ngIf="cv.get('attributes')['controls'][assignedCollectionIndex].value === utilityService.attributeType.numeric"
                         [formControlName]="assignedCollectionIndex"
                         class="form-control"
                         type="number">

                  <!-- FONT FACE -->
                  <button
                    (click)="toggleFontFaceDialogue(fontFaceForm, assignedCollectionIndex, cvIndex)"
                    *ngIf="cv.get('attributes')['controls'][assignedCollectionIndex].value === utilityService.attributeType.fontFace"
                    class="btn btn-block btn-primary"
                    type="button">

                    <span *ngIf="!cv.get('assignedValues')['controls'][assignedCollectionIndex].value">
                      &nbsp;
                    </span>
                    <span *ngIf="cv.get('assignedValues')['controls'][assignedCollectionIndex].value">
                      {{cv.get('assignedValues')['controls'][assignedCollectionIndex].value}}
                    </span>

                  </button>

                  <!-- ELSE -->
                  <input *ngIf="cv.get('attributes')['controls'][assignedCollectionIndex].value === utilityService.attributeType.default"
                         [formControlName]="assignedCollectionIndex"
                         class="form-control"
                         type="text">
                </td>

                <!-- REMOVE VALUE -->
                <td class="slim wide">
                  <button (click)="removeValue(cvIndex, assignedCollectionIndex)" [disabled]="flashMode"
                          class="btn btn-outline-danger deletable-btn"
                          type="button">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </button>
                </td>

              </tr>
            </table>

          </td>

        </ng-container>

      </ng-container>
    </tr>

  </table>

  <!-- ERROR: COLLECTION MINLENGTH -->
  <span *ngIf="!!styleProperties">
    <table *ngIf="styleProperties.errors !== null" class="table table-borderless">
      <tr *ngIf="styleProperties.errors['required']">
        <td [attr.colspan]="2">
          <small>
            <fa-icon [icon]="faExclamationTriangle"
                     class="text-danger">
            </fa-icon>
            {{'SIDEBAR_EDIT_VALIDATION_ERROR_MINLENGTH' | translate}}
          </small>
        </td>
      </tr>
    </table>
  </span>

  <!-- ERROR: INSUFFICIENT VALUES VISIBLE -->
  <table *ngIf="discreteMappingForm.errors !== null" class="table table-borderless">
    <tr *ngIf="discreteMappingForm.errors['insufficientValuesVisible']">
      <td [attr.colspan]="2">
        <small>
          <fa-icon [icon]="faExclamationTriangle"
                   class="text-danger">
          </fa-icon>
          {{'SIDEBAR_EDIT_VALUE_VALIDATION_ERROR_VISIBLE_DISCRETE' | translate}}
          <ul>
            <li *ngFor="let error of discreteMappingForm.errors['insufficientValuesVisible']">
              {{styleProperties.at(error).value}}
            </li>
          </ul>
        </small>
      </td>
    </tr>
  </table>

  <!-- abort / flash / submit -->
  <div class="row mb-3 mt-3">
    <div class="col-4">

      <!-- abort creating a new mapping for newly creatd mapping -->
      <button *ngIf="newlyAdded"
              (click)="removeNewlyAdded()"
              class="btn btn-block btn-outline-danger"
              data-toggle="tooltip"
              container="body"
              openDelay="1000"
              ngbTooltip="{{'SIDEBAR_EDIT_TT_BTN_ABORT_NEWLY_ADDED' | translate}}"
              placement="{{layoutService.layout.sidebar.tooltipDirection}}"
              type="button">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>

      <!-- discarding changes for a previously created mapping -->
      <button *ngIf="!newlyAdded"
              (click)="discardChanges()"
              class="btn btn-block btn-outline-danger"
              data-toggle="tooltip"
              container="body"
              openDelay="1000"
              ngbTooltip="{{'SIDEBAR_EDIT_TT_BTN_ABORT' | translate}}"
              placement="{{layoutService.layout.sidebar.tooltipDirection}}"
              type="button">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
    <div class="col-4">
      <button (click)="toggleFlashMode()"
              [disabled]="discreteMappingForm.invalid"
              [ngClass]="flashMode ? 'btn-info' : 'btn-outline-info'"
              class="btn btn-block"
              data-toggle="tooltip"
              ngbTooltip="{{'SIDEBAR_EDIT_TT_BTN_MAGIC_' + (flashMode ? 'OFF' : 'ON') | translate}}"
              placement="{{layoutService.layout.sidebar.tooltipDirection}}"
              type="button">
        <fa-icon [icon]="faMagic"></fa-icon>
      </button>
    </div>
    <div class="col-4">
      <button [disabled]="discreteMappingForm.invalid"
              class="btn btn-block btn-outline-success"
              container="body"
              data-toggle="tooltip"
              ngbTooltip="{{'SIDEBAR_EDIT_TT_BTN_APPLY' | translate}}"
              placement="{{layoutService.layout.sidebar.tooltipDirection}}"
              type="submit">
        <fa-icon [icon]="faCheck"></fa-icon>
      </button>
    </div>
  </div>
</form>

<!-- MODAL: FONT FORM -->
<ng-template #fontFaceForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      {{'MODAL_FONT_FACE_FORM' | translate}}
    </h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!-- FORM -->
    <form (ngSubmit)="onSubmitFontForm()" [formGroup]="fontForm">

      <p>
        {{'MODAL_FONT_FACE_FORM_DESCRIPTION' | translate}}
      </p>

      <p>
        <b>{{fontForm.get('elementAttributeName').value}}</b>
        {{'SIDEBAR_EDIT_INSPECT_SAME_LABEL' | translate}}
        <b>{{fontForm.get('colProperty').value}}</b>
      </p>

      <div class="row">

        <!-- FAMILY -->
        <div [ngClass]="fontForm.get('isJavaFont').value ? 'col-3' : 'col-4'">
          <select class="custom-select" name="family" size="5">
            <option (click)="setFont(font)"
                    *ngFor="let font of availableFonts"
                    [ngValue]="font"
                    [selected]="font === fontForm.get('family').value">{{font}}</option>
          </select>
        </div>

        <!-- STYLE -->
        <div *ngIf="fontForm.get('isJavaFont').value" class="col-3">
          <select class="custom-select" size="5">
            <option (click)="setStyle(style)"
                    *ngFor="let style of javaFontStyles"
                    [ngValue]="style"
                    [selected]="style === fontForm.get('style').value">{{style}}</option>
          </select>
        </div>

        <!-- SIZE -->
        <div class="col-3">
          <label>
            <button (click)="resetSize()"
                    class="btn btn-sm btn-outline-secondary mr-1"
                    data-toggle="tooltip"
                    ngbTooltip="{{'MAIN_MAPPINGS_NEW_TT_FONT_SIZE' | translate}}"
                    openDelay="1000"
                    placement="top"
                    type="button">
              <fa-icon [icon]="faRedo"></fa-icon>
            </button>
            {{'MAIN_MAPPINGS_NEW_FONT_SIZE' | translate}}
          </label>
          <input class="form-control" formControlName="size"
                 type="number">
        </div>
      </div>

      <!-- SUBMIT -->
      <div class="row mt-4">
        <div class="col">
          <button [disabled]="fontForm.invalid" class="btn btn-block btn-success" type="submit">
            <fa-icon [icon]="faCheck"></fa-icon>
          </button>
        </div>
      </div>

    </form>
  </div>

</ng-template>
