<div class="table-responsive-md">

  <table class="table table-borderless">
    <thead class="border-bottom">
    <th colspan="3">{{ headline | translate}}</th>
    </thead>
    <tbody>
    <tr *ngFor="let attribute of attributeListFull; let attributeIndex = index;">
      <td>{{ attribute.name }} </td>
      <td class="float-right">

        <!-- continuous mappings -->
        <span *ngIf="typeHint.ec || typeHint.nc then continuousBlock else discreteBlock"></span>

        <ng-template #continuousBlock>

          <!-- more than one mapping exists -->
          <span *ngIf="attribute.mapPointerC.length > 1">
          <div class="btn-group" role="group">
            <div class="btn-group" role="group">
              <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline-secondary dropdown-toggle"
                      data-toggle="dropdown" id="cDetailsGroup" type="button">
                <fa-icon [icon]="faSearch"></fa-icon>
              </button>
              <div aria-labelledby="cDetailsGroup" class="dropdown-menu">
                <a *ngFor="let cDetail of attribute.mapPointerC; let i = index;"
                   [routerLink]="['', { outlets: {primary: ['mappings', dataService.selectedNetwork.id, attribute.mapPointerC[i]]} }]"
                   class="dropdown-item">
                  <span *ngIf="typeHint.ec then ecBlock else ncBlock"></span>
                  <ng-template
                    #ecBlock>{{ dataService.selectedNetwork.mappings.edgesContinuous[i].cleanStyleProperty }}</ng-template>
                  <ng-template
                    #ncBlock>{{ dataService.selectedNetwork.mappings.nodesContinuous[i].cleanStyleProperty }}</ng-template>
                </a>
              </div>
            </div>
          </div>
        </span>

          <!-- exactly one mapping exists -->
          <span *ngIf="attribute.mapPointerC.length === 1">
                  <button *ngIf="attribute.mapPointerC.length > 0"
                          [routerLink]="['', { outlets: {primary: ['mappings', dataService.selectedNetwork.id, attribute.mapPointerC[0]]} }]"
                          class="btn btn-outline-secondary"
                          data-toggle="tooltip"
                          ngbTooltip="{{'MAIN_MAPPINGS_TT_MAP_DETAILS' | translate}}" placement="bottom"
                          type="button">
                    <fa-icon [icon]="faSearch"></fa-icon>
                  </button>
                </span>

          <button
            [routerLink]="['', { outlets: {primary: ['new', (typeHint.ec ? 'ec' : 'nc'), attributeIndex ]} }]"
            class="btn btn-outline-success ml-2"
            data-toggle="tooltip"
            ngbTooltip="{{'MAIN_MAPPINGS_TT_NEW' | translate}}" placement="bottom"
            type="button">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </ng-template>

        <ng-template #discreteBlock>
          <!-- mapping exists -->
          <span *ngIf="attribute.mapPointerD.length > 1">
            <div class="btn-group" role="group">
              <div class="btn-group" role="group">
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline-secondary dropdown-toggle"
                        data-toggle="dropdown" id="dDetailsGroup" type="button">
                  <fa-icon [icon]="faSearch"></fa-icon>
                </button>
                <div aria-labelledby="dDetailsGroup" class="dropdown-menu">
                  <a *ngFor="let dDetail of attribute.mapPointerD; let i = index;"
                     [routerLink]="['', { outlets: {primary: ['mappings', dataService.selectedNetwork.id, attribute.mapPointerD[i]]} }]"
                     class="dropdown-item">
                    <span *ngIf="typeHint.ed then edBlock else ndBlock"></span>
                    <ng-template #edBlock>
                      {{dataService.selectedNetwork.mappings.edgesDiscrete[i].col}}
                    </ng-template>
                    <ng-template #ndBlock>
                      {{dataService.selectedNetwork.mappings.nodesDiscrete[i].col}}
                    </ng-template>
                  </a>
                </div>
              </div>
            </div>
          </span>

          <span *ngIf="attribute.mapPointerD.length === 1">
            <button *ngIf="attribute.mapPointerD.length > 0"
                    [routerLink]="['', { outlets: {primary: ['mappings', dataService.selectedNetwork.id, attribute.mapPointerD[0]]} }]"
                    class="btn btn-outline-secondary"
                    data-toggle="tooltip"
                    ngbTooltip="{{'MAIN_MAPPINGS_TT_MAP_DETAILS' | translate}}" placement="bottom"
                    type="button">
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>
          </span>

          <button
            [routerLink]="['', { outlets: {primary: ['new', (typeHint.ed ? 'ed' : 'nd'), attributeIndex ]} }]"
            class="btn btn-outline-success ml-2"
            data-toggle="tooltip"
            ngbTooltip="{{'MAIN_MAPPINGS_TT_NEW' | translate}}" placement="bottom"
            type="button">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>

        </ng-template>

    </tbody>
  </table>
</div>
