<div class="d-flex">
  <div><h5>{{headline | translate}}</h5></div>
</div>

<div *ngFor="let attribute of attributeListFull; let attributeIndex = index" class="d-flex flex-wrap">

  <div class="flex-grow-1 mt-2">
    {{attribute.name}}
  </div>

  <!-- continuous -->
  <div *ngIf="typeHint.ec || typeHint.nc" class="ml-auto mt-2">

    <!-- more than one exists -->
    <span *ngIf="attribute.mapPointerC.length > 1">
      <span class="btn-group" role="group">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline-secondary dropdown-toggle"
                data-toggle="dropdown" id="cDetailsGroup" type="button">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
        <span aria-labelledby="cDetailsGroup" class="dropdown-menu">
          <ng-container *ngFor="let cDetail of attribute.mapPointerC; let i = index;">
            <a *ngIf="dataService.getMappingByHintAndId(cDetail)"
               [routerLink]="['', { outlets: {primary: ['mappings', cDetail]} }]"
               class="dropdown-item">
              {{ dataService.getMappingByHintAndId(cDetail).styleProperty }}
            </a>
          </ng-container>
        </span>
      </span>
    </span>

    <!-- exactly one exists -->
    <button *ngIf="attribute.mapPointerC.length === 1"
            [routerLink]="['', { outlets: {primary: ['mappings', attribute.mapPointerC[0]]} }]"
            class="btn btn-outline-secondary"
            data-toggle="tooltip"
            ngbTooltip="{{'MAIN_MAPPINGS_TT_MAP_DETAILS' | translate}}" placement="bottom"
            type="button">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>

    <!-- add new -->
    <button
      [routerLink]="['', { outlets: {primary: ['new', (typeHint.ec ? 'ec' : 'nc'), attributeIndex]} }]"
      class="btn btn-outline-success ml-2"
      data-toggle="tooltip"
      ngbTooltip="{{'MAIN_MAPPINGS_TT_NEW' | translate}}" placement="bottom"
      type="button">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>

  </div>

  <!-- discrete -->
  <div *ngIf="typeHint.ed || typeHint.nd" class="ml-auto mt-2">

    <!-- exists -->
    <button *ngIf="attribute.mapPointerD.length > 0"
            [routerLink]="['', { outlets: {primary: ['mappings', attribute.mapPointerD[0].substr(0,2), attribute.name]} }]"
            class="btn btn-outline-secondary"
            data-toggle="tooltip"
            ngbTooltip="{{'MAIN_MAPPINGS_TT_MAP_DETAILS' | translate}}" placement="bottom"
            type="button">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>

    <!-- new -->
    <button
      [routerLink]="['', { outlets: {primary: ['new', (typeHint.ed ? 'ed' : 'nd'), attributeIndex]} }]"
      class="btn btn-outline-success ml-2"
      data-toggle="tooltip"
      ngbTooltip="{{'MAIN_MAPPINGS_TT_NEW' | translate}}" placement="bottom"
      type="button">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>

  </div>

  <!-- passthrough -->
  <div *ngIf="typeHint.ep || typeHint.np" class="ml-auto mt-2">

    <!-- more than one mapping exists -->
    <span *ngIf="attribute.mapPointerP.length > 1">
      <span class="btn-group" role="group">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline-secondary dropdown-toggle"
                data-toggle="dropdown" id="pDetailsGroup" type="button">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
        <span aria-labelledby="pDetailsGroup" class="dropdown-menu">
          <a *ngFor="let pDetail of attribute.mapPointerP; let i = index;"
             [routerLink]="['', { outlets: {primary: ['mappings', pDetail]} }]"
             class="dropdown-item">
            {{ dataService.getMappingByHintAndId(pDetail).styleProperty }}
          </a>
        </span>
      </span>
    </span>

    <!-- exactly one mapping exists -->
    <button *ngIf="attribute.mapPointerP.length === 1"
            [routerLink]="['', { outlets: {primary: ['mappings', attribute.mapPointerP[0]]} }]"
            class="btn btn-outline-secondary"
            data-toggle="tooltip"
            ngbTooltip="{{'MAIN_MAPPINGS_TT_MAP_DETAILS' | translate}}" placement="bottom"
            type="button">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>

    <!-- new -->
    <button
      [routerLink]="['', { outlets: {primary: ['new', (typeHint.np ? 'np' : 'ep'), attributeIndex]} }]"
      class="btn btn-outline-success ml-2"
      data-toggle="tooltip"
      ngbTooltip="{{'MAIN_MAPPINGS_TT_NEW' | translate}}" placement="bottom"
      type="button">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>

  </div>

</div>

