<h4 (click)="container.toggle()"
    *ngIf="selectedElements.length > 0"
    [attr.aria-expanded]="!collapsedContainer"
    aria-controls="container"
    class="alert alert-secondary cursor">
  {{ 'SIDEBAR_EDIT_COMPARISON_' + type | translate}}
</h4>

<div #container="ngbCollapse"
     [(ngbCollapse)]="collapsedContainer"
     class="p-2">

  <!-- TABLE -->
  <div class="table-responsive">
    <table class="table">

      <thead>
      <tr>
        <td *ngFor="let element of selectedElements">
          <a (click)="graphService.highlightByElementId(element.id)"
             class="float-right"
             container="body"
             data-toggle="tooltip"
             ngbTooltip="{{'SIDEBAR_EDIT_TT_HIGHLIGHT_' + type | translate}} {{element.id}}"
             openDelay="1000"
             placement="{{layoutService.layout.sidebar.tooltipDirection}}"
             role="button">
            <b>{{element.name}} ({{element.id}})</b>
          </a>
        </td>
      </tr>
      </thead>

      <tbody>
      <tr>

        <td *ngFor="let element of selectedElements; let elementIndex = index">
          <table class="table table-borderless">

            <tr *ngFor="let prop of relevantProperties">

              <td *ngIf="elementIndex === 0" colspan="3"><b>{{prop}}</b></td>
              <td *ngIf="element[prop] !== undefined" class="w-100 text-right">{{element[prop]}}</td>
              <td *ngIf="element[prop] === undefined" class="w-100 text-right">&nbsp;</td>

            </tr>

          </table>
        </td>
      </tr>
      </tbody>

    </table>
  </div>

</div>


