<!-- selected nodes or edges -->
<div *ngIf="selectedElements.length > 0">

  <!-- HEADLINE -->
  <h5>
    {{'SIDEBAR_EDIT_COMPARISON_' + type | translate}}
    <a [attr.aria-controls]="type"
       aria-expanded="true"
       class="float-right"
       data-target="#{{type}}"
       data-toggle="collapse"
       href="#"
       ngbTooltip="{{'SIDEBAR_COLLAPSE' | translate}}"
       placement="{{layoutService.layout.sidebar.tooltipDirection}}"
       container="body"
       role="button"
       type="button">
      <fa-icon [icon]="faChevronDown"></fa-icon>
    </a>
  </h5>

  <!-- TABLE -->
  <div class="show" id="{{type}}">
    <div class="table-responsive">

      <table class="table">

        <thead>
        <tr>
          <td *ngFor="let element of selectedElements">
            <a (click)="graphService.highlightByElementId(element.id)"
               data-toggle="tooltip"
               ngbTooltip="{{'SIDEBAR_EDIT_TT_HIGHLIGHT_' + type | translate}} {{element.id}}"
               placement="{{layoutService.layout.sidebar.tooltipDirection}}"
               role="button"
               class="float-right">
              <b>{{element.name}} ({{element.id}})</b>
            </a>
          </td>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td *ngFor="let element of selectedElements; let elementIndex = index">

            <table class="table table-borderless">

              <tr *ngFor="let attribute of element|attributesByElement">
                <td *ngIf="elementIndex === 0" colspan="3"><b>{{attribute}}</b></td>
                <td class="w-100 text-right">{{element[attribute]}}</td>
              </tr>

            </table>

          </td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>

</div>

