<!-- Sidebar: Preview continuous mappings (non-color) -->
<div *ngIf="chartObject.chartType.line">
  <h5>
    <a [routerLink]="['', { outlets: {primary: ['mappings', dataService.networkSelected.id, index]} }]" role="button">
      <b>{{lookup}}</b>
      {{'SIDEBAR_EDIT_MAPPED_BY' | translate}}
      <b>{{attribute}}</b>
    </a>
  </h5>
  <canvas [ngStyle]="{'width.%': widthPercent}"
          [chartType]="'line'" [colors]="chartObject.lineChartColors"
          [datasets]="chartObject.chartData"
          [labels]="chartObject.chartLabels"
          [legend]="true"
          [options]="chartObject.lineChartOptions"
          baseChart></canvas>
</div>

<!-- Create new / Edit existing continuous mappings: Distribution charts -->
<div *ngIf="chartObject.chartType.bar">
  <canvas [ngStyle]="{'width.%': widthPercent}"
          [chartType]="'bar'" [colors]="chartObject.lineChartColors"
          [datasets]="chartObject.chartData"
          [labels]="chartObject.chartLabels"
          baseChart></canvas>

  <!-- Allow manipulation of bins for continuous mappings -->
  <div *ngIf="numberOfBins" class="row mt-2 mb-2 p-2">
    <button class="col mr-2 btn btn-sm btn-outline-danger" (click)="setNumberOfBins(numberOfBins - 1)"
            data-toggle="tooltip" ngbTooltip="{{'CHART_HISTO_DECREASE' | translate}}"
            placement="bottom">
      <fa-icon [icon]="faMinus"></fa-icon>
    </button>
    <button class="col mr-2 btn btn-sm btn-outline-success" (click)="setNumberOfBins(numberOfBins + 1)"
            data-toggle="tooltip" ngbTooltip="{{'CHART_HISTO_INCREASE' | translate}}"
            placement="bottom">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
    <button class="col btn btn-sm btn-outline-warning" (click)="setNumberOfBins(binSizeInitially)" data-toggle="tooltip"
            ngbTooltip="{{'CHART_HISTO_RESET' | translate}} <b>{{binSizeInitially}}</b>"
            placement="bottom">
      <fa-icon [icon]="faUndo"></fa-icon>
    </button>
  </div>
  <hr>
</div>
