<div *ngIf="chartObject">
  <canvas [chartType]="chartObject.chartType.bar ? 'bar' : 'line'"
          [colors]="chartObject.chartColors"
          [datasets]="chartObject.chartData"
          [labels]="chartObject.chartLabels"
          [legend]="true"
          [options]="chartObject.chartOptions"
          baseChart>
  </canvas>
</div>

<div *ngIf="numberOfBins" class="row mt-2 mb-2 p-2">
  <button (click)="setNumberOfBins(numberOfBins - 1)" class="col mr-2 btn btn-sm btn-outline-danger"
          data-toggle="tooltip" ngbTooltip="{{'CHART_HISTO_DECREASE' | translate}}"
          placement="bottom">
    <fa-icon [icon]="faMinus"></fa-icon>
  </button>
  <button (click)="setNumberOfBins(numberOfBins + 1)" class="col mr-2 btn btn-sm btn-outline-success"
          data-toggle="tooltip" ngbTooltip="{{'CHART_HISTO_INCREASE' | translate}}"
          placement="bottom">
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>
  <button (click)="setNumberOfBins(binSizeInitially, true)" class="col btn btn-sm btn-outline-warning"
          data-toggle="tooltip"
          ngbTooltip="{{'CHART_HISTO_RESET' | translate}} {{binSizeInitially}}"
          placement="bottom">
    <fa-icon [icon]="faUndo"></fa-icon>
  </button>
</div>


