<ng-container *ngIf="dataService.selectedNetwork">
  <h1>
    {{'MAIN_STATS_TITLE' | translate}}
  </h1>

  <hr>

  <h3>{{'MAIN_STATS_GRAPH_INFO_TITLE' | translate}} "{{dataService.selectedNetwork.networkInformation.name}}"</h3>

  <p
    [innerHTML]="dataService.selectedNetwork.networkInformation.description || 'MAIN_STATS_NO_DESCRIPTION'|translate"></p>
  <div class="row">

    <div class="col">
      <a
        [routerLink]="['', { outlets: {primary: ['graph', dataService.selectedNetwork.id], sidebar: ['edit', dataService.selectedNetwork.id]} }]"
        class="btn btn-block btn-outline-success mt-2 mb-2"
        data-toggle="tooltip" ngbTooltip="{{'MAIN_STATS_TT_EDIT' | translate}}"
        placement="{{layoutService.layout.main.tooltipDirection}}"
        role="button"
        openDelay="1000"
        container="body">
        <fa-icon [icon]="faPaintBrush"></fa-icon>&nbsp;{{'MAIN_STATS_BTN_RENDER' | translate}}
      </a>
    </div>

  </div>

  <div class="card">
    <div class="card-body">
      <p *ngIf="dataService.selectedNetwork.networkInformation.rightsholder">
        <b [innerHTML]="">{{'MAIN_STATS_GRAPH_INFO_NW_RIGHTSHOLDER' | translate}}:</b>&nbsp;
        <span [innerHTML]="dataService.selectedNetwork.networkInformation.rightsholder"></span>
      </p>
      <p *ngIf="dataService.selectedNetwork.networkInformation.networkType">
        <b>{{'MAIN_STATS_GRAPH_INFO_NW_TYPE' | translate}}:</b>&nbsp;<span
        [innerHTML]="dataService.selectedNetwork.networkInformation.networkType"></span>
      </p>
      <p *ngIf="dataService.selectedNetwork.networkInformation.organism">
        <b>{{'MAIN_STATS_GRAPH_INFO_NW_ORGANISM' | translate}}:</b>&nbsp;<span
        [innerHTML]="dataService.selectedNetwork.networkInformation.organism"></span>
      </p>
    </div>
  </div>

  <h3 class="mt-2" *ngIf="dataService.selectedNetwork.aspectKeyValuesEdges.length > 0
  || dataService.selectedNetwork.aspectKeyValuesNodes.length > 0">
    {{'MAIN_STATS_GRAPH_ATTRIBUTES_TITLE' | translate}}
  </h3>

  <!-- ATTRIBUTES: NODES -->
  <ng-container *ngIf="dataService.selectedNetwork.aspectKeyValuesNodes.length > 0">

    <h5>{{'NODES' | translate}}</h5>
    <div class="row mt-2 mb-2">

      <div class="col-4">
        <div class="list-group">

          <button *ngFor="let akv of dataService.selectedNetwork.aspectKeyValuesNodes; let index = index"
                  (click)="displayDistributionChart(index, utilityService.elementType.node)"
                  type="button"
                  class="list-group-item list-group-item-action">
            {{akv.name}}
          </button>
        </div>
      </div>

      <div class="col-8">
        <div *ngIf="nodeAkv !== null">

          <!-- aspect coverage -->
          <h5>
            {{'MAIN_STATS_COVERAGE_TITLE' | translate}}
            <span
              [ngClass]="nodeAkv.coverage < 25 ? 'bg-warning' : (nodeAkv.coverage < 75 ? 'bg-primary' : 'bg-success')"
              class="badge badge-pill border">
                {{nodeAkv.coverage}} %
              </span>
          </h5>

          <div class="progress">
            <div [ngStyle]="{'width.%': nodeAkv.coverage}" aria-valuemax="100" aria-valuemin="0"
                 aria-valuenow="{{nodeAkv.coverage}}" class="progress-bar" role="progressbar"></div>
          </div>
          <small>{{'MAIN_STATS_COVERAGE_HINT' | translate}}</small>

          <!-- distribution -->
          <h5>{{'MAIN_STATS_DISTRIBUTION_TITLE' | translate}}</h5>
          <ng-container *ngIf="nodeAkv.chartContinuousDistribution !== null && nodeAkv.validForContinuous">
            <app-chart (binSizeEmitter)="setBinSize($event, nodeAkv)"
                       [chartObject]="nodeAkv.chartContinuousDistribution"
                       [numberOfBins]="nodeAkv.binSize"></app-chart>
          </ng-container>

          <ng-container *ngIf="nodeAkv.chartDiscreteDistribution !== null">
            <app-chart
              [chartObject]="nodeAkv.chartDiscreteDistribution"></app-chart>
          </ng-container>

        </div>
      </div>
    </div>


  </ng-container>

  <!-- ATTRIBUTES: EDGES -->
  <ng-container *ngIf="dataService.selectedNetwork.aspectKeyValuesEdges.length > 0">

    <h5>{{'EDGES' | translate}}</h5>
    <div class="row mt-2 mb-2">

      <div class="col-4">
        <div class="list-group">

          <button *ngFor="let akv of dataService.selectedNetwork.aspectKeyValuesEdges; let index = index"
                  (click)="displayDistributionChart(index, utilityService.elementType.edge)"
                  type="button"
                  class="list-group-item list-group-item-action">
            {{akv.name}}
          </button>
        </div>
      </div>

      <div class="col-8">
        <div *ngIf="edgeAkv !== null">

          <!-- aspect coverage -->
          <h5>
            {{'MAIN_STATS_COVERAGE_TITLE' | translate}}
            <span
              [ngClass]="edgeAkv.coverage < 25 ? 'bg-warning' : (edgeAkv.coverage < 75 ? 'bg-primary' : 'bg-success')"
              class="badge badge-pill border">
                {{edgeAkv.coverage}} %
              </span>
          </h5>

          <div class="progress">
            <div [ngStyle]="{'width.%': edgeAkv.coverage}" aria-valuemax="100" aria-valuemin="0"
                 aria-valuenow="{{edgeAkv.coverage}}" class="progress-bar" role="progressbar"></div>
          </div>
          <small>{{'MAIN_STATS_COVERAGE_HINT' | translate}}</small>

          <!-- distribution -->
          <h5>{{'MAIN_STATS_DISTRIBUTION_TITLE' | translate}}</h5>
          <app-chart (binSizeEmitter)="setBinSize($event, edgeAkv)"
                     *ngIf="edgeAkv.chartContinuousDistribution !== null && edgeAkv.validForContinuous"
                     [chartObject]="edgeAkv.chartContinuousDistribution"
                     [numberOfBins]="edgeAkv.binSize"></app-chart>

          <app-chart *ngIf="edgeAkv.chartDiscreteDistribution !== null"
                     [chartObject]="edgeAkv.chartDiscreteDistribution"></app-chart>

        </div>
      </div>
    </div>


  </ng-container>

  <hr>

</ng-container>

