<ng-container *ngIf="dataService.selectedNetwork">

  <!-- ATTRIBUTES: NODES -->
  <ng-container *ngIf="dataService.selectedNetwork.aspectKeyValuesNodes.length > 0">

    <h5>{{'NODES' | translate}}</h5>
    <div class="row mt-2 mb-2">

      <div class="col-4">
        <div class="list-group">

          <button (click)="displayDistributionChart(index, utilityService.elementType.node)"
                  *ngFor="let akv of dataService.selectedNetwork.aspectKeyValuesNodes; let index = index"
                  class="list-group-item list-group-item-action"
                  type="button">
            {{akv.name}}
          </button>
        </div>
      </div>

      <div class="col-8">
        <div *ngIf="nodeAkv !== null">

          <!-- aspect coverage -->
          <h5>
            {{'MAIN_STATS_COVERAGE_TITLE' | translate}}
            <span
              [ngClass]="nodeAkv.coverage < 25 ? 'bg-warning' : (nodeAkv.coverage < 75 ? 'bg-primary' : 'bg-success')"
              class="badge badge-pill border">
                {{nodeAkv.coverage}} %
              </span>
          </h5>

          <div class="progress">
            <div [ngStyle]="{'width.%': nodeAkv.coverage}" aria-valuemax="100" aria-valuemin="0"
                 aria-valuenow="{{nodeAkv.coverage}}" class="progress-bar" role="progressbar"></div>
          </div>
          <small>{{'MAIN_STATS_COVERAGE_HINT' | translate}}</small>

          <!-- distribution -->
          <h5>{{'MAIN_STATS_DISTRIBUTION_TITLE' | translate}}</h5>
          <ng-container *ngIf="nodeAkv.chartContinuousDistribution !== null && nodeAkv.validForContinuous">
            <app-chart (binSizeEmitter)="utilityService.utilSetBinSize($event, nodeAkv)"
                       [chartObject]="nodeAkv.chartContinuousDistribution"
                       [numberOfBins]="nodeAkv.binSize"></app-chart>
          </ng-container>

          <ng-container *ngIf="nodeAkv.chartDiscreteDistribution !== null">
            <app-chart
              [chartObject]="nodeAkv.chartDiscreteDistribution"></app-chart>
          </ng-container>

        </div>
      </div>
    </div>


  </ng-container>

  <!-- ATTRIBUTES: EDGES -->
  <ng-container *ngIf="dataService.selectedNetwork.aspectKeyValuesEdges.length > 0">

    <h5>{{'EDGES' | translate}}</h5>
    <div class="row mt-2 mb-2">

      <div class="col-4">
        <div class="list-group">

          <button (click)="displayDistributionChart(index, utilityService.elementType.edge)"
                  *ngFor="let akv of dataService.selectedNetwork.aspectKeyValuesEdges; let index = index"
                  class="list-group-item list-group-item-action"
                  type="button">
            {{akv.name}}
          </button>
        </div>
      </div>

      <div class="col-8">
        <div *ngIf="edgeAkv !== null">

          <!-- aspect coverage -->
          <h5>
            {{'MAIN_STATS_COVERAGE_TITLE' | translate}}
            <span
              [ngClass]="edgeAkv.coverage < 25 ? 'bg-warning' : (edgeAkv.coverage < 75 ? 'bg-primary' : 'bg-success')"
              class="badge badge-pill border">
                {{edgeAkv.coverage}} %
              </span>
          </h5>

          <div class="progress">
            <div [ngStyle]="{'width.%': edgeAkv.coverage}" aria-valuemax="100" aria-valuemin="0"
                 aria-valuenow="{{edgeAkv.coverage}}" class="progress-bar" role="progressbar"></div>
          </div>
          <small>{{'MAIN_STATS_COVERAGE_HINT' | translate}}</small>

          <!-- distribution -->
          <h5>{{'MAIN_STATS_DISTRIBUTION_TITLE' | translate}}</h5>
          <app-chart (binSizeEmitter)="utilityService.utilSetBinSize($event, edgeAkv)"
                     *ngIf="edgeAkv.chartContinuousDistribution !== null && edgeAkv.validForContinuous"
                     [chartObject]="edgeAkv.chartContinuousDistribution"
                     [numberOfBins]="edgeAkv.binSize"></app-chart>

          <app-chart *ngIf="edgeAkv.chartDiscreteDistribution !== null"
                     [chartObject]="edgeAkv.chartDiscreteDistribution"></app-chart>

        </div>
      </div>
    </div>


  </ng-container>

</ng-container>

