<p>{{'SIDEBAR_EDIT_INSPECT_TITLE_HINT' | translate}}</p>

<!-- INSPECT: list -->
<div *ngIf="highlightListDefinition.length > 0">
  <h6 (click)="containerRuleList.toggle()"
      [attr.aria-expanded]="!collapsedRuleList"
      aria-controls="containerRuleList"
      class="alert alert-dark cursor">
    {{ 'SIDEBAR_EDIT_INSPECT_RULE_LIST' | translate}}
  </h6>

  <div #containerRuleList="ngbCollapse"
       [(ngbCollapse)]="collapsedRuleList"
       class="p-2">

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>{{'SIDEBAR_EDIT_INSPECT_TH_TYPE' | translate}}</th>
          <th>{{'SIDEBAR_EDIT_INSPECT_TH_PROPERTY' | translate}}</th>
          <th>{{'SIDEBAR_EDIT_INSPECT_TH_VALUES' | translate}}</th>
          <th>{{'SIDEBAR_EDIT_INSPECT_TH_FLASH' | translate}}</th>
          <th>{{'SIDEBAR_EDIT_INSPECT_TH_REMOVE' | translate}}</th>
        </tr>
        </thead>

        <ng-container *ngFor="let rule of highlightListDefinition; let ruleIndex = index">
          <!-- rule specification -->
          <tr
            [ngClass]="ruleToDelete === ruleIndex ? 'table-danger' : ''">
            <!-- type -->
            <td>{{(rule.elementType === utilityService.elementType.node ? 'NODE' : 'EDGE') | translate}}</td>

            <!-- property -->
            <td>{{rule.property.name}}</td>

            <!-- range or value -->
            <td *ngIf="rule.ruleType === utilityService.inspectionRuleType.numeric">
              [ {{rule.rangeLower}}, {{rule.rangeUpper}} ]
            </td>

            <td *ngIf="rule.ruleType !== utilityService.inspectionRuleType.numeric">
              {{rule.sameAs}}
            </td>

            <!-- flash -->
            <td>
              <button (click)="flash(rule)" class="btn btn-outline-info">
                <fa-icon [icon]="faMagic"></fa-icon>
              </button>
            </td>

            <!-- delete -->
            <td>
              <button (click)="markToDelete(ruleIndex)" class="btn btn-outline-danger">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>

          <!-- delete this rule confirmation -->
          <tr *ngIf="ruleIndex === ruleToDelete">
            <td [attr.colspan]="4">
              {{'SIDEBAR_EDIT_INSPECT_REMOVE_ITEM' | translate}}
            </td>
            <td>
              <button (click)="deleteRule()" class="btn btn-outline-danger">
                <fa-icon [icon]="faCheck"></fa-icon>
              </button>
            </td>

          </tr>
        </ng-container>

      </table>
    </div>
  </div>
</div>


<!-- INSPECT: new rule -->
<h6 (click)="containerNewRule.toggle()"
    [attr.aria-expanded]="!collapsedNewRule"
    aria-controls="containerNewRule"
    class="alert alert-dark cursor">
  {{ 'SIDEBAR_EDIT_INSPECT_NEW_RULE' | translate}}
</h6>

<div #containerNewRule="ngbCollapse"
     [(ngbCollapse)]="collapsedNewRule"
     class="p-2">

  <form (ngSubmit)="onSubmitNewInspectionRule()" [formGroup]="ruleForm">

    <!-- Card to inspect the current rule -->
    <div [ngClass]="ruleForm.valid ? 'border-success' : 'border-danger'" class="card mb-3">

      <div class="card-body">

        <!-- defined rule -->
        <p *ngIf="ruleForm.dirty">
          <code *ngIf="ruleForm.get('elementType').value === utilityService.elementType.node">
            {{ 'NODES' | translate}}
          </code>
          <code *ngIf="ruleForm.get('elementType').value === utilityService.elementType.edge">
            {{ 'EDGES' | translate}}
          </code>

          <span>{{'SIDEBAR_EDIT_INSPECT_WITH_PROPERTY' | translate}}</span>

          <code
            *ngIf="ruleForm.get('property').errors === null">&nbsp;{{ruleForm.get('property').value.name}}&nbsp;</code>

          <span *ngIf="ruleType === utilityService.inspectionRuleType.numeric">
          &isin; [
          <code>{{ruleForm.get('rangeLower').value}}</code>,
          <code>{{ruleForm.get('rangeUpper').value}}</code> ]
        </span>

          <span
            *ngIf="ruleType !== utilityService.inspectionRuleType.numeric && ruleForm.get('property').errors === null">
          {{'SIDEBAR_EDIT_INSPECT_SAME' | translate}}
            <code>{{ruleForm.get('sameAs').value}}</code>
        </span>

        </p>

        <!-- missing steps -->
        <ul *ngIf="!ruleForm.valid">
          <li *ngIf="ruleForm.get('elementType').errors !== null">
            {{'SIDEBAR_EDIT_INSPECT_ERROR_TYPE' | translate}}
          </li>
          <li *ngIf="ruleForm.get('property').errors !== null">
            {{'SIDEBAR_EDIT_INSPECT_ERROR_PROPERTY' | translate}}
          </li>

          <!-- depending on the type of property we indicate the type of value the user has to enter -->
          <!-- has to have innerHTML tag, because we are highlighting true and false as the only possible values for bool type properties -->
          <li *ngIf="hintTextSuffix" [innerHTML]="hintTextPrefix + hintTextSuffix | translate">
          </li>
        </ul>
      </div>

      <!-- submit -->
      <div class="card-footer">
        <div class="col">
          <button [disabled]="!ruleForm.valid"
                  class="btn btn-block btn-outline-success"
                  id="btnSubmitRule" type="submit">
            <fa-icon [icon]="faCheck"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="form-row">
      <!-- element type -->
      <div class="col-auto">
        <div class="btn-group-vertical btn-group-toggle" id="btnType">

          <!-- type: NODE -->
          <label class="btn btn-outline-secondary" for="elementTypeNode">
            <input (click)="ruleForm.get('property').reset()" [value]="utilityService.elementType.node"
                   formControlName="elementType"
                   id="elementTypeNode"
                   type="radio">
            <span>{{'NODES' | translate}}</span>
          </label>

          <!-- type: EDGE -->
          <label class="btn btn-outline-secondary" for="elementTypeEdge">
            <input (click)="ruleForm.get('property').reset()" [value]="utilityService.elementType.edge"
                   formControlName="elementType"
                   id="elementTypeEdge"
                   type="radio">
            <span>{{'EDGES' | translate}}</span>
          </label>

        </div>
      </div>

      <!-- properties -->
      <div class="col-auto">
        <ng-container [ngSwitch]="ruleForm.get('elementType').value">

          <!-- NODES -->
          <div *ngSwitchCase="utilityService.elementType.node">
            <div class="btn-group-vertical btn-group-toggle" id="btnPropertiesNode">
              <label *ngFor="let property of dataService.selectedNetwork.aspectKeyValuesNodes; let nodeIndex = index"
                     class="btn btn-outline-secondary" for="{{nodeIndex}}NodeProperty">
                <input [value]="property" formControlName="property" id="{{nodeIndex}}NodeProperty"
                       type="radio">
                <span>{{property.name}}</span>
              </label>
            </div>
          </div>

          <!-- EDGES -->
          <div *ngSwitchCase="utilityService.elementType.edge">

            <div class="btn-group-vertical btn-group-toggle" id="btnPropertiesEdge">
              <label *ngFor="let property of dataService.selectedNetwork.aspectKeyValuesEdges; let edgeIndex = index"
                     class="btn btn-outline-secondary" for="{{edgeIndex}}EdgeProperty">
                <input [value]="property" formControlName="property" id="{{edgeIndex}}EdgeProperty"
                       type="radio">
                <span>{{property.name}}</span>
              </label>

            </div>
          </div>

        </ng-container>
      </div>

      <!-- comparison -->
      <div class="col">

        <ng-container [ngSwitch]="ruleType">

          <!-- compare: numeric -->
          <div *ngSwitchCase="utilityService.inspectionRuleType.numeric">

            <!-- lower -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">{{'SIDEBAR_EDIT_INSPECT_RANGE_LOWER' | translate}}</span>
              </div>

              <input [ngClass]="ruleForm.get('rangeLower').errors !== null ? 'border-danger' : ''"
                     class="form-control"
                     formControlName="rangeLower"
                     id="numericLower"
                     name="numericLower"
                     type="number">
            </div>

            <!-- upper -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">{{'SIDEBAR_EDIT_INSPECT_RANGE_UPPER' | translate}}</span>
              </div>

              <input [ngClass]="ruleForm.get('rangeUpper').errors !== null ? 'border-danger' : ''"
                     class="form-control"
                     formControlName="rangeUpper"
                     id="numericUpper"
                     name="numericUpper"
                     type="number">
            </div>

            <!-- reset to min and max -->
            <button (click)="resetToMinMax()" class="btn btn-outline-secondary btn-block" type="button">
              <fa-icon [icon]="faRedo"></fa-icon>
            </button>

          </div>

          <!-- compare: boolean -->
          <div *ngSwitchCase="utilityService.inspectionRuleType.boolean">
            <div class="btn-group-vertical btn-group-toggle">

              <!-- true -->
              <label class="btn btn-outline-secondary" for="compareTrue">
                <input class="mr-1" formControlName="sameAs" id="compareTrue"
                       type="radio" value="true">
                <span>true</span>
              </label>

              <!-- false -->
              <label class="btn btn-outline-secondary" for="compareFalse">
                <input class="mr-1" formControlName="sameAs" id="compareFalse"
                       type="radio" value="false">
                <span>false</span>
              </label>
            </div>

          </div>

          <!-- compare: text -->
          <div *ngSwitchCase="utilityService.inspectionRuleType.text">

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">{{'SIDEBAR_EDIT_INSPECT_SAME' | translate}}</span>
              </div>

              <input [ngClass]="ruleForm.get('sameAs').errors !== null ? 'border-danger' : ''"
                     class="form-control" formControlName="sameAs"
                     id="compareText" name="compareText"
                     placeholder="{{'SIDEBAR_EDIT_INSPECT_SAME_PLACEHOLDER' | translate}}"
                     type="text">
            </div>

          </div>
        </ng-container>

      </div>

    </div>

  </form>
</div>



