<div class="container-fluid full">

  <div class="row">

    <!-- Main outlet -->
    <div [ngClass]="(layoutIsMainLeft ? 'scroll order-1 p-2 w-' + widthLeft : 'scroll order-3 p-2 w-' + widthRight)">
      <router-outlet></router-outlet>
    </div>

    <!-- Grey bar -->
    <div class="order-2 w-5">
      <div class="drag-bar">
        <div class="btn-group-vertical">
          <button class="btn btn-sm btn-secondary btnLayout" (click)="increaseWidthRight()">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </button>
          <button class="btn btn-sm btn-secondary btnLayout" (click)="increaseWidthLeft()">
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </button>
          <button class="btn btn-sm btn-secondary btnLayout" (click)="resetWidth()">
            <fa-icon [icon]="faRedo"></fa-icon>
          </button>
          <button class="btn btn-sm btn-warning btnLayout" (click)="flipLayout()"
                  role="button">
            <fa-icon [icon]="faExchangeAlt"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar outlet -->
    <div [ngClass]="(layoutIsMainLeft ? 'scroll order-3 w-' + widthRight : 'scroll order-1 w-' + widthLeft)">

      <ul class="nav nav-tabs mt-2">
        <li class="nav-item">
          <a [routerLink]="['', { outlets: {sidebar: ['manage']} }]" class="nav-link text-black-50"
             routerLinkActive="active">{{'NAV_MANAGE'|translate}}</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['', { outlets: {sidebar: ['edit']} }]" class="nav-link text-black-50 disabled"
             data-placement="bottom" data-toggle="tooltip" routerLinkActive="active"
             title="{{'NAV_EDIT_TT_INFO' | translate}}">
            {{'NAV_EDIT'|translate}}</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['', { outlets: {sidebar: ['compare']} }]" class="nav-link text-black-50 disabled"
             data-placement="bottom" data-toggle="tooltip" routerLinkActive="active"
             title="{{'NAV_COMPARE_TT_INFO' | translate}}">{{'NAV_COMPARE'|translate}}</a>
        </li>
      </ul>
      <router-outlet name="sidebar"></router-outlet>
    </div>
  </div>
</div>
