<div class="container-fluid p-o">
  <div class="row">

    <div class="col-7 border-right p-4">
      <router-outlet></router-outlet>
    </div>

    <div class="col-5 vh-100 pt-3 pl-0 pr-0" [ngStyle]="{'background-color': '#d0d0d0'}">

      <ul class="nav nav-tabs">

        <li class="nav-item pl-2">
          <a class="nav-link text-black-50" [routerLink]="['', { outlets: {sidebar: ['manage']} }]"
             routerLinkActive="active">{{'NAV_MANAGE'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black-50" [routerLink]="['', { outlets: {sidebar: ['edit']} }]"
             routerLinkActive="active">{{'NAV_EDIT'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black-50" [routerLink]="['', { outlets: {sidebar: ['compare']} }]"
             routerLinkActive="active">{{'NAV_COMPARE'|translate}}</a>
        </li>

      </ul>

      <div class="vh-100 bg-white p-2">
        <router-outlet name="sidebar"></router-outlet>
      </div>

    </div>
  </div>
</div>
