<div class="container-fluid">

  <div class="row">

    <!-- Main outlet -->
    <div [ngClass]="layoutService.layout.main.position === 'left' ? 'order-1' : 'order-2'" class="col-{{widthMain}}">

      <div class="row">

        <div class="scroll col">
          <router-outlet></router-outlet>
        </div>

        <div *ngIf="layoutService.layout.main.position === 'left'" class="col-auto">
          <app-dragbar (languageEmitter)="setLanguage($event)"></app-dragbar>
        </div>
      </div>
    </div>

    <!-- Sidebar outlet -->
    <div [ngClass]="layoutService.layout.main.position === 'left' ? 'order-2' : 'order-1'" class="col-{{widthSidebar}}">

      <div class="row">
        <div class="scroll col">
          <router-outlet name="sidebar"></router-outlet>
        </div>
        <div *ngIf="layoutService.layout.sidebar.position === 'left'" class="col-auto">
          <app-dragbar (languageEmitter)="setLanguage($event)"></app-dragbar>
        </div>
      </div>

    </div>
  </div>
</div>
