<h1>
  {{'MAIN_INFO_TITLE' | translate}}
  <img [ngStyle]="{'width.px': 75}" class="float-right mt-2" src="assets/img/ndexedit_logo.png">
</h1>

<h3>{{'MAIN_INFO_STEPS_TITLE' | translate}}</h3>
<p>{{'MAIN_INFO_STEPS_DESCRIPTION' | translate}}</p>
<ul>
  <li>{{'MAIN_INFO_STEPS_STEP_1' | translate}}</li>
  <li>{{'MAIN_INFO_STEPS_STEP_2' | translate}}</li>
  <li>{{'MAIN_INFO_STEPS_STEP_3' | translate}}</li>
  <li>{{'MAIN_INFO_STEPS_STEP_4' | translate}}</li>
  <li>{{'MAIN_INFO_STEPS_STEP_5' | translate}}</li>
</ul>

<hr>

<h3>{{'MAIN_INFO_LAYOUT_TITLE' | translate}}</h3>
<p>{{'MAIN_INFO_LAYOUT_DESCRIPTION' | translate}}</p>
<ul>
  <li>
    <fa-icon [icon]="faArrowLeft"></fa-icon>
    <fa-icon [icon]="faArrowRight"></fa-icon>
    {{'MAIN_INFO_LAYOUT_STEP_1' | translate}}
  </li>
  <li>
    <fa-icon [icon]="faUndo"></fa-icon>
    {{'MAIN_INFO_LAYOUT_STEP_2' | translate}}
  </li>
  <li>
    <fa-icon [icon]="faExchangeAlt"></fa-icon>
    {{'MAIN_INFO_LAYOUT_STEP_3' | translate}}
  </li>
</ul>

<hr>

<h3>{{'MAIN_INFO_DOCUMENTATION_TITLE' | translate}}</h3>
<p [innerHTML]="'MAIN_INFO_DOCUMENTATION_DESCRIPTION' | translate"></p>

<hr>

<h3>{{'SIDEBAR_COMPARE_ABOUT' | translate}}</h3>

<p>
  <fa-icon [icon]="faThumbsUp" [size]="'lg'" class="mr-3"></fa-icon>
  {{'SIDEBAR_COMPARE_ABOUT_1' | translate}}
</p>
<p>
  <fa-icon [icon]="faUserGraduate" [size]="'lg'" class="mr-3"></fa-icon>
  {{'SIDEBAR_COMPARE_ABOUT_2' | translate}}
</p>
<p>
  <fa-icon [icon]="faComments" [size]="'lg'" class="mr-3"></fa-icon>
  {{'SIDEBAR_COMPARE_ABOUT_3_1' | translate}}
  <a href="mailto:florian.auer@informatik.uni-augsburg.de" target="_blank"><b>Florian Auer</b></a>
  {{'SIDEBAR_COMPARE_ABOUT_3_2' | translate}}
</p>



