<div class="p-2">

  <h5>{{'SIDEBAR_MANAGE_TITLE' | translate}}</h5>

  <table class="mb-3 table table-borderless">
    <tr *ngFor="let network of dataService.networksParsed" class="border-bottom">
      <td class="text-left">{{network.networkInformation.name}}</td>
      <td class="text-nowrap text-right">
        <a [routerLink]="['', { outlets: {primary: ['stats', network.id]} }]"
           class="btn btn-sm btn-outline-secondary mr-1" data-toggle="tooltip"
           ngbTooltip="{{'SIDEBAR_MANAGE_TT_INFO'|translate}}" placement="left"
           role="button">
          <fa-icon [icon]="faInfo"></fa-icon>
        </a>
        <a [routerLink]="['', { outlets: {primary: ['graph', network.id], sidebar: ['edit', network.id]} }]"
           class="btn btn-sm btn-outline-success mr-1" data-toggle="tooltip"
           ngbTooltip="{{'SIDEBAR_MANAGE_TT_EDIT'|translate}}" placement="left"
           role="button">
          <fa-icon [icon]="faPaintBrush"></fa-icon>
        </a>
        <a (click)="reconvert(network.id)" class="btn btn-sm btn-outline-secondary mr-1" data-toggle="tooltip"
           ngbTooltip="{{'SIDEBAR_MANAGE_TT_DOWNLOAD'|translate}}" placement="left"
           role="button">
          <fa-icon [icon]="faFileDownload"></fa-icon>
        </a>
        <!-- needs to be disabled if this network does not have a uuid, bc dummy or local file -->
        <a [hidden]="!network.networkInformation.uuid" (click)="copyUuidToClipboard(network.id)" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip"
           ngbTooltip="{{ copyToClipboardTooltip | translate }}" placement="left"
           role="button">
          <fa-icon [icon]="faClone"></fa-icon>
        </a>
      </td>
    </tr>
  </table>

  <div *ngIf="showFileSizeTooLargeAlert" class="alert alert-warning alert-dismissible" role="alert">
    <h5>{{'SIDEBAR_MANAGE_FILE_SIZE_TOO_LARGE' | translate}}</h5>
    <p><b>{{'SIDEBAR_MANAGE_FILE_SIZE_LABEL_CURRENT' | translate}}</b>: ~ {{currentFileSize}} MB</p>
    <p><b>{{'SIDEBAR_MANAGE_FILE_SIZE_LABEL_MAX' | translate}}</b>: {{sizeLimit}} MB</p>
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="showFileSizeOkAlert" class="alert alert-success alert-dismissible" role="alert">
    <h5>{{'SIDEBAR_MANAGE_FILE_SIZE_OK' | translate}}</h5>
    <p><b>{{'SIDEBAR_MANAGE_FILE_SIZE_LABEL_CURRENT' | translate}}</b>: ~ {{currentFileSize}} MB</p>
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="showFileNotValidAlert" class="alert alert-danger alert-dismissible" role="alert">
    <h5>{{'SIDEBAR_MANAGE_FILE_TYPE_ERROR' | translate}}</h5>
    <p>{{'SIDEBAR_MANAGE_FILE_TYPE_LABEL' | translate}}: <b>".{{invalidExtension}}"</b></p>
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="showFileElementCountTooBig" class="alert alert-warning alert-dismissible" role="alert">
    <h5>{{'SIDEBAR_MANAGE_FILE_ELEMENT_COUNT' | translate}}</h5>
    <p>{{'SIDEBAR_MANAGE_FILE_ELEMENT_COUNT_LABEL_NODES' | translate}}: <b
      [ngStyle]="{color: nodeCount > elementLimit ? '#ff9900' : '#856404'}">{{nodeCount}}</b></p>
    <p>{{'SIDEBAR_MANAGE_FILE_ELEMENT_COUNT_LABEL_EDGES' | translate}}: <b
      [ngStyle]="{color: nodeCount > elementLimit ? '#ff9900' : '#856404'}">{{edgeCount}}</b></p>
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <h5>
    {{'SIDEBAR_MANAGE_REMOTE_FILE_LABEL'|translate}}
    <div *ngIf="loadingHttp" class="spinner-border spinner-border-sm mr-2 align-middle" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </h5>
  <div class="row mb-3">
    <div class="col-9 form-group mb-2">
      <input [(ngModel)]="ndexLinkToUpload" aria-describedby="remoteNetworkHelp" class="form-control"
             id="remoteNetworkFile"
             placeholder="{{'SIDEBAR_MANAGE_REMOTE_FILE_EXAMPLE'|translate}}" type="text">
      <small class="form-text text-muted" id="remoteNetworkHelp">{{'SIDEBAR_MANAGE_REMOTE_FILE_TIP'|translate}}</small>
    </div>
    <div class="col-3">
      <button (click)="importFromNdex()" [disabled]="loadingHttp" class="btn btn-block btn-outline-success"
              data-toggle="tooltip" ngbTooltip="{{'SIDEBAR_MANAGE_TT_REMOTE_FILES' | translate}}" placement="left"
              type="button">

        <fa-icon [icon]="faCloudDownloadAlt"></fa-icon>
      </button>
    </div>
  </div>

  <h5>
    {{'SIDEBAR_MANAGE_LOCAL_FILE_LABEL'|translate}}
    <div *ngIf="loadingFile" class="spinner-border spinner-border-sm mr-2 align-middle" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </h5>

  <div class="input-group mb-3">
    <div class="custom-file">
      <input (change)="setAndValidateFile($event)" class="custom-file-input" id="localNetworkFile" type="file">
      <label class="custom-file-label" for="localNetworkFile">{{'SIDEBAR_MANAGE_LOCAL_FILE_LABEL'|translate}}</label>
    </div>
    <div class="input-group-append">
      <button (click)="importLocalFile()" [disabled]="loadingFile" class="btn btn-outline-secondary"
              data-toggle="tooltip" ngbTooltip="{{'SIDEBAR_MANAGE_TT_LOCAL_FILE' | translate}}" placement="left"
              type="button">
        {{'SIDEBAR_MANAGE_LOCAL_FILE_BTN'|translate}}
      </button>
    </div>
  </div>

  <a [routerLink]="['', { outlets: {primary: ['info']} }]" class="mb-3 btn btn-block btn-outline-danger"
     data-toggle="tooltip"
     ngbTooltip="{{'SIDEBAR_MANAGE_TT_HELP' | translate}}" placement="bottom" role="button">
    {{'SIDEBAR_MANAGE_HELP'|translate}}
  </a>
</div>
