<!-- Header -->
<div class="row mb-2">
  <!-- TOGGLE INSPECT -->
  <div class="col-4">
    <button (click)="toggleInspectionMode()"
            [disabled]="editMode"
            [ngClass]="editMode ? 'btn-outline-secondary' : 'btn-outline-info'"
            class="btn btn-sm btn-block"
            data-toggle="tooltip"
            ngbTooltip="{{'SIDEBAR_EDIT_TT_INSPECTION_MODE' | translate}}"
            openDelay="1000"
            placement="{{layoutService.layout.sidebar.tooltipDirection}}"
            type="button">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </div>

  <!-- TOGGLE EDIT -->
  <div class="col-4">
    <button (click)="toggleEditMode()"
            [disabled]="markedMappingForDeletion || dataService.lockRouting"
            [ngClass]="editMode ? 'btn-warning' : (markedMappingForDeletion || dataService.lockRouting) ? 'btn-outline-secondary' : 'btn-outline-warning'"
            class="btn btn-sm btn-block"
            data-toggle="tooltip"
            ngbTooltip="{{'SIDEBAR_EDIT_TT_EDIT_MODE' | translate}}"
            openDelay="1000"
            placement="{{layoutService.layout.sidebar.tooltipDirection}}"
            type="button">
      <fa-icon [icon]="faEdit"></fa-icon>
    </button>
  </div>

  <!-- TOGGLE MARK FOR DELETION -->
  <div class="col-4">
    <button (click)="this.toggleMarkedForDeletion()"
            [disabled]="editMode"
            [ngClass]="markedMappingForDeletion ? 'btn-danger' : (editMode) ? 'btn-outline-secondary' :'btn-outline-danger'"
            class="btn btn-sm btn-block"
            container="body"
            data-toggle="tooltip"
            ngbTooltip="{{'SIDEBAR_EDIT_TT_DELETE_ALL' | translate}}"
            openDelay="1000"
            placement="{{layoutService.layout.sidebar.tooltipDirection}}"
            type="button">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>

</div>

<!-- INSPECT / EDIT -->
<!-- VISUAL AID -->
<div *ngIf="inspectionMode || editMode" class="mb-2">

  <div class="row">

    <!-- VISUAL AID -->
    <div [ngClass]="editMode ? 'col-12' : 'col-8'">

      <!-- ERROR: Chart or gradient invalid -->
      <div *ngIf="!(editMode ? visualAidsInEditing : visualAids)[renderedVisualAidKey].isValid"
           class="alert alert-danger mt-2 mb-2">
        <h5>{{'SIDEBAR_EDIT_VISUAL_AID_ERROR_HEADER' | translate}}</h5>
        <p>{{'SIDEBAR_EDIT_VISUAL_AID_ERROR_TEXT' | translate}}</p>
      </div>

      <!-- CHARTS -->
      <ng-container *ngIf="(editMode ? visualAidsInEditing : visualAids)[renderedVisualAidKey].isValid
          && (editMode ? visualAidsInEditing : visualAids)[renderedVisualAidKey].chartObj !== null">

        <!-- HISTOGRAM -->
        <app-chart (binSizeEmitter)="setBinSize($event, colProperty)"
                   *ngIf="(editMode ? visualAidsInEditing : visualAids)[renderedVisualAidKey].isHistogram && !!colProperty"
                   [chartObject]="(editMode ? visualAidsInEditing : visualAids)[renderedVisualAidKey].chartObj"
                   [numberOfBins]="colProperty.binSize">
        </app-chart>

        <!-- MAPPING CHART -->
        <app-chart *ngIf="!(editMode ? visualAidsInEditing : visualAids)[renderedVisualAidKey].isHistogram"
                   [chartObject]="(editMode ? visualAidsInEditing : visualAids)[renderedVisualAidKey].chartObj">
        </app-chart>

      </ng-container>

      <!-- GRADIENT -->
      <div *ngIf="(editMode ? visualAidsInEditing : visualAids)[renderedVisualAidKey].isValid
        && (editMode ? visualAidsInEditing : visualAids)[renderedVisualAidKey].gradientObj !== null">
        <div #gradientPreview
             [style.background]="buildColorGradientCssBackground((editMode ? visualAidsInEditing : visualAids)[renderedVisualAidKey].gradientObj)"
             [style.height.px]="200"
             [style.width.%]="100"
             class="m-2 gradient-preview"
             id="gradientPreview">

          <ng-container
            *ngFor="let gradient of (editMode ? visualAidsInEditing : visualAids)[renderedVisualAidKey].gradientObj; let gradientIndex = index">

            <span *ngIf="gradient.offset !== '-1' && gradient.offset !== '101'"
                  [ngClass]="gradient.selected ? 'threshold-selected' : 'threshold-unselected'"
                  [ngStyle]="{'transform': 'translate(' + ((gradientPreview.offsetWidth * gradient.numericOffset) / 100 - gradientIndex) + 'px)',
                  'border-right': '1px solid ' + gradient.contrastColor,
                  'height.px': 200}">
                            &nbsp;
            </span>

          </ng-container>

        </div>

        <div #gradientThresholds [style.width.%]="100"
             id="gradientThresholds">

          <ng-container
            *ngFor="let gradient of (editMode ? visualAidsInEditing : visualAids)[renderedVisualAidKey].gradientObj">

            <span (click)="gradient.selected = !gradient.selected"
                  *ngIf="gradient.offset !== '-1' && gradient.offset !== '101'"
                  [ngClass]="(gradient.selected) ? 'pt-2 pb-2' : ''"
                  [ngStyle]="{'background-color': gradient.color,
                  'cursor':'pointer',
                  'color': gradient.labelColorWhite ? '#ffffff' : '#000000',
                  'transform': 'translateX(' + (gradientThresholds.offsetWidth / 140) * gradient.numericOffset + 'px)'}"
                  class="badge badge-pill border">
              {{gradient.color}}
            </span>

          </ng-container>
        </div>

      </div>

    </div>

    <!-- VISUAL AID SELECTION -->
    <div *ngIf="inspectionMode" class="col-4">
      <div class="list-group">
        <button (click)="showVisualAid('histogram')" class="list-group-item list-group-item-action"
                type="button">
          {{'SIDEBAR_EDIT_LABEL_HISTOGRAM' | translate}}{{col}}
        </button>
        <button (click)="showVisualAid(map.styleProperty)" *ngFor="let map of mappingCollection"
                class="list-group-item list-group-item-action"
                type="button">
          {{map.styleProperty}}
        </button>
      </div>
    </div>

  </div>

</div>

<!-- EDIT -->
<!-- SPECS -->
<div *ngIf="editMode">

  <form (ngSubmit)="onSubmitMappingChanged()" [formGroup]="continuousMappingForm" class="table-responsive">
    <table class="table table-borderless" formArrayName="thresholds">
      <thead>
      <tr>
        <!-- SORT -->
        <th class="border-bottom" scope="col">
          <button (click)="sortAscendingByThreshold()"
                  [disabled]="flashMode"
                  class="btn btn-outline-secondary"
                  data-toggle="tooltip"
                  ngbTooltip="{{'SIDEBAR_EDIT_TT_SORT_THRESHOLDS' | translate}}"
                  openDelay="1000"
                  placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                  type="button">
            <fa-icon [icon]="faSortNumericDown"></fa-icon>
          </button>
        </th>

        <!-- HISTOGRAM -->
        <th class="border-bottom" scope="col">
          <button (click)="showVisualAid('histogram')" class="btn btn-block btn-outline-primary"
                  data-toggle="tooltip"
                  ngbTooltip="{{'SIDEBAR_EDIT_LABEL_HISTOGRAM' | translate}} {{col}}"
                  openDelay="1000"
                  placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                  type="button">
            {{col}}
          </button>
        </th>

        <ng-container *ngFor="let mapping of this.mappingCollectionInEditing; let mapIndex = index">
          <th class="text-nowrap border-bottom" scope="col">

            <!-- SET VISUAL AID -->
            <button (click)="showVisualAid(mapping.styleProperty)" class="btn btn-link"
                    data-toggle="tooltip"
                    ngbTooltip="{{'SIDEBAR_EDIT_TT_DISPLAY_' + (mapping.isColor ? 'GRADIENT_FOR' : 'CHART_FOR') | translate}} {{mapping.styleProperty}}"
                    openDelay="1000"
                    placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                    type="button">
              {{mapping.styleProperty}}
            </button>

            <!-- DELETE MAPPING -->
            <button (click)="deleteMappingFromCollection(mapping.styleProperty)" [disabled]="flashMode"
                    class="btn btn-block btn-sm btn-outline-danger mt-1"
                    data-toggle="tooltip"
                    ngbTooltip="{{'SIDEBAR_EDIT_TT_DELETE_COL' | translate}}"
                    openDelay="1000"
                    placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                    type="button">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>

            <div class="row mt-1">

              <!-- TOGGLE COLOR [disabled] -->
              <div class="col-6">
                <div class="custom-control custom-switch"
                     container="body"
                     data-toggle="tooltip"
                     ngbTooltip="{{'SIDEBAR_EDIT_TT_TOGGLE_COLOR_PROPERTY_' + (mapping.isColor ? 'YES' : 'NO') | translate}}"
                     openDelay="1000"
                     placement="{{layoutService.layout.sidebar.tooltipDirection}}">
                  <input [checked]="mapping.isColor" [disabled]="true" class="custom-control-input"
                         id="colorToggle{{mapIndex}}" type="checkbox">
                  <label class="custom-control-label" for="colorToggle{{mapIndex}}">
                    <fa-icon [icon]="faPalette"></fa-icon>
                  </label>
                </div>
              </div>

              <!-- RESET TO DEFAULT -->
              <div class="col-6">
                <button (click)="resetStylePropertyToDefaults(mapping.styleProperty, mapIndex)"
                        [disabled]="flashMode"
                        class="btn btn-block btn-outline-warning"
                        container="body"
                        data-toggle="tooltip"
                        ngbTooltip="{{'SIDEBAR_EDIT_TT_RESET_MAPPING' | translate}}"
                        openDelay="1000"
                        placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                        type="button">
                  <fa-icon [icon]="faRedo"></fa-icon>
                </button>
              </div>
            </div>

          </th>
        </ng-container>

        <!-- ADD MAPPING -->
        <th>
          <button (click)="showNewMappingForm = true"
                  *ngIf="!showNewMappingForm"
                  [disabled]="flashMode"
                  class="btn btn-outline-success"
                  container="body"
                  data-toggle="tooltip"
                  ngbTooltip="{{'SIDEBAR_EDIT_TT_ADD_MAPPING_INPUT_SHOW' | translate}}"
                  openDelay="1000"
                  placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                  type="button">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>

          <!-- NEW STYLE FORM -->
          <form (ngSubmit)="onSubmitNewMappingStyleProperty()"
                *ngIf="showNewMappingForm"
                [formGroup]="newMappingForm">

            <div class="form-row form-add-mapping">
              <div class="col-8">
                <input [ngClass]="newMappingForm.get('styleProperty').errors !== null
                                    && (newMappingForm.get('styleProperty').touched || newMappingForm.get('styleProperty').dirty)
                                    ? 'border border-danger'
                                    : newMappingForm.get('styleProperty').errors === null ? 'border border-success' : ''"
                       [ngbTypeahead]="suggestStyleProperties" class="form-control" container="body"
                       formControlName="styleProperty"
                       id="styleProperty"
                       name="styleProperty"
                       type="text">

              </div>

              <div class="col-2">
                <button (click)="resetNewMappingForm()"
                        class="btn btn-outline-secondary"
                        type="button">
                  <fa-icon [icon]="faTimes"></fa-icon>
                </button>
              </div>

              <div class="col-2">
                <button [disabled]="newMappingForm.invalid"
                        class="btn btn-outline-success"
                        type="submit">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </button>
              </div>

            </div>

            <small [innerHTML]="'SIDEBAR_EDIT_TT_PROPERTY_HINT' | translate" class="form-row mt-1 text-muted"></small>

            <div class="form-row mt-1">
              <small *ngIf="(newMappingForm.get('styleProperty').touched || newMappingForm.get('styleProperty').dirty)
                              && newMappingForm.get('styleProperty').errors !== null">

                <fa-icon [icon]="faExclamationTriangle"
                         class="text-danger">
                </fa-icon>

                <ng-container *ngIf="newMappingForm.get('styleProperty').errors['required'];
                                  then errRequired
                                  else errStylePropertyName"></ng-container>

                <ng-template #errRequired>
                  {{'SIDEBAR_EDIT_STYLE_PROP_VALIDATION_ERROR_REQUIRED' | translate}}
                </ng-template>

                <ng-template #errStylePropertyName>
                  {{'SIDEBAR_EDIT_STYLE_PROP_VALIDATION_ERROR_INPUT' | translate}}
                </ng-template>

              </small>

              <small *ngIf="(newMappingForm.get('styleProperty').touched || newMappingForm.get('styleProperty').dirty)
                              && newMappingForm.get('styleProperty').errors === null">
                <fa-icon [icon]="faCheckCircle"
                         class="text-success">
                </fa-icon>
                {{'SIDEBAR_EDIT_VALIDATION_OK' | translate}}
              </small>
            </div>
          </form>

        </th>

      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let th of this.thresholds.controls; let thIndex = index">
        <ng-container [formGroupName]="thIndex">

          <!-- REGULAR EQUALS -->
          <tr [ngClass]="thresholdHasDuplicates(thIndex) ? 'table-danger' : ''">

            <!-- DELETE ROW -->
            <td>
              <div aria-label="Deletion" class="btn-group btn-group-sm" role="group">
                <button
                  (click)="markedRowForDeletion !== thIndex ? markedRowForDeletion = thIndex : markedRowForDeletion = null"
                  [disabled]="flashMode || this.thresholds.controls.length < 3"
                  class="btn btn-danger"
                  container="body"
                  data-toggle="tooltip"
                  ngbTooltip="{{'SIDEBAR_EDIT_TT_DELETE_ROW' | translate}}"
                  openDelay="1000"
                  placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                  type="button">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
                <button (click)="removeThresholdFromMapping()" *ngIf="markedRowForDeletion === thIndex"
                        [disabled]="this.thresholds.controls.length < 3"
                        class="btn btn-outline-danger"
                        container="body"
                        data-toggle="tooltip"
                        ngbTooltip="{{'MAIN_MAPPINGS_CONFIRM_DELETION_YES' | translate}}"
                        openDelay="1000"
                        placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                        type="button">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </button>
              </div>

            </td>

            <!-- THRESHOLD -->
            <td>
              <!-- mark red when to be deleted or an error occurred -->
              <input [ngClass]="markedRowForDeletion === thIndex
                     || (this.thresholds.errors !== null
                     && this.thresholds.errors['duplicateThreshold']?.value) === th.get('threshold').value
                     ? 'border-danger' : ''" class="form-control" formControlName="threshold"
                     type="number">
            </td>

            <!-- ERRORS: AT LEAST ONE MAPPING REQUIRED -->
            <td *ngIf="th.get('equals').errors !== null && th.get('equals').errors['required']">
              <small>
                <fa-icon [icon]="faExclamationTriangle"
                         class="text-danger">
                </fa-icon>
                {{'SIDEBAR_EDIT_VALUE_VALIDATION_ERROR_MIN_MAPPINGS' | translate}}
              </small>
            </td>

            <!-- ASSIGNED -->
            <ng-container *ngFor="let equal of th.get('equals')['controls']; let eqIndex = index"
                          formArrayName="equals">
              <td [ngClass]="markedCellMove.mappingIndex === eqIndex
              && markedCellMove.sourceThresholdIndex === thIndex ? 'table-info' : ''" class="deletable">

                <table class="table table-borderless">
                  <tr>

                    <!-- VALUES -->
                    <td *ngIf="th.get('useValues')['controls'][eqIndex].value" class="wide slim">
                      <input *ngIf="!th.get('isColor')['controls'][eqIndex].value" [formControlName]="eqIndex"
                             [ngClass]="markedRowForDeletion === thIndex ? 'border-danger' : ''"
                             class="form-control"
                             type="number">
                      <input *ngIf="th.get('isColor')['controls'][eqIndex].value" [formControlName]="eqIndex"
                             [ngClass]="markedRowForDeletion === thIndex ? 'border-danger' : ''"
                             class="form-control"
                             type="color">
                    </td>

                    <!-- MOVE VALUE HERE -->
                    <td *ngIf="!th.get('useValues')['controls'][eqIndex].value
                        && markedCellMove.mappingIndex === eqIndex
                        && markedCellMove.sourceThresholdIndex !== -1"
                        class="slim wide">
                      <button (click)="moveCell(thIndex, th.get('isColor')['controls'][eqIndex].value)"
                              [disabled]="flashMode"
                              class="btn btn-block btn-outline-info"
                              data-toggle="tooltip"
                              ngbTooltip="{{'SIDEBAR_EDIT_TT_MOVE_CELL_HERE' | translate}}"
                              openDelay="1000"
                              placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                              type="button">
                        <fa-icon [icon]="faChevronLeft"></fa-icon>
                      </button>
                    </td>

                    <!-- ADD CELL -->
                    <td *ngIf="!th.get('useValues')['controls'][eqIndex].value" class="wide slim">
                      <button (click)="addCellToMapping(eqIndex, thIndex)"
                              *ngIf="markedCellMove.mappingIndex === -1
                                                  && markedCellMove.sourceThresholdIndex === -1"
                              [disabled]="flashMode"
                              class="btn btn-block btn-outline-light"
                              data-toggle="tooltip"
                              ngbTooltip="{{'SIDEBAR_EDIT_TT_ADD_CELL' | translate}}"
                              openDelay="1000"
                              placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                              type="button">
                        <fa-icon [icon]="faPlus"></fa-icon>
                      </button>
                    </td>

                    <!-- MOVE CELL -->
                    <td *ngIf="th.get('useValues')['controls'][eqIndex].value" class="slim wide">
                      <button (click)="toggleMoveCell(eqIndex, thIndex)" [disabled]="flashMode
                              || (markedCellMove.sourceThresholdIndex !== -1
                              && markedCellMove.sourceThresholdIndex !== thIndex)"
                              class="btn btn-outline-info deletable-btn"
                              data-toggle="tooltip"
                              ngbTooltip="{{'SIDEBAR_EDIT_TT_MOVE_CELL' | translate}}"
                              openDelay="1000"
                              placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                              type="button">
                        <fa-icon [icon]="faArrowsAltV"></fa-icon>
                      </button>
                    </td>

                    <!-- REMOVE CELL -->
                    <td *ngIf="th.get('useValues')['controls'][eqIndex].value" class="slim wide">
                      <button (click)="removeCellFromMapping(eqIndex, thIndex)"
                              [disabled]="flashMode || markedCellMove.mappingIndex === eqIndex"
                              class="btn btn-outline-danger deletable-btn"
                              data-toggle="tooltip"
                              ngbTooltip="{{'SIDEBAR_EDIT_TT_DELETE_CELL' | translate}}"
                              openDelay="1000"
                              placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                              type="button">
                        <fa-icon [icon]="faTimes"></fa-icon>
                      </button>
                    </td>

                  </tr>

                  <!-- DUPLICATES -->
                  <ng-container *ngIf="th.get('useValues')['controls'][eqIndex].value">
                    <tr *ngFor="let duplicate of th.get('duplicates')['controls'][eqIndex]['controls'];
                    let duplicateIndex = index" class="slim">
                      <!-- VALUES -->
                      <td class="slim wide">
                        <input *ngIf="!th.get('isColor')['controls'][eqIndex].value"
                               [ngClass]="markedRowForDeletion === thIndex ? 'border-danger' : ''" class="form-control"
                               type="number"
                               value="{{th.get('duplicates')['controls'][eqIndex].value}}">
                        <input *ngIf="th.get('isColor')['controls'][eqIndex].value"
                               [ngClass]="markedRowForDeletion === thIndex ? 'border-danger' : ''" class="form-control"
                               type="color"
                               value="{{th.get('duplicates')['controls'][eqIndex].value}}">
                      </td>

                      <!-- MOVE CELL -->
                      <td class="slim wide">
                        <button (click)="toggleMoveCell(eqIndex, thIndex, duplicateIndex)" [disabled]="flashMode
                                || (markedCellMove.sourceThresholdIndex !== -1
                                && markedCellMove.duplicateIndex !== duplicateIndex
                                && markedCellMove.sourceThresholdIndex !== thIndex)"
                                class="btn btn-outline-info deletable-btn"
                                data-toggle="tooltip"
                                ngbTooltip="{{'SIDEBAR_EDIT_TT_MOVE_CELL' | translate}}"
                                openDelay="1000"
                                placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                                type="button">
                          <fa-icon [icon]="faArrowsAltV"></fa-icon>
                        </button>
                      </td>

                      <!-- REMOVE CELL -->
                      <td *ngIf="th.get('useValues')['controls'][eqIndex].value" class="slim wide">
                        <button (click)="removeCellFromMapping(eqIndex, thIndex, duplicateIndex)"
                                [disabled]="flashMode || markedCellMove.mappingIndex === eqIndex"
                                class="btn btn-outline-danger deletable-btn"
                                data-toggle="tooltip"
                                ngbTooltip="{{'SIDEBAR_EDIT_TT_DELETE_CELL' | translate}}"
                                openDelay="1000"
                                placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                                type="button">
                          <fa-icon [icon]="faTimes"></fa-icon>
                        </button>
                      </td>
                    </tr>

                    <!-- ERRORS: DUPLICATES -->
                    <tr *ngIf="th.get('duplicates')['controls'][eqIndex].errors !== null">
                      <td [attr.colspan]="3">
                        <small>
                          <fa-icon [icon]="faExclamationTriangle"
                                   class="text-danger">
                          </fa-icon>
                          {{'SIDEBAR_EDIT_VALUE_VALIDATION_ERROR_DUPLICATE' | translate}}
                        </small>
                      </td>
                    </tr>

                  </ng-container>
                </table>

              </td>
            </ng-container>

          </tr>

          <ng-container *ngIf="(th.get('threshold').touched || th.get('threshold').dirty)">

            <!-- ERRORS: REQUIRED -->
            <tr *ngIf="th.get('threshold').errors !== null && th.get('threshold').errors['required']">
              <td [attr.colspan]="2">
                <small>
                  <fa-icon [icon]="faExclamationTriangle"
                           class="text-danger">
                  </fa-icon>
                  {{'SIDEBAR_EDIT_UNIQUE_THRESH_VALIDATION_ERROR_REQUIRED' | translate}}
                </small>
              </td>
            </tr>

            <!-- ERRORS: DUPLICATES -->
            <tr *ngIf="this.thresholds.errors !== null
              && this.thresholds.errors['duplicateThreshold']?.value === th.get('threshold').value
              && th.get('threshold').value !== null">
              <td [attr.colspan]="2">
                <small>
                  <fa-icon [icon]="faExclamationTriangle"
                           class="text-danger">
                  </fa-icon>
                  {{'SIDEBAR_EDIT_UNIQUE_THRESH_VALIDATION_ERROR_DUPLICATES' | translate}}
                </small>
              </td>
            </tr>


          </ng-container>

        </ng-container>

      </ng-container>

      </tbody>

      <!-- add new threshold -->
      <tr>
        <td [attr.colspan]="mappingCollectionInEditing.length + 2">
          <button (click)="addThresholdToMapping()"
                  [disabled]="flashMode"
                  class="btn btn-block btn-outline-success"
                  data-toggle="tooltip"
                  ngbTooltip="{{'SIDEBAR_EDIT_TT_ADD_THRESHOLD' | translate}}"
                  placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                  type="button">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </td>
      </tr>

    </table>

    <!-- ERRORS: GLOBAL -->
    <table *ngIf="this.thresholds.errors !== null" class="table table-borderless">
      <!-- THRESHOLD: MINLENGTH -->
      <tr *ngIf="this.thresholds.errors['minlength']">
        <td [attr.colspan]="2">
          <small>
            <fa-icon [icon]="faExclamationTriangle"
                     class="text-danger">
            </fa-icon>
            {{'SIDEBAR_EDIT_UNIQUE_THRESH_VALIDATION_ERROR_MINLENGTH' | translate}}
          </small>
        </td>
      </tr>

      <!-- THRESHOLD: INSUFFICIENT VISIBLE -->
      <tr *ngIf="this.thresholds.errors['insufficientEqualsVisible']">
        <td [attr.colspan]="2">
          <small>
            <fa-icon [icon]="faExclamationTriangle"
                     class="text-danger">
            </fa-icon>
            {{'SIDEBAR_EDIT_VALUE_VALIDATION_ERROR_VISIBLE' | translate}}
            <ul>
              <li *ngFor="let errorIndex of this.thresholds.errors['insufficientEqualsVisible']">
                {{this.thresholds.controls[0]?.get('styleProperty')['controls'][errorIndex].value}}
              </li>
            </ul>
          </small>
        </td>
      </tr>
    </table>

    <!-- abort / flash / submit -->
    <div class="row mb-3 mt-3">
      <!-- ABORT -->
      <div class="col-4">

        <!-- aborting adding a new mapping -->
        <button *ngIf="newlyAdded"
                (click)="removeNewlyAdded()"
                class="btn btn-block btn-outline-danger"
                data-toggle="tooltip"
                container="body"
                openDelay="1000"
                ngbTooltip="{{'SIDEBAR_EDIT_TT_BTN_ABORT_NEWLY_ADDED' | translate}}"
                placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                type="button">
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>

        <!-- discarding changes to a previously existing mapping -->
        <button *ngIf="!newlyAdded"
                (click)="discardChanges()"
                class="btn btn-block btn-outline-danger"
                data-toggle="tooltip"
                container="body"
                openDelay="1000"
                ngbTooltip="{{'SIDEBAR_EDIT_TT_BTN_ABORT' | translate}}"
                placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                type="button">
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
      </div>

      <!-- FLASH -->
      <div class="col-4">
        <button (click)="toggleFlashMode()"
                [disabled]="continuousMappingForm.invalid"
                [ngClass]="flashMode ? 'btn-info' : 'btn-outline-info'"
                class="btn btn-block"
                data-toggle="tooltip"
                ngbTooltip="{{'SIDEBAR_EDIT_TT_BTN_MAGIC_' + (flashMode ? 'OFF' : 'ON') | translate}}"
                placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                type="button">
          <fa-icon [icon]="faMagic"></fa-icon>
        </button>
      </div>

      <!-- SUBMIT -->
      <div class="col-4">
        <button [disabled]="continuousMappingForm.invalid"
                class="btn btn-block btn-outline-success"
                container="body"
                data-toggle="tooltip"
                ngbTooltip="{{'SIDEBAR_EDIT_TT_BTN_APPLY' | translate}}"
                placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                type="submit">
          <fa-icon [icon]="faCheck"></fa-icon>
        </button>
      </div>
    </div>

  </form>


</div>


