<ng-container *ngIf="dataService.networkSelected">

  <h1>
    <a [routerLink]="['', { outlets: {primary: ['graph', dataService.networkSelected.id]} }]" data-toggle="tooltip"
       ngbTooltip="{{'MAIN_MAPPINGS_GRAPH' | translate}}" placement="right"
       role="button">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>
    {{dataService.networkSelected.networkInformation.name}}
  </h1>

  <hr>

  <span *ngIf="isDiscrete then discreteOverview else continuousOverview"></span>

  <ng-template #discreteOverview>

    <table class="table table-bordered">

      <thead>
      <tr>
        <th>{{selectedDiscrete.col}}</th>
        <th *ngFor="let val of selectedDiscrete.values" colspan="3">{{val}}</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let style of selectedDiscrete.styleMap">
        <td>{{style.cssKey}}</td>
        <td *ngFor="let val of style.cssValues">
          {{val}}
          <span *ngIf="style.isColor" class="badge-pill badge border"
                [ngStyle]="{'background-color': val}">&nbsp;</span>
        </td>
        <!-- EDIT -->
        <td>
          <button [disabled]="true" class="btn btn-block btn-outline-warning">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
        </td>
        <!-- DELETE -->
        <td>
          <button [disabled]="true" class="btn btn-block btn-outline-danger">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <button [disabled]="true"
            (click)="toggleGlobalRemoveDialogue(selectedDiscrete, typeHint)"
            class="btn btn-block btn-outline-danger"
            data-toggle="tooltip" ngbTooltip="{{'MAIN_MAPPINGS_TT_DELETE' | translate}}"
            placement="bottom">
      <fa-icon [icon]="faTrash"></fa-icon>
      {{'MAIN_MAPPINGS_DELETE' | translate}}
    </button>

  </ng-template>

  <ng-template #continuousOverview>

    <table class="table table-bordered">

      <thead>
      <tr>
        <th>{{selectedContinuous.col}}</th>
        <th>{{selectedContinuous.styleProperty}}</th>

        <!-- EDIT -->
        <th>
          <button [disabled]="true" class="btn btn-block btn-outline-warning">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
        </th>

      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let eq of selectedContinuous.equals; let index = index">
        <ng-container [ngSwitch]="index">
          <td *ngSwitchCase="0"><</td>
          <td *ngSwitchDefault>{{selectedContinuous.thresholds[index - 1]}}</td>
          <td *ngSwitchCase="selectedContinuous.equals.length - 1">></td>
        </ng-container>

        <td colspan="2">
          {{eq}}
          <span *ngIf="selectedContinuous.isColor" class="badge-pill border"
                [ngStyle]="{'background-color': eq}">&nbsp;</span>
        </td>
      </tr>
      </tbody>

    </table>

  </ng-template>

  <hr>

  <!-- SHOW LIST -->
  <div *ngIf="!showGlobalDeletionDialogue && !showSingleDeletionDialogue">

    <h3>{{'MAIN_MAPPINGS_TITLE_LIST' | translate}}</h3>

    <div class="row">
      <!-- todo should be responsive, input component width ... -->
      <div class="col-xl-6 col-12">

        <app-main-mappings-available-attributes
          [attributeListFull]="getAttributeListForCurrentNetworkAndType('nd')"
          [headline]="'MAIN_MAPPINGS_TITLE_NODES_DISCRETE'"
          [mappings]="getExistingMappingListForCurrentNetworkAndType('nd')"
          [type]="'nd'">
        </app-main-mappings-available-attributes>

      </div>

      <div class="col-xl-6 col-12">

        <app-main-mappings-available-attributes
          [attributeListFull]="getAttributeListForCurrentNetworkAndType('ed')"
          [headline]="'MAIN_MAPPINGS_TITLE_EDGES_DISCRETE'"
          [mappings]="getExistingMappingListForCurrentNetworkAndType('ed')"
          [type]="'ed'">
        </app-main-mappings-available-attributes>

      </div>

      <div class="w-100"></div>

      <div class="col-xl-6 col-12">

        <app-main-mappings-available-attributes
          [attributeListFull]="getAttributeListForCurrentNetworkAndType('nc')"
          [headline]="'MAIN_MAPPINGS_TITLE_NODES_CONTINUOUS'"
          [mappings]="getExistingMappingListForCurrentNetworkAndType('nc')"
          [type]="'nc'">
        </app-main-mappings-available-attributes>

      </div>

      <div class="col-xl-6 col-12">

        <app-main-mappings-available-attributes
          [attributeListFull]="getAttributeListForCurrentNetworkAndType('ec')"
          [headline]="'MAIN_MAPPINGS_TITLE_EDGES_CONTINUOUS'"
          [mappings]="getExistingMappingListForCurrentNetworkAndType('ec')"
          [type]="'ec'">
        </app-main-mappings-available-attributes>

      </div>
    </div>

  </div>

  <!-- SHOW GLOBAL DELETION DIALOGUE -->
  <div *ngIf="showGlobalDeletionDialogue && !showSingleDeletionDialogue">
    <div class="alert alert-danger" role="alert">
      {{'MAIN_MAPPINGS_CONFIRM_DELETION' | translate}}
    </div>

    <div class="row">

      <!-- nevermind -->
      <div class="col-6">
        <button class="btn btn-block btn-outline-success">
          <fa-icon [icon]="faTimes"></fa-icon>
          {{'MAIN_MAPPINGS_CONFIRM_DELETION_NO' | translate}}
        </button>
      </div>

      <!-- confirm -->
      <div class="col-6">
        <button
                [routerLink]="['', { outlets: {primary: ['graph', dataService.networkSelected.id]} }]"
                class="btn btn-block btn-outline-danger">
          <fa-icon [icon]="faCheck"></fa-icon>
          {{'MAIN_MAPPINGS_CONFIRM_DELETION_YES' | translate}}
        </button>
      </div>
    </div>

  </div>

  <!-- SHOW SINGLE DELETION DIALOGUE -->
  <div *ngIf="showSingleDeletionDialogue && !showGlobalDeletionDialogue">
    <div class="alert alert-danger" role="alert">
      {{'MAIN_MAPPINGS_SINGLE_CONFIRM_DELETION' | translate}}
    </div>

    <div class="row">

      <!-- nevermind -->
      <div class="col-6">
        <button class="btn btn-block btn-outline-success">
          <fa-icon [icon]="faTimes"></fa-icon>
          {{'MAIN_MAPPINGS_CONFIRM_DELETION_NO' | translate}}
        </button>
      </div>

      <!-- confirm -->
      <div class="col-6">
        <button
                [routerLink]="['', { outlets: {primary: ['graph', dataService.networkSelected.id]} }]"
                class="btn btn-block btn-outline-danger">
          <fa-icon [icon]="faCheck"></fa-icon>
          {{'MAIN_MAPPINGS_CONFIRM_DELETION_YES' | translate}}
        </button>
      </div>
    </div>

  </div>

</ng-container>
