<ng-container *ngIf="selectedNetwork">

  <h1>
    <a role="button" [routerLink]="['', { outlets: {primary: ['graph', selectedNetwork.id]} }]"
       data-toggle="tooltip" data-placement="bottom"
       title="{{'MAIN_MAPPINGS_GRAPH' | translate}}">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>
    {{selectedNetwork.networkInformation.name}}
  </h1>

  <hr>

  <h3
    *ngIf="selectedMapping.classifier || selectedMapping.chartValid || selectedMapping.gradientValid">{{'MAIN_MAPPINGS_DETAILS' | translate}}</h3>

  <table *ngIf="selectedMapping.chartValid" class="table table-bordered">
    <thead>
    <tr>
      <th>{{selectedMapping.title[1]}}</th>
      <th>{{selectedMapping.title[0]}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of selectedMapping.chart.lineChartData[0].data; let i = index">
      <td *ngIf="i === 0">&lt;</td>
      <td *ngIf="i === selectedMapping.chart.lineChartLabels.length - 1">&gt;</td>
      <td
        *ngIf="i > 0 && i < selectedMapping.chart.lineChartLabels.length - 1">{{selectedMapping.chart.lineChartLabels[i]}}</td>
      <td>{{entry}}</td>
    </tr>
    </tbody>
  </table>

  <table *ngIf="selectedMapping.gradientValid" class="table table-bordered">
    <thead>
    <tr>
      <th>{{selectedMapping.title[1]}}</th>
      <th>{{selectedMapping.title[0]}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of selectedMapping.colorGradient; let i = index">
      <td *ngIf="i === 0">&lt;</td>
      <td *ngIf="i === selectedMapping.colorGradient.length - 1">&gt;</td>
      <td *ngIf="i > 0 && i < selectedMapping.colorGradient.length - 1">
        {{entry.numericThreshold}}
      </td>
      <td>
        {{entry.color}}
        <span class="badge badge-pill border" [ngStyle]="{'background-color': entry.color}">&nbsp;</span>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="table-responsive">
    <table *ngIf="selectedMapping.classifier" class="table table-bordered">
      <thead>
      <th colspan="3">{{selectedMapping.classifier}}</th>
      <th *ngFor="let value of selectedMapping.values">{{value}}</th>
      </thead>
      <tbody>
      <tr *ngFor="let style of selectedMapping.styleMap">

        <td><b>{{style.cssKey}}</b></td>
        <td>
          <button type="button" class="btn btn-block btn-outline-warning" data-toggle="tooltip" data-placement="bottom" title="{{'MAIN_MAPPINGS_TT_EDIT' | translate}}">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-block btn-outline-danger">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>

        <td *ngFor="let value of selectedMapping.values; let i = index">

            <span *ngFor="let styleValue of style.cssValues; let j = index">
              <span *ngIf="selectedMapping.selectors[i] === style.selectors[j]">
                  {{styleValue}}
                <span *ngIf="styleValue.indexOf('#') > -1" class="badge badge-pill border"
                      [ngStyle]="{'background-color': styleValue}">&nbsp;</span>
                </span>
              </span>

        </td>

      </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-3" *ngIf="selectedMapping.classifier || selectedMapping.chartValid || selectedMapping.gradientValid">
    <div>
      <button class="btn btn-block btn-outline-danger" (click)="removeDialogue(showList)">
        <fa-icon [icon]="faTrash"></fa-icon>
        {{'MAIN_MAPPINGS_DELETE' | translate}}
      </button>
    </div>
  </div>

  <hr>

  <div *ngIf="showList">

    <h3>{{'MAIN_MAPPINGS_TITLE_LIST' | translate}}</h3>

    <div class="row">
      <div class="col-6">

        <table class="table table-borderless" *ngIf="selectedNetwork.aspectKeyValuesNodes.length > 0">
          <thead class="border-bottom">
            <th colspan="3">{{'MAIN_MAPPINGS_TITLE_NODES_DISCRETE' | translate}}</th>
          </thead>
          <tbody>
          <tr *ngFor="let akv of selectedNetwork.aspectKeyValuesNodes">
            <td *ngIf="akv.values.length !== akv.appliedTo.length">
              {{akv.name}}
            </td>
            <td *ngIf="akv.values.length !== akv.appliedTo.length" class="float-right">

              <!-- mapping exists -->
              <button type="button" class="btn btn-outline-warning mr-2" *ngIf="akv.mapPointerD.length === 1"
                      data-toggle="tooltip" data-placement="bottom" title="{{'MAIN_MAPPINGS_TT_EDIT' | translate}}">
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
              <button type="button" class="btn btn-outline-secondary" *ngIf="akv.mapPointerD.length === 1"
                      [routerLink]="['', { outlets: {primary: ['mappings', selectedNetwork.id, 'nd' + akv.mapPointerD[0]]} }]"
                      data-toggle="tooltip" data-placement="bottom"
                      title="{{'MAIN_MAPPINGS_TT_MAP_DETAILS' | translate}}">
                <fa-icon [icon]="faSearch"></fa-icon>
              </button>

              <!-- no mapping exists -->
              <button type="button" class="btn btn-outline-success" *ngIf="akv.mapPointerD.length === 0"
                      [routerLink]="['', { outlets: {primary: ['new', selectedNetwork.id, 'nd']} }]"
                      data-toggle="tooltip" data-placement="bottom"
                      title="{{'MAIN_MAPPINGS_TT_NEW' | translate}}">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>

            </td>
          </tr>
          </tbody>
        </table>

      </div>

      <div class="col-6">

        <table class="table table-borderless" *ngIf="selectedNetwork.aspectKeyValuesEdges.length > 0">
          <thead class="border-bottom">
            <th colspan="3">{{'MAIN_MAPPINGS_TITLE_EDGES_DISCRETE' | translate}}</th>
          </thead>
          <tbody>
          <tr *ngFor="let akv of selectedNetwork.aspectKeyValuesEdges">
            <td *ngIf="akv.values.length !== akv.appliedTo.length">
              {{akv.name}}
            </td>
            <td *ngIf="akv.values.length !== akv.appliedTo.length" class="float-right">

              <!-- mapping exists -->
              <button type="button" class="btn btn-outline-warning mr-2" *ngIf="akv.mapPointerD.length === 1"
                      data-toggle="tooltip" data-placement="bottom" title="{{'MAIN_MAPPINGS_TT_EDIT' | translate}}">
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
              <button type="button" class="btn btn-outline-secondary" *ngIf="akv.mapPointerD.length === 1"
                      [routerLink]="['', { outlets: {primary: ['mappings', selectedNetwork.id, 'ed' + akv.mapPointerD[0]]} }]"
                      data-toggle="tooltip" data-placement="bottom"
                      title="{{'MAIN_MAPPINGS_TT_MAP_DETAILS' | translate}}">
                <fa-icon [icon]="faSearch"></fa-icon>
              </button>

              <!-- no mapping exists -->
              <button type="button" class="btn btn-outline-success" *ngIf="akv.mapPointerD.length === 0"
                      [routerLink]="['', { outlets: {primary: ['new', selectedNetwork.id, 'ed']} }]"
                      data-toggle="tooltip" data-placement="bottom"
                      title="{{'MAIN_MAPPINGS_TT_NEW' | translate}}">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>

            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="row">
      <div class="col-6">

        <table class="table table-borderless" *ngIf="selectedNetwork.aspectKeyValuesNodes.length > 0">
          <thead class="border-bottom">
          <th colspan="3">{{'MAIN_MAPPINGS_TITLE_NODES_CONTINUOUS' | translate}}</th>
          </thead>
          <tbody>
          <tr *ngFor="let akv of selectedNetwork.aspectKeyValuesNodes">
            <td *ngIf="akv.datatype === 'double'">
              {{akv.name}}
            </td>
            <td *ngIf="akv.datatype === 'double'" class="float-right">

              <!-- mapping exists -->
              <button type="button" class="btn btn-outline-warning mr-2" *ngIf="akv.mapPointerC.length === 1"
                      data-toggle="tooltip" data-placement="bottom" title="{{'MAIN_MAPPINGS_TT_EDIT' | translate}}">
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
              <button type="button" class="btn btn-outline-secondary" *ngIf="akv.mapPointerC.length === 1"
                      [routerLink]="['', { outlets: {primary: ['mappings', selectedNetwork.id, 'nc' + akv.mapPointerC[0]]} }]"
                      data-toggle="tooltip" data-placement="bottom"
                      title="{{'MAIN_MAPPINGS_TT_MAP_DETAILS' | translate}}">
                <fa-icon [icon]="faSearch"></fa-icon>
              </button>

              <!-- no mapping exists -->
              <button type="button" class="btn btn-outline-success" *ngIf="akv.mapPointerC.length === 0"
                      [routerLink]="['', { outlets: {primary: ['new', selectedNetwork.id, 'nc']} }]"
                      data-toggle="tooltip" data-placement="bottom"
                      title="{{'MAIN_MAPPINGS_TT_NEW' | translate}}">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>

            </td>
          </tr>
          </tbody>
        </table>

      </div>

      <div class="col-6">

        <table class="table table-borderless" *ngIf="selectedNetwork.aspectKeyValuesEdges.length > 0">
          <thead class="border-bottom">
          <th colspan="3">{{'MAIN_MAPPINGS_TITLE_EDGES_CONTINUOUS' | translate}}</th>
          </thead>
          <tbody>
          <tr *ngFor="let akv of selectedNetwork.aspectKeyValuesEdges">
            <td *ngIf="akv.datatype === 'double'">
              {{akv.name}}
            </td>
            <td *ngIf="akv.datatype === 'double'" class="float-right">

              <!-- mapping exists -->
              <button type="button" class="btn btn-outline-warning mr-2" *ngIf="akv.mapPointerC.length === 1"
                      data-toggle="tooltip" data-placement="bottom" title="{{'MAIN_MAPPINGS_TT_EDIT' | translate}}">
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
              <button type="button" class="btn btn-outline-secondary" *ngIf="akv.mapPointerC.length === 1"
                      [routerLink]="['', { outlets: {primary: ['mappings', selectedNetwork.id, 'ec' + akv.mapPointerC[0]]} }]"
                      data-toggle="tooltip" data-placement="bottom"
                      title="{{'MAIN_MAPPINGS_TT_MAP_DETAILS' | translate}}">
                <fa-icon [icon]="faSearch"></fa-icon>
              </button>

              <!-- no mapping exists -->
              <button type="button" class="btn btn-outline-success" *ngIf="akv.mapPointerC.length === 0"
                      [routerLink]="['', { outlets: {primary: ['new', selectedNetwork.id, 'ec']} }]"
                      data-toggle="tooltip" data-placement="bottom"
                      title="{{'MAIN_MAPPINGS_TT_NEW' | translate}}">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>

            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>

  <div *ngIf="!showList">
    <div class="alert alert-danger" role="alert">
      {{'MAIN_MAPPINGS_CONFIRM_DELETION' | translate}}
    </div>

    <div class="row">
      <div class="col-6">
        <button class="btn btn-block btn-outline-success" (click)="removeDialogue(showList)">
          <fa-icon [icon]="faTimes"></fa-icon>
          {{'MAIN_MAPPINGS_CONFIRM_DELETION_NO' | translate}}
        </button>
      </div>
      <div class="col-6">
        <button class="btn btn-block btn-outline-danger"
                (click)="removeAffirmation(selectedNetwork.id, currentMappingId)">
          <fa-icon [icon]="faCheck"></fa-icon>
          {{'MAIN_MAPPINGS_CONFIRM_DELETION_YES' | translate}}
        </button>
      </div>
    </div>

  </div>


</ng-container>
