<ng-container *ngIf="dataService.selectedNetwork">

  <h1>
    <a [routerLink]="['', { outlets: {primary: ['graph', dataService.selectedNetwork.id]} }]" data-toggle="tooltip"
       ngbTooltip="{{'MAIN_MAPPINGS_GRAPH' | translate}}" placement="right"
       role="button">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>
    {{dataService.selectedNetwork.networkInformation.name}}
  </h1>

  <hr>

  <ng-template
    *ngIf="(dataService.selectedDiscreteMapping || dataService.selectedContinuousMapping) then details else loading"></ng-template>

  <ng-template class="text-center" #loading>
    <div class="spinner-grow" role="status"></div>
  </ng-template>

  <ng-template #details
               *ngIf="dataService.selectedContinuousMapping then continuousOverview else discreteOverview"></ng-template>

  <ng-template #discreteOverview>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>{{dataService.selectedDiscreteMappingProperty}}</th>
        <th
          *ngFor="let is of dataService.selectedDiscreteMapping|isByCol : dataService.selectedDiscreteMappingProperty">
          {{is}}
        </th>
        <th colspan="2">&nbsp;</th>
      </tr>
      </thead>

      <tbody>
      <tr [ngClass]="dataService.selectedForDeletion === styleProperty ? 'table-danger' : ''"
        *ngFor="let styleProperty of dataService.selectedDiscreteMapping|stylePropertiesByCol : dataService.selectedDiscreteMappingProperty; let styleIndex = index">
        <td>{{styleProperty}}</td>

        <td
          *ngFor="let is of dataService.selectedDiscreteMapping|isByCol : dataService.selectedDiscreteMappingProperty">
          <span>{{dataService.selectedDiscreteMapping|styleValueByColAndKey : dataService.selectedDiscreteMappingProperty : styleProperty : is}}</span>
          <span *ngIf="styleProperty.startsWith('#')" class="badge badge-pill border"
                [ngStyle]="{'': dataService.selectedDiscreteMapping|styleValueByColAndKey : dataService.selectedDiscreteMappingProperty : styleProperty : is}">
            &nbsp;
          </span>
        </td>

        <td>
          <button class="btn btn-outline-warning" [disabled]="true">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
        </td>
        <td>
          <button class="btn btn-outline-danger" (click)="toggleSingleRemoveDialogue(styleIndex)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>

      </tr>
      </tbody>

    </table>

    <button (click)="toggleGlobalRemoveDialogue()"
            class="btn btn-block btn-outline-danger"
            data-toggle="tooltip" ngbTooltip="{{'MAIN_MAPPINGS_TT_DELETE' | translate}}"
            placement="bottom">
      <fa-icon [icon]="faTrash"></fa-icon>
      {{'MAIN_MAPPINGS_DELETE' | translate}}
    </button>

  </ng-template>

  <ng-template #continuousOverview>

    CONTINUOUS
    <table class="table table-bordered">

      <thead>
      <tr>
        <th>{{dataService.selectedContinuousMapping.col}}</th>
        <th>{{dataService.selectedContinuousMapping.styleProperty}}</th>

        <!-- EDIT -->
        <th>
          <button [disabled]="true" class="btn btn-block btn-outline-warning">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
        </th>

      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let eq of dataService.selectedContinuousMapping.equals; let index = index">
        <ng-container [ngSwitch]="index">
          <td *ngSwitchCase="0"><</td>
          <td *ngSwitchDefault>{{dataService.selectedContinuousMapping.thresholds[index - 1]}}</td>
          <td *ngSwitchCase="dataService.selectedContinuousMapping.equals.length - 1">></td>
        </ng-container>

        <td colspan="2">
          {{eq}}
          <span *ngIf="dataService.selectedContinuousMapping.isColor" class="badge-pill border"
                [ngStyle]="{'background-color': eq}">&nbsp;</span>
        </td>
      </tr>
      </tbody>

    </table>

    <button (click)="toggleGlobalRemoveDialogue()"
            class="btn btn-block btn-outline-danger"
            data-toggle="tooltip" ngbTooltip="{{'MAIN_MAPPINGS_TT_DELETE' | translate}}"
            placement="bottom">
      <fa-icon [icon]="faTrash"></fa-icon>
      {{'MAIN_MAPPINGS_DELETE' | translate}}
    </button>

  </ng-template>


  <hr *ngIf="dataService.selectedTypeHint">

  <!-- SHOW LIST -->
  <div *ngIf="!showGlobalDeletionDialogue && !showSingleDeletionDialogue">

    <h3>{{'MAIN_MAPPINGS_TITLE_LIST' | translate}}</h3>

    <div class="row">
      <!-- todo should be responsive, input component width ... -->
      <div class="col-xl-6 col-12">

        <app-main-mappings-available-attributes
          [attributeListFull]="getAttributeListForCurrentNetworkAndType('nd')"
          [headline]="'MAIN_MAPPINGS_TITLE_NODES_DISCRETE'"
          [mappings]="getExistingMappingListForCurrentNetworkAndType('nd')"
          [type]="'nd'">
        </app-main-mappings-available-attributes>

      </div>

      <div class="col-xl-6 col-12">

        <app-main-mappings-available-attributes
          [attributeListFull]="getAttributeListForCurrentNetworkAndType('ed')"
          [headline]="'MAIN_MAPPINGS_TITLE_EDGES_DISCRETE'"
          [mappings]="getExistingMappingListForCurrentNetworkAndType('ed')"
          [type]="'ed'">
        </app-main-mappings-available-attributes>

      </div>

      <div class="w-100"></div>

      <div class="col-xl-6 col-12">

        <app-main-mappings-available-attributes
          [attributeListFull]="getAttributeListForCurrentNetworkAndType('nc')"
          [headline]="'MAIN_MAPPINGS_TITLE_NODES_CONTINUOUS'"
          [mappings]="getExistingMappingListForCurrentNetworkAndType('nc')"
          [type]="'nc'">
        </app-main-mappings-available-attributes>

      </div>

      <div class="col-xl-6 col-12">

        <app-main-mappings-available-attributes
          [attributeListFull]="getAttributeListForCurrentNetworkAndType('ec')"
          [headline]="'MAIN_MAPPINGS_TITLE_EDGES_CONTINUOUS'"
          [mappings]="getExistingMappingListForCurrentNetworkAndType('ec')"
          [type]="'ec'">
        </app-main-mappings-available-attributes>

      </div>
    </div>

  </div>

  <!-- SHOW GLOBAL DELETION DIALOGUE -->
  <div *ngIf="showGlobalDeletionDialogue && !showSingleDeletionDialogue">
    <div class="alert alert-danger" role="alert">
      {{'MAIN_MAPPINGS_CONFIRM_DELETION' | translate}}
    </div>

    <div class="row">

      <!-- nevermind -->
      <div class="col-6">
        <button class="btn btn-block btn-outline-success">
          <fa-icon [icon]="faTimes"></fa-icon>
          {{'MAIN_MAPPINGS_CONFIRM_DELETION_NO' | translate}}
        </button>
      </div>

      <!-- confirm -->
      <div class="col-6">
        <button (click)="confirmDeletion(true, 'global')"
                [routerLink]="['', { outlets: {primary: ['graph', dataService.selectedNetwork.id]} }]"
                class="btn btn-block btn-outline-danger">
          <fa-icon [icon]="faCheck"></fa-icon>
          {{'MAIN_MAPPINGS_CONFIRM_DELETION_YES' | translate}}
        </button>
      </div>
    </div>

  </div>

  <!-- SHOW SINGLE DELETION DIALOGUE -->
  <div *ngIf="showSingleDeletionDialogue && !showGlobalDeletionDialogue" class="mb-3">
    <div class="alert alert-danger" role="alert">
      {{'MAIN_MAPPINGS_SINGLE_CONFIRM_DELETION' | translate}}
    </div>

    <div class="row">

      <!-- nevermind -->
      <div class="col-6">
        <button (click)="confirmDeletion(false, 'single')" class="btn btn-block btn-outline-success">
          <fa-icon [icon]="faTimes"></fa-icon>
          {{'MAIN_MAPPINGS_CONFIRM_DELETION_NO' | translate}}
        </button>
      </div>

      <!-- confirm -->
      <div class="col-6">
        <button (click)="confirmDeletion(true, 'single')"
                [routerLink]="['', { outlets: {primary: ['graph', dataService.selectedNetwork.id]} }]"
                class="btn btn-block btn-outline-danger">
          <fa-icon [icon]="faCheck"></fa-icon>
          {{'MAIN_MAPPINGS_CONFIRM_DELETION_YES' | translate}}
        </button>
      </div>
    </div>

  </div>

</ng-container>
