
.cursor {
  cursor: pointer;
}

.deletable:hover .deletable-btn {
  display: initial;
}

.deletable-btn {
  display: none;
}

.form-add-mapping {
  min-width: 300px;
}

.slim {
  padding: 0 !important;
  margin: 0;
}

.wide {
  width: 100%;
}

.left-scroll-bar {
  direction: rtl;
}

.left-scroll-bar * {
  direction: ltr;
}
