<div class="p-2">

  <div class="row">
    <div class="col">

      <h5 *ngIf="dataService.selectedNetwork.networkInformation.description">
        <a [routerLink]="['', { outlets: {sidebar: ['manage']} }]"
           class="mb-1 float-left"
           data-toggle="tooltip"
           ngbTooltip="{{'NAV_MANAGE' | translate}}"
           placement="{{layoutService.layout.sidebar.tooltipDirection}}"
           role="button"
           type="button">
          <fa-icon [icon]="faArrowLeft" class="mr-1"></fa-icon>
        </a>
        {{'SIDEBAR_EDIT_DESCRIPTION_TITLE' | translate}}
      </h5>

      <h5 *ngIf="!dataService.selectedNetwork.networkInformation.description">
        <a [routerLink]="['', { outlets: {sidebar: ['manage']} }]"
           class="mb-1"
           data-toggle="tooltip"
           ngbTooltip="{{'NAV_MANAGE' | translate}}"
           placement="{{layoutService.layout.sidebar.tooltipDirection}}"
           role="button"
           type="button">
          <fa-icon [icon]="faArrowLeft" class="mr-1"></fa-icon>
        </a>
        {{'SIDEBAR_EDIT_DEFAULT_TITLE' | translate}}

      </h5>
    </div>
    <div class="col">
      <span class="float-right"
            (click)="collapseDescription.toggle()"
            [attr.aria-expanded]="!isCollapsedDescription"
            aria-controls="collapseExample">
        <fa-icon [icon]="faChevronDown"></fa-icon>
      </span>
    </div>
  </div>
  <hr *ngIf="isCollapsedDescription">

  <!-- Network description -->
  <div #collapseDescription="ngbCollapse" [(ngbCollapse)]="isCollapsedDescription">
    <p [innerHTML]="dataService.selectedNetwork.networkInformation.description"></p>
  </div>

  <!-- Show labels -->
  <div *ngIf="showLabelCheckbox" class="form-check mb-2">
    <input (click)="toggleLabels(!dataService.selectedNetwork.showLabels)"
           [checked]="dataService.selectedNetwork.showLabels" class="form-check-input" id="showLabels"
           type="checkbox">
    <label class="form-check-label" for="showLabels">
      {{'SIDEBAR_EDIT_CB_LABELS' | translate}}
    </label>
  </div>

  <!-- Selected elements -->
  <app-sidebar-edit-selected
    [selectedElements]="graphService.selectedElements.nodes"
    [relevantProperties]="graphService.selectedElements.nodeProperties"
    [type]="'NODE'">
  </app-sidebar-edit-selected>

  <app-sidebar-edit-selected
    [selectedElements]="graphService.selectedElements.edges"
    [relevantProperties]="graphService.selectedElements.edgeProperties"
    [type]="'EDGE'">
  </app-sidebar-edit-selected>

  <hr>

  <!-- NAV -->
  <div aria-orientation="horizontal" class="nav nav-pills flex-row" id="editsNav" role="tablist">
    <a aria-controls="editsNavAspects"
       aria-selected="false"
       class="nav-link active"
       data-toggle="pill"
       href="#editsNavAspectsContent"
       id="editsNavAspects"
       role="tab"
       ngbTooltip="{{'SIDEBAR_EDIT_NAV_TT_MAPPINGS' | translate}}"
       placement="{{layoutService.layout.sidebar.tooltipDirection}}">
      {{'SIDEBAR_EDIT_ATTRIBUTES_TITLE' | translate}}
    </a>
    <a aria-controls="editsNavInspect"
       aria-selected="false"
       class="nav-link"
       data-toggle="pill"
       href="#editsNavInspectContent"
       id="editsNavInspect"
       role="tab"
       ngbTooltip="{{'SIDEBAR_EDIT_NAV_TT_INSPECT' | translate}}"
       placement="{{layoutService.layout.sidebar.tooltipDirection}}">
      {{'SIDEBAR_EDIT_INSPECT_TITLE' | translate}}
    </a>
    <a aria-controls="editsNavHighlights"
       aria-selected="true"
       class="nav-link"
       data-toggle="pill"
       href="#editsNavHighlightsContent"
       id="editsNavHighlights"
       role="tab"
       ngbTooltip="{{'SIDEBAR_EDIT_NAV_TT_SETTINGS' | translate}}"
       placement="{{layoutService.layout.sidebar.tooltipDirection}}">
      <fa-icon [icon]="faCogs"></fa-icon>
    </a>

  </div>

  <div class="tab-content p-2" id="editsNavContent">

    <!-- Edit: Aspects -->
    <div aria-labelledby="editsNavAspects" class="tab-pane fade show active" id="editsNavAspectsContent"
         role="tabpanel">

      <!-- MAPPINGS: MANAGE -->
      <button [routerLink]="['', { outlets: {primary: ['mappings', -1]} }]"
              class="btn btn-lg btn-block btn-success mt-2 mb-2"
              data-toggle="tooltip"
              ngbTooltip="{{'SIDEBAR_EDIT_TT_MANAGE_MAPPINGS' | translate}}"
              placement="{{layoutService.layout.sidebar.tooltipDirection}}">
        <fa-icon [icon]="faPalette" class="mr-2"></fa-icon>
        {{'SIDEBAR_EDIT_MANAGE_MAPPINGS' | translate}}
      </button>

      <hr *ngIf="dataService.selectedNetwork.mappings.nodesDiscrete.length > 0
      || dataService.selectedNetwork.mappings.nodesContinuous.length > 0
      || dataService.selectedNetwork.mappings.nodesPassthrough.length > 0">

      <!-- MAPPINGS: NODES -->
      <div class="row" *ngIf="dataService.selectedNetwork.mappings.nodesDiscrete.length > 0
              || dataService.selectedNetwork.mappings.nodesContinuous.length > 0
              || dataService.selectedNetwork.mappings.nodesPassthrough.length > 0">
        <div class="col">
          <h5>
            {{'SIDEBAR_EDIT_ASPECTS_NODES' | translate}}</h5>
        </div>
        <div class="col">
          <span class="float-right"
                (click)="collapseMappingsNodes.toggle()"
                [attr.aria-expanded]="!isCollapsedMappingsNodes"
                aria-controls="collapseExample">
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </span>
        </div>
      </div>

      <div #collapseMappingsNodes="ngbCollapse" [ngbCollapse]="isCollapsedMappingsNodes" class="mt-1">
        <!-- NP -->
        <table class="table"
               data-toggle="tooltip"
               ngbTooltip="{{'SIDEBAR_EDIT_TT_PASSTHROUGH' | translate}}"
               placement="{{layoutService.layout.sidebar.tooltipDirection}}">
          <tr *ngFor="let np of dataService.selectedNetwork.mappings.nodesPassthrough; let npIndex = index">
            <td>
              <a [routerLink]="['', { outlets: {primary: ['mappings', 'np' +  npIndex]} }]" role="button">
                <b>{{np.col}}</b>
              </a>
            </td>
            <td>{{np.styleProperty}}</td>
          </tr>
        </table>

        <!-- ND -->
        <table
          *ngIf="dataService.selectedNetwork.mappings.nodesDiscrete.length > 0"
          class="table-responsive table">

          <tr
            *ngFor="let nodeCol of dataService.selectedNetwork.mappings.nodesDiscrete|uniqueCols; let colIndex = index">

            <td>
              <a
                [routerLink]="['', { outlets: {primary: ['mappings', 'nd', nodeCol]} }]"
                role="button">
                <b>{{nodeCol}}</b>
              </a>
            </td>

            <td>
              <table class="table table-borderless">

                <tr class="border-bottom">
                  <td>&nbsp;</td>
                  <td
                    *ngFor="let styleProperty of dataService.selectedNetwork.mappings.nodesDiscrete|stylePropertiesByCol: nodeCol">
                    <b>{{styleProperty}}</b>
                  </td>
                </tr>

                <tr
                  *ngFor="let is of dataService.selectedNetwork.mappings.nodesDiscrete|isByCol: nodeCol; let isIndex = index">
                  <td class="border-right">{{is}}</td>

                  <td
                    *ngFor="let styleProperty of dataService.selectedNetwork.mappings.nodesDiscrete|stylePropertiesByCol: nodeCol">
                    {{dataService.selectedNetwork.mappings.nodesDiscrete|styleValueByColAndKey: nodeCol : styleProperty : is}}
                    <span
                      [ngClass]="((dataService.selectedNetwork.mappings.nodesDiscrete|styleValueByColAndKey: nodeCol : styleProperty : is) !== null
                    && (dataService.selectedNetwork.mappings.nodesDiscrete|styleValueByColAndKey: nodeCol : styleProperty : is).startsWith('#')
                    ? 'badge badge-pill border' : 'd-none')"
                      [ngStyle]="{'background-color': dataService.selectedNetwork.mappings.nodesDiscrete|styleValueByColAndKey: nodeCol : styleProperty : is}">
                      &nbsp;
                    </span>
                  </td>
                </tr>

              </table>
            </td>

          </tr>

        </table>

        <!-- NC -->
        <div class="list-group list-group-flush"
             *ngIf="dataService.selectedNetwork.mappings.nodesContinuous.length > 0">
          <span *ngFor="let nc of dataService.selectedNetwork.mappings.nodesContinuous; let ncIndex = index">
            <button class="list-group-item list-group-item-action" type="button"
                    (click)="collapseVisualAid.toggle()"
                    [attr.aria-expanded]="!isCollapsedVisualAid"
                    aria-controls="collapseExample">
              <b>{{nc.cleanStyleProperty}} </b>{{'SIDEBAR_EDIT_MAPPED_BY' | translate}}<b> {{nc.col}}</b>
            </button>
            <div #collapseVisualAid="ngbCollapse" [ngbCollapse]="isCollapsedVisualAid">
              <app-chart *ngIf="hasChart(nc)" class="mt-2"
                         [chartObject]="getLineChartObject(nc)"
                         [index]="'nc' + ncIndex"
                         [includeHeadline]="false"
                         [widthPercent]="100"></app-chart>

              <div *ngIf="hasGradient(nc)" class="mt-2 hoverlinetest"
                   [style.background]="getGradient(nc)"
                   [style.height.px]="200"
                   [style.width.%]="100">
              </div>
              <a role="button" class="btn btn-block btn-sm btn-outline-secondary m-1"
                 [routerLink]="['', { outlets: {primary: ['mappings', 'nc' + ncIndex]} }]">
                {{'SIDEBAR_EDIT_BTN_LABEL_DISPLAY_CONTINUOUS_DETAILS' | translate}}
                <fa-icon [icon]="faRoute"></fa-icon>
              </a>
            </div>
          </span>
        </div>

      </div>

      <hr *ngIf="dataService.selectedNetwork.mappings.edgesDiscrete.length > 0
      || dataService.selectedNetwork.mappings.edgesContinuous.length > 0
      || dataService.selectedNetwork.mappings.edgesPassthrough.length > 0">

      <!-- MAPPINGS: EDGES -->
      <div class="row" *ngIf="dataService.selectedNetwork.mappings.edgesDiscrete.length > 0
      || dataService.selectedNetwork.mappings.edgesContinuous.length > 0
      || dataService.selectedNetwork.mappings.edgesPassthrough.length > 0">
        <div class="col">
          <h5>
            {{'SIDEBAR_EDIT_ASPECTS_EDGES' | translate}}
          </h5>
        </div>
        <div class="col">
          <span class="float-right"
                (click)="collapseMappingsEdges.toggle()"
                [attr.aria-expanded]="!isCollapsedMappingsEdges"
                aria-controls="collapseExample">
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </span>
        </div>
      </div>

      <div #collapseMappingsEdges="ngbCollapse" [ngbCollapse]="isCollapsedMappingsEdges" class="mt-1">
        <!-- EP -->
        <table class="table" data-toggle="tooltip"
               ngbTooltip="{{'SIDEBAR_EDIT_TT_PASSTHROUGH' | translate}}"
               placement="{{layoutService.layout.sidebar.tooltipDirection}}">
          <tr *ngFor="let ep of dataService.selectedNetwork.mappings.edgesPassthrough; let epIndex = index">
            <td>
              <a [routerLink]="['', { outlets: {primary: ['mappings', 'ep' +  epIndex]} }]" role="button">
                <b>{{ep.col}}</b>
              </a>
            </td>
            <td>{{ep.styleProperty}}</td>
          </tr>
        </table>

        <!-- ED -->
        <table
          *ngIf="dataService.selectedNetwork.mappings.edgesDiscrete.length > 0"
          class="table-responsive table">

          <tr
            *ngFor="let edgeCol of dataService.selectedNetwork.mappings.edgesDiscrete|uniqueCols; let colIndex = index">

            <td>
              <a
                [routerLink]="['', { outlets: {primary: ['mappings', 'ed', edgeCol]} }]"
                role="button">
                <b>{{edgeCol}}</b>
              </a>
            </td>

            <td>
              <table class="table table-borderless">

                <tr class="border-bottom">
                  <td>&nbsp;</td>
                  <td
                    *ngFor="let styleProperty of dataService.selectedNetwork.mappings.edgesDiscrete|stylePropertiesByCol: edgeCol">
                    <b>{{styleProperty}}</b>
                  </td>
                </tr>

                <tr
                  *ngFor="let is of dataService.selectedNetwork.mappings.edgesDiscrete|isByCol: edgeCol; let isIndex = index">
                  <td class="border-right">{{is}}</td>

                  <td
                    *ngFor="let styleProperty of dataService.selectedNetwork.mappings.edgesDiscrete|stylePropertiesByCol: edgeCol">
                    {{dataService.selectedNetwork.mappings.edgesDiscrete|styleValueByColAndKey: edgeCol : styleProperty : is}}
                    <span
                      [ngClass]="((dataService.selectedNetwork.mappings.edgesDiscrete|styleValueByColAndKey: edgeCol : styleProperty : is) !== null
                    && (dataService.selectedNetwork.mappings.edgesDiscrete|styleValueByColAndKey: edgeCol : styleProperty : is).startsWith('#')
                    ? 'badge badge-pill border' : 'd-none')"
                      [ngStyle]="{'background-color': dataService.selectedNetwork.mappings.edgesDiscrete|styleValueByColAndKey: edgeCol : styleProperty : is}">
                      &nbsp;
                    </span>
                  </td>
                </tr>

              </table>
            </td>

          </tr>

        </table>

        <!-- EC -->
        <div class="list-group list-group-flush"
             *ngIf="dataService.selectedNetwork.mappings.edgesContinuous.length > 0">
          <span *ngFor="let ec of dataService.selectedNetwork.mappings.edgesContinuous; let ecIndex = index">
            <button class="list-group-item list-group-item-action" type="button"
                    (click)="collapseVisualAid.toggle()"
                    [attr.aria-expanded]="!isCollapsedVisualAid"
                    aria-controls="collapseExample">
              <b>{{ec.cleanStyleProperty}} </b>{{'SIDEBAR_EDIT_MAPPED_BY' | translate}}<b> {{ec.col}}</b>
            </button>
            <div #collapseVisualAid="ngbCollapse" [ngbCollapse]="isCollapsedVisualAid">
              <app-chart *ngIf="hasChart(ec)" class="mt-2"
                         [chartObject]="getLineChartObject(ec)"
                         [index]="'ec' + ecIndex"
                         [includeHeadline]="false"
                         [widthPercent]="100"></app-chart>

              <div *ngIf="hasGradient(ec)" class="mt-2"
                   [style.background]="getGradient(ec)"
                   [style.height.px]="200"
                   [style.width.%]="100">

              </div>

              <a role="button" class="btn btn-block btn-sm btn-outline-secondary m-1"
                 [routerLink]="['', { outlets: {primary: ['mappings', 'ec' + ecIndex]} }]">
                {{'SIDEBAR_EDIT_BTN_LABEL_DISPLAY_CONTINUOUS_DETAILS' | translate}}
                <fa-icon [icon]="faRoute"></fa-icon>
              </a>

            </div>
          </span>
        </div>
      </div>

    </div>

    <!-- Edit: Inspection tool -->
    <app-sidebar-edit-inspect
      aria-labelledby="editsNavInspect"
      class="tab-pane fade"
      id="editsNavInspectContent"
      role="tabpanel">
    </app-sidebar-edit-inspect>

    <!-- Edit: Setting highlight colors and duration -->
    <div aria-labelledby="editsNavHighlights" class="tab-pane fade" id="editsNavHighlightsContent"
         role="tabpanel">

      <div class="alert alert-success" id="test" role="alert">
        <fa-icon [icon]="faPalette" class="mr-2"></fa-icon>
        <b>{{'SIDEBAR_EDIT_TOAST_UPDATE' | translate}}</b>
        <hr>
        <b>{{'SIDEBAR_EDIT_TOAST_NODES' | translate}}</b> {{highlightNodes}}<br>
        <b>{{'SIDEBAR_EDIT_TOAST_EDGES' | translate}}</b> {{highlightEdges}}<br>
        <b>{{'SIDEBAR_EDIT_TOAST_DURATION' | translate}}</b> {{highlightDuration}}<br>
      </div>

      <div class="form-row">
        <label for="highlightNodesHex">{{'SIDEBAR_EDIT_LABEL_HEX_NODE' | translate}}</label>
        <input (change)="setHighlightColorAndDuration()"
               [(ngModel)]="highlightNodes"
               class="form-control form-control-color"
               id="highlightNodesHex"
               name="highlightNodesHex"
               type="color"
               value="{{highlightNodes}}">
      </div>
      <div class="form-row">
        <label for="highlightEdgesHex">{{'SIDEBAR_EDIT_LABEL_HEX_EDGE' | translate}}</label>
        <input (change)="setHighlightColorAndDuration()"
               [(ngModel)]="highlightEdges"
               class="form-control form-control-color"
               id="highlightEdgesHex"
               name="highlightEdgesHex"
               type="color"
               value="{{highlightEdges}}">
      </div>
      <div class="form-row">
        <label for="highlightDuration">{{'SIDEBAR_EDIT_LABEL_DURATION' | translate}}</label>
        <input (change)="setHighlightColorAndDuration()" [(ngModel)]="highlightDuration" class="form-control mb-2"
               id="highlightDuration"
               min="0"
               name="highlightDuration"
               placeholder="2000"
               step="100" type="number">

      </div>
    </div>
  </div>
</div>


