.fixed-width {
  min-width: 120px;
}

.threshold-hover {
  display: inline-flex;
  // flex-direction: column;

  .threshold {
    // display: inline-block;
    border-right: 1px solid red;
    width: 1px;
    height: 200px;
  }
}

