<!-- BORDER in case flash or edit mode -->
<div class="p-2 mb-5" [ngClass]="dataService.sidebarMode === utilityService.sidebarMode.flash
? 'sidebar-border-flash'
: ( dataService.sidebarMode === utilityService.sidebarMode.edit
  ? 'sidebar-border-edit' : '' )">

  <!-- HEADLINE -->
  <div class="row">
    <div class="col"></div>
    <!-- Tooltip direction special case -->
    <div class="col-auto sidebar-icon-flash rounded sticky-top inline"
         *ngIf="dataService.sidebarMode === utilityService.sidebarMode.flash"
         ngbTooltip="{{'SIDEBAR_EDIT_MODE_FLASH' | translate}}"
         openDelay="1000"
         container="body"
         placement="bottom-{{layoutService.layout.main.tooltipDirection}}">
      <fa-icon class="align-middle" [icon]="faMagic"></fa-icon>
    </div>

    <!-- Tooltip direction special case -->
    <div class="col-auto sidebar-icon-edit rounded sticky-top inline"
         *ngIf="dataService.sidebarMode === utilityService.sidebarMode.edit"
         ngbTooltip="{{'SIDEBAR_EDIT_MODE_EDIT' | translate}}"
         openDelay="1000"
         container="body"
         placement="bottom-{{layoutService.layout.main.tooltipDirection}}">
      <fa-icon class="align-middle" [icon]="faEdit"></fa-icon>
    </div>
  </div>

  <!-- SELECTION -->
  <div
    *ngIf="graphService.selectedElements.nodes.length > 0 || graphService.selectedElements.edges.length > 0">
    <app-sidebar-edit-selected
      [elementType]="utilityService.elementType.node"
      [relevantProperties]="graphService.selectedElements.nodeProperties"
      [selectedElements]="graphService.selectedElements.nodes"></app-sidebar-edit-selected>

    <app-sidebar-edit-selected
      [elementType]="utilityService.elementType.edge"
      [relevantProperties]="graphService.selectedElements.edgeProperties"
      [selectedElements]="graphService.selectedElements.edges"></app-sidebar-edit-selected>
  </div>

  <div>

    <!-- NAV: INFO | MAPPINGS | SETTINGS -->
    <ul aria-orientation="horizontal" class="nav nav-tabs" id="editsNav" role="tablist">

      <!-- SPACER -->
      <li class="nav-item mr-3">&nbsp;</li>

      <!-- INFO -->
      <li class="nav-item">
        <a aria-controls="editInfo"
           aria-selected="false"
           class="nav-link active text-center"
           container="body"
           data-toggle="pill"
           href="#editInfoContent"
           id="editInfo"
           ngbTooltip="{{'SIDEBAR_EDIT_NAV_TT_INFO' | translate}}"
           openDelay="1000"
           placement="{{layoutService.layout.sidebar.tooltipDirection}}"
           role="tab">
          &nbsp;&nbsp;
          <fa-icon [icon]="faInfoCircle"></fa-icon>
          &nbsp;&nbsp;
          <br>
        </a>
      </li>

      <!-- MAPPINGS -->
      <li class="nav-item">
        <a aria-controls="editMappings"
           aria-selected="false"
           class="nav-link text-center"
           container="body"
           data-toggle="pill"
           href="#editMappingsContent"
           id="editMappings"
           ngbTooltip="{{'SIDEBAR_EDIT_NAV_TT_MAPPINGS' | translate}}"
           openDelay="1000"
           placement="{{layoutService.layout.sidebar.tooltipDirection}}"
           role="tab">
          &nbsp;&nbsp;
          <fa-icon [icon]="faPalette"></fa-icon>
          &nbsp;&nbsp;
          <br>
        </a>
      </li>

      <!-- EXPORT -->
      <li class="nav-item">
        <a aria-controls="editExport"
           aria-selected="false"
           class="nav-link text-center"
           container="body"
           data-toggle="pill"
           href="#editExportContent"
           id="editExport"
           ngbTooltip="{{'SIDEBAR_EDIT_NAV_TT_EXPORT' | translate}}"
           openDelay="1000"
           placement="{{layoutService.layout.sidebar.tooltipDirection}}"
           role="tab">
          &nbsp;&nbsp;
          <fa-icon [icon]="faCloudDownloadAlt"></fa-icon>
          &nbsp;&nbsp;
          <br>
        </a>
      </li>

      <!-- SETTINGS -->
      <li class="nav-item">
        <a aria-controls="editSettings"
           aria-selected="false"
           class="nav-link text-center"
           container="body"
           data-toggle="pill"
           href="#editSettingsContent"
           id="editSettings"
           ngbTooltip="{{'SIDEBAR_EDIT_NAV_TT_SETTINGS' | translate}}"
           openDelay="1000"
           placement="{{layoutService.layout.sidebar.tooltipDirection}}"
           role="tab">
          &nbsp;&nbsp;
          <fa-icon [icon]="faCogs"></fa-icon>
          &nbsp;&nbsp;
          <br>
        </a>
      </li>

    </ul>

  </div>

  <!-- NAVCONTENT: INFO | MAPPINGS | SETTINGS -->
  <div class="tab-content mt-2 mb-5 p-1" id="editsNavContent">

    <!-- 1: INFO -->
    <div aria-labelledby="editInfo" class="tab-pane fade show active" id="editInfoContent"
         role="tabpanel">

      <!-- INFO: NETWORK ATTRIBUTES -->
      <h4 (click)="cEditInfoDescription.toggle()"
          [attr.aria-expanded]="!collapsedEditInfoDescription"
          aria-controls="cEditInfoDescription"
          class="alert alert-secondary cursor">
        {{ 'SIDEBAR_EDIT_DESCRIPTION' | translate }}
        <!-- CLASS: networkInformation (1) -->
        <span *ngIf="dataService.classInEditing === utilityService.propertyTarget.networkInformation"
              class="text-warning">
          <fa-icon [icon]="faExclamationTriangle"></fa-icon>
        </span>
      </h4>
      <div #cEditInfoDescription="ngbCollapse"
           [(ngbCollapse)]="collapsedEditInfoDescription">

        <!-- LINK TO NDEX -->
        <div *ngIf="dataService.selectedNetwork.networkInformation.uuid" class="card mb-2">
          <div class="card-body">

            <div class="row">
              <div class="col-9">
                <b class="align-middle">UUID:</b>&nbsp;
                <a
                  class="align-middle"
                  container="body"
                  data-toggle="tooltip"
                  href="https://www.ndexbio.org/viewer/networks/{{dataService.selectedNetwork.networkInformation.uuid}}"
                  ngbTooltip="{{'SIDEBAR_EDIT_TT_NETWORK_ON_NDEX' | translate}}"
                  openDelay="1000"
                  placement="{{layoutService.layout.sidebar.tooltipDirection}}"
                  target="_blank">
                  <b>{{dataService.selectedNetwork.networkInformation.uuid}}</b>
                </a>
              </div>
              <div class="col-3 text-right">

                <!-- Copy UUID -->
                <button (click)="copyUuid()"
                        *ngIf="dataService.selectedNetwork.networkInformation.uuid"
                        class="btn btn-outline-success"
                        container="body"
                        data-toggle="tooltip"
                        ngbTooltip="{{ 'SIDEBAR_MANAGE_TT_CLIPBOARD' | translate }}"
                        openDelay="1000"
                        placement="{{layoutService.layout.sidebar.tooltipDirection}}">
                  <fa-icon [icon]="faCopy"></fa-icon>
                </button>

              </div>
            </div>


          </div>
        </div>

        <app-sidebar-edit-info
          [itemList]="dataService.selectedNetwork.networkInformation.information"
          headline="SIDEBAR_EDIT_HEADLINE_ATTRIBUTES"
          [target]="utilityService.propertyTarget.networkInformation"></app-sidebar-edit-info>

      </div>

      <!-- INFO: ATTRIBUTES -->
      <h4 (click)="cEditInfoAttributes.toggle()"
          [attr.aria-expanded]="!collapsedEditInfoAttributes"
          aria-controls="cEditInfoAttributes"
          class="alert alert-secondary cursor">
        {{ 'SIDEBAR_EDIT_ATTRIBUTES' | translate }}

      </h4>
      <p #cEditInfoAttributes="ngbCollapse"
         [(ngbCollapse)]="collapsedEditInfoAttributes">
        <app-main-stats></app-main-stats>
      </p>

      <!-- INFO: INSPECTION WIZARD -->
      <h4 (click)="cEditInfoInspection.toggle()"
          [attr.aria-expanded]="!collapsedEditInfoInspection"
          aria-controls="cEditInfoInspection"
          class="alert alert-secondary cursor">
        {{ 'SIDEBAR_EDIT_INSPECT' | translate }}
      </h4>
      <div #cEditInfoInspection="ngbCollapse"
           [(ngbCollapse)]="collapsedEditInfoInspection">

        <app-sidebar-edit-inspect></app-sidebar-edit-inspect>

      </div>

    </div>

    <!-- 2: MAPPINGS -->
    <div aria-labelledby="editMappings" class="tab-pane fade" id="editMappingsContent"
         role="tabpanel">

      <!-- NODES -->
      <app-sidebar-edit-mapping
        [elementType]="utilityService.elementType.node"></app-sidebar-edit-mapping>

      <!-- EDGES -->
      <app-sidebar-edit-mapping
        [elementType]="utilityService.elementType.edge"></app-sidebar-edit-mapping>

      <!-- NETWORK -->
      <h4 (click)="networkParent.toggle()"
          [attr.aria-expanded]="!collapsedNetwork"
          aria-controls="networkParent"
          class="alert alert-secondary cursor">
        {{ 'SIDEBAR_EDIT_NETWORK' | translate}}
        <!-- CLASS: networkAttributes (2) -->
        <span *ngIf="dataService.classInEditing === utilityService.propertyTarget.networkAttributes"
              class="text-warning">
          <fa-icon [icon]="faExclamationTriangle"></fa-icon>
        </span>
      </h4>
      <div #networkParent="ngbCollapse"
           [(ngbCollapse)]="collapsedNetwork"
           class="p-2">
        <app-sidebar-edit-info [itemList]="dataService.selectedNetwork.mappings.networkDefault"
                               [target]="utilityService.propertyTarget.networkAttributes"></app-sidebar-edit-info>
      </div>

    </div>

    <!-- EXPORT -->
    <div aria-labelledby="editExport" class="tab-pane fade" id="editExportContent" role="tabpanel">
      <app-sidebar-image></app-sidebar-image>
    </div>

    <!-- 3: SETTINGS -->
    <div aria-labelledby="editSettings" class="tab-pane fade" id="editSettingsContent"
         role="tabpanel">

      <h5>
        {{'SIDEBAR_EDIT_HEADLINE_SETTINGS' | translate}}
      </h5>

      <div class="form-row">
        <label for="highlightNodesHex">{{'SIDEBAR_EDIT_LABEL_HEX_NODE' | translate}}</label>
        <input (change)="setHighlightColorAndDuration()"
               [(ngModel)]="highlightNodes"
               class="form-control form-control-color"
               id="highlightNodesHex"
               name="highlightNodesHex"
               type="color"
               value="{{highlightNodes}}">
      </div>
      <div class="form-row">
        <label for="highlightEdgesHex">{{'SIDEBAR_EDIT_LABEL_HEX_EDGE' | translate}}</label>
        <input (change)="setHighlightColorAndDuration()"
               [(ngModel)]="highlightEdges"
               class="form-control form-control-color"
               id="highlightEdgesHex"
               name="highlightEdgesHex"
               type="color"
               value="{{highlightEdges}}">
      </div>
      <div class="form-row">
        <label for="highlightDuration">{{'SIDEBAR_EDIT_LABEL_DURATION' | translate}}</label>
        <input (change)="setHighlightColorAndDuration()" [(ngModel)]="highlightDuration"
               class="form-control mb-2"
               id="highlightDuration"
               min="0"
               name="highlightDuration"
               placeholder="2000"
               step="100" type="number">

      </div>

    </div>
  </div>

</div>


