<div class="p-2">

  <h5 *ngIf="selectedNetwork.networkInformation.description">{{'SIDEBAR_EDIT_DESCRIPTION_TITLE' | translate}}</h5>

  <div *ngIf="selectedNetwork.networkInformation.description">
    <p [innerHTML]="selectedNetwork.networkInformation.description"></p>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="{{showLabels}}" id="showLabels"
           (click)="toggleLabels(!showLabels)">
    <label class="form-check-label" for="showLabels">
      {{'SIDEBAR_EDIT_CB_LABELS' | translate}}
    </label>
  </div>

  <!-- chart for continuous mappings -->
  <div *ngIf="showChart">
    <h5>
      <a [routerLink]="['', { outlets: {primary: ['mappings', selectedNetwork.id, index]} }]" role="button">
        <b>{{lookup}}</b>
        {{'SIDEBAR_EDIT_MAPPED_BY' | translate}}
        <b>{{attribute}}</b>
      </a>
    </h5>
    <canvas id="mappingsChart" baseChart [ngStyle]="{'width.%': 100}"
            [chartType]="'line'"
            [legend]="true"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [colors]="lineChartColors"
            [options]="lineChartOptions"></canvas>
  </div>

  <!-- color gradient for continuous mappings -->
  <div *ngIf="showColorGradient">
    <h5>
      <a [routerLink]="['', {outlets: {primary: ['mappings', selectedNetwork.id, index]} }]" role="button">
        <b>{{lookup}}</b>
        {{'SIDEBAR_EDIT_MAPPED_BY' | translate}}
        <b>{{attribute}}</b>
      </a>
    </h5>
    <div [style.width.%]="100" [style.height.px]="200" [style.background]="gradientBackground" class="mb-3">
    </div>
  </div>

  <div *ngIf="graphService.selectedElements.nodes.length > 0 || graphService.selectedElements.edges.length > 0">

    <!-- Display selected nodes -->
    <h5 *ngIf="graphService.selectedElements.nodes.length > 0">{{'SIDEBAR_EDIT_COMPARISON_NODES' | translate}}</h5>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="{{showAllForNodes}}" id="showNodesAttributes"
             (click)="showAllNodesAttributes(!showAllForNodes)">
      <label class="form-check-label" for="showNodesAttributes">
        {{'SIDEBAR_EDIT_CB_NODES_ATTRIBUTES' | translate}}
      </label>
    </div>

    <table *ngIf="graphService.selectedElements.nodes.length > 0" class="table table-bordered">
      <thead>
        <th>&nbsp;</th>
        <th>{{'SIDEBAR_EDIT_COMPARISON_NODE_NAME' | translate}}</th>
        <th>{{'SIDEBAR_EDIT_COMPARISON_NODE_ATTRIBUTES' | translate}}</th>
      </thead>
      <tbody>
        <tr *ngFor="let node of graphService.selectedElements.nodes">
          <td>
            <button class="btn btn-outline-success" (click)="graphService.highlightByElementId(node.id)"
                    data-toggle="tooltip" data-placement="bottom"
                    title="{{'SIDEBAR_EDIT_TT_ID' | translate}} {{node.id}}">
              <fa-icon [icon]="faLightbulb" (click)="graphService.highlightByElementId(node.id)"></fa-icon>
            </button>
          </td>
          <td>
            <a role="button" (click)="showAttributesForId(node.id)">{{node.name}}</a>
          </td>
          <td *ngIf="showAttributesFor === node.id || showAllForNodes">
            <table class="table table-borderless">
              <tr *ngFor="let attribute of node.attributes">
                <td><b>{{attribute.keyHR}}</b></td>
                <td>{{attribute.valueHR}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <hr>

    <!-- Display selected edges -->
    <h5 *ngIf="graphService.selectedElements.nodes.length > 0">{{'SIDEBAR_EDIT_COMPARISON_EDGES' | translate}}</h5>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="{{showAllForEdges}}" id="showEdgesAttributes"
             (click)="showAllEdgesAttributes(!showAllForEdges)">
      <label class="form-check-label" for="showEdgesAttributes">
        {{'SIDEBAR_EDIT_CB_EDGES_ATTRIBUTES' | translate}}
      </label>
    </div>

    <table *ngIf="graphService.selectedElements.edges.length > 0" class="table table-bordered">
      <thead>
        <th>&nbsp;</th>
        <th>{{'SIDEBAR_EDIT_COMPARISON_EDGE_NAME' | translate}}</th>
        <th>{{'SIDEBAR_EDIT_COMPARISON_EDGE_ATTRIBUTES' | translate}}</th>
      </thead>
      <tbody>
        <tr *ngFor="let edge of graphService.selectedElements.edges">
          <td>
            <button class="btn btn-outline-success" (click)="graphService.highlightByElementId(edge.id)"
                    data-toggle="tooltip" data-placement="bottom"
                    title="{{'SIDEBAR_EDIT_TT_ID' | translate}} {{edge.id}}">
              <fa-icon [icon]="faLightbulb" (click)="graphService.highlightByElementId(edge.id)"></fa-icon>
            </button>
          </td>
          <td>
            <a role="button" (click)="showAttributesForId(edge.id)">{{edge.name}}</a>
          </td>
          <td *ngIf="showAttributesFor === edge.id || showAllForEdges">
            <table class="table table-borderless">
              <tr *ngFor="let attribute of edge.attributes">
                <td><b>{{attribute.keyHR}}</b></td>
                <td>{{attribute.valueHR}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <div class="nav nav-pills flex-row" id="editsNav" role="tablist" aria-orientation="horizontal">
    <a class="nav-link active" id="editsNavAspects" data-toggle="pill" href="#editsNavAspectsContent" role="tab"
       aria-controls="editsNavAspects" aria-selected="false">{{'SIDEBAR_EDIT_ATTRIBUTES_TITLE' | translate}}</a>
    <a class="nav-link" id="editsNavStyles" data-toggle="pill" href="#editsNavStylesContent" role="tab"
       aria-controls="editsNavStyles" aria-selected="false">{{'SIDEBAR_EDIT_STYLE_TITLE' | translate}}</a>
    <a class="nav-link" id="editsNavHighlights" data-toggle="pill" href="#editsNavHighlightsContent" role="tab"
       aria-controls="editsNavHighlights" aria-selected="true">{{'SIDEBAR_EDIT_EDITING_TITLE' | translate}}</a>

  </div>

  <div class="tab-content p-2" id="editsNavContent">

    <!-- Edit: Aspects -->
    <div class="tab-pane fade show active" id="editsNavAspectsContent" role="tabpanel"
         aria-labelledby="editsNavAspects">

      <h5
        *ngIf="selectedNetwork.mappings && (selectedNetwork.mappings.nodesDiscrete.length > 0 || selectedNetwork.mappings.nodesContinuous.length > 0)">
        {{'SIDEBAR_EDIT_ASPECTS_NODES' | translate}}
      </h5>

      <table class="table table-bordered" *ngIf="selectedNetwork.mappings && selectedNetwork.mappings.nodesDiscrete.length > 0">
        <tr *ngFor="let nodeMap of selectedNetwork.mappings.nodesDiscrete">
          <td><b>{{nodeMap.classifier}}</b></td>
          <td>
            <table class="table table-borderless">
              <tr class="border-bottom">
                <td colspan="1">&nbsp;</td>
                <td *ngFor="let styleProp of nodeMap.th"><b>{{styleProp}}</b></td>
              </tr>
              <tr *ngFor="let value of nodeMap.values; let i = index">
                <td class="border-right">
                  <a role="button" (click)="graphService.highlightBySelector(nodeMap.selectors[i])"
                     data-toggle="tooltip" data-placement="bottom"
                     title="{{'SIDEBAR_EDIT_TT_SELECTOR' | translate}} {{nodeMap.selectors[i]}}"><b>{{value}}</b>
                  </a>
                </td>
                <td *ngFor="let style of nodeMap.styleMap; let j = index">
                  <span>
                    <span *ngFor="let cssValue of style.cssValues; let k = index">
                      <span *ngIf="style.selectors[k] == nodeMap.selectors[i]">
                        {{cssValue}}
                        <span *ngIf="cssValue.toString().indexOf('#') === 0"
                              class="badge badge-pill border"
                              [ngStyle]="{'background-color': cssValue}">&nbsp;
                        </span>
                      </span>
                    </span>

                  </span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <ul class="list-group" *ngIf="selectedNetwork.mappings && selectedNetwork.mappings.nodesContinuous.length > 0">
      <span *ngFor="let nodeMap of selectedNetwork.mappings.nodesContinuous; let index = index">
        <li class="list-group-item" *ngIf="nodeMap.chartValid">
          <a role="button" (click)="displayMapping(nodeMap.chart, [], 'nc' + index)">
            <b>{{nodeMap.title[0]}}</b>
            {{'SIDEBAR_EDIT_MAPPED_BY' | translate}}
            <b> {{nodeMap.title[1]}}</b>
          </a>
        </li>
        <li class="list-group-item" *ngIf="nodeMap.gradientValid">
          <a role="button" (click)="displayMapping(null, nodeMap.colorGradient, 'nc' + index)">
            <b>{{nodeMap.title[0]}}</b>
            {{'SIDEBAR_EDIT_MAPPED_BY' | translate}}
            <b> {{nodeMap.title[1]}}</b>
          </a>
        </li>
      </span>
      </ul>

      <h5
        *ngIf="selectedNetwork.mappings && (selectedNetwork.mappings.edgesDiscrete.length > 0 || selectedNetwork.mappings.edgesContinuous.length > 0)">{{'SIDEBAR_EDIT_ASPECTS_EDGES' | translate}}</h5>

      <table class="table table-bordered" *ngIf="selectedNetwork.mappings && selectedNetwork.mappings.edgesDiscrete.length > 0">
        <tr *ngFor="let edgeMap of selectedNetwork.mappings.edgesDiscrete">
          <td><b>{{edgeMap.classifier}}</b></td>
          <td>
            <table class="table table-borderless">
              <tr class="border-bottom">
                <td colspan="1">&nbsp;</td>
                <td *ngFor="let styleProp of edgeMap.th"><b>{{styleProp}}</b></td>
              </tr>
              <tr *ngFor="let value of edgeMap.values; let i = index">
                <td class="border-right">
                  <a role="button" (click)="graphService.highlightBySelector(edgeMap.selectors[i])"
                     data-toggle="tooltip" data-placement="bottom"
                     title="{{'SIDEBAR_EDIT_TT_SELECTOR' | translate}} {{edgeMap.selectors[i]}}"><b>{{value}}</b></a>
                </td>
                <td *ngFor="let style of edgeMap.styleMap">
                <span *ngIf="style.cssValues.length > i">

                  {{style.cssValues[i]}}
                  <span *ngIf="style.cssValues && style.cssValues[i].toString().indexOf('#') === 0"
                        class="badge badge-pill border"
                        [ngStyle]="{'background-color': style.cssValues[i]}">&nbsp;
                  </span>

                </span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <ul class="list-group" *ngIf="selectedNetwork.mappings && selectedNetwork.mappings.edgesContinuous.length > 0">
      <span *ngFor="let edgeMap of selectedNetwork.mappings.edgesContinuous; let index = index">
        <li class="list-group-item" *ngIf="edgeMap.chartValid">
          <a role="button" (click)="displayMapping(edgeMap.chart, [], 'ec' + index)">
            <b>{{edgeMap.title[0]}}</b>
            {{'SIDEBAR_EDIT_MAPPED_BY' | translate}}
            <b>{{edgeMap.title[1]}}</b>
          </a>
        </li>
        <li class="list-group-item" *ngIf="edgeMap.gradientValid">
          <a role="button" (click)="displayMapping(null, edgeMap.colorGradient, 'ec' + index)">
            <b>{{edgeMap.title[0]}}</b>
            {{'SIDEBAR_EDIT_MAPPED_BY' | translate}}
            <b>{{edgeMap.title[1]}}</b>
          </a>
        </li>

      </span>
      </ul>

    </div>

    <!-- Edit: Styles -->
    <div class="tab-pane fade" id="editsNavStylesContent" role="tabpanel" aria-labelledby="editsNavStyles">

      <div class="row border-bottom">
        <div class="col">
          {{'SIDEBAR_EDIT_TH_CLASSNAME' | translate}}
        </div>
        <div class="col">
          <b>{{'SIDEBAR_EDIT_TH_CSS_KEY' | translate}}</b>: {{'SIDEBAR_EDIT_TH_CSS_VALUE' | translate}}
        </div>
      </div>
      <div class="row border-bottom" *ngFor="let s of selectedNetwork.style">
        <div class="col">
          <a role="button" (click)="graphService.highlightBySelector(s.selector)"
             data-toggle="tooltip" data-placement="bottom"
             title="{{'SIDEBAR_EDIT_TT_SELECTOR' | translate}} {{s.selector}}">{{s.selector}}</a>
        </div>
        <div class="col">
            <span *ngFor="let css of s.style|keyvalue">
              <b>{{css.key}}</b>: {{css.value}}
              <span *ngIf="css.value.toString().indexOf('#') === 0" class="badge badge-pill border"
                    [ngStyle]="{'background-color': css.value}">&nbsp;
              </span>
              <br>
            </span>
        </div>
      </div>
    </div>

    <!-- Edit: Highlight color -->
    <div class="tab-pane fade" id="editsNavHighlightsContent" role="tabpanel"
         aria-labelledby="editsNavHighlights">

      <div class="alert alert-success" role="alert" id="test">
        <fa-icon class="mr-2" [icon]="faPalette"></fa-icon>
        <b>{{'SIDEBAR_EDIT_TOAST_UPDATE' | translate}}</b>
        <hr>
        <b>{{'SIDEBAR_EDIT_TOAST_NODES' | translate}}</b> {{highlightNodes}}<br>
        <b>{{'SIDEBAR_EDIT_TOAST_EDGES' | translate}}</b> {{highlightEdges}}<br>
        <b>{{'SIDEBAR_EDIT_TOAST_DURATION' | translate}}</b> {{highlightDuration}}<br>
      </div>

      <div class="form-row">

        <label for="highlightNodesHex">{{'SIDEBAR_EDIT_LABEL_HEX_NODE' | translate}}</label>
        <input type="text" class="form-control mb-2" id="highlightNodesHex" name="highlightNodesHex"
               placeholder="#0000ff" [(ngModel)]="highlightNodes">

        <label for="highlightEdgesHex">{{'SIDEBAR_EDIT_LABEL_HEX_EDGE' | translate}}</label>
        <input type="text" class="form-control mb-2" id="highlightEdgesHex" name="highlightEdgesHex"
               placeholder="#ff00ff" [(ngModel)]="highlightEdges">

        <label for="highlightDuration">{{'SIDEBAR_EDIT_LABEL_DURATION' | translate}}</label>
        <input type="number" min="0" step="1" class="form-control mb-2" id="highlightDuration"
               name="highlightDuration"
               placeholder="4000" [(ngModel)]="highlightDuration">

        <button type="button" class="btn btn-outline-success btn-block mb-3"
                (click)="graphService.setHighlightColorAndDuration(highlightNodes, highlightEdges, highlightDuration)">
          {{'SIDEBAR_EDIT_BTN_SUBMIT' | translate}}</button>

      </div>
    </div>

  </div>

</div>


